﻿@import "bootstrap.less";
@img : 'img';
/** Less Rules **/

html, body,h1,h2,h3,h4,h5 { margin: 0; padding: 0; }
p{margin:10px 0;}
body,input,textarea{#font .sans-serif();font-size:13px;line-height:13px;}
body{background:url(img/bg-body.png) 0 124px repeat-x;}
textarea {resize: none;}
a{text-decoration:none;
  img{border:0;}
}

a.BotonTestimonios:link, 
a.BotonTestimonios:visited, 
a.BotonTestimonios:active, 
a.BotonTestimonios:hover
{
  height: 32px;
  width:100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: top;
  line-height: 30px;
  font-family: "Oswald";
  font-size: 18px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
  display:block;
}

a.BotonTestimonios:hover
{
  background-position: 0 -32px;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: top;
  line-height: 30px;
  font-family: "Oswald";
  font-size: 18px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  color: #ffffff;
  display:block;
}


a.smallBanner:link, 
a.smallBanner:visited, 
a.smallBanner:active, 
a.smallBanner:hover
{
  height: 45px;
  width:100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: middle;
  line-height: 37px;
  font-family: "Oswald";
  font-size: 18px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
  display:block;
}

a.smallBanner:hover
{
  background-position: 0 -45px;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: middle;
  line-height: 37px;
  font-family: "Oswald";
  font-size: 18px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  display:block;
}

a.mediumBanner:link, 
a.mediumBanner:visited, 
a.mediumBanner:active, 
a.mediumBanner:hover
{
  height: 160px;
  width:100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: middle;
  line-height: 20px;
  font-family: "Oswald";
  font-size: 16px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size-adjust: none;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
  display:block;
  padding-top: 10px;
}

a.mediumBanner:hover
{
  background-position: 0 -71px;
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  text-align:center;
  vertical-align: middle;
  line-height: 20px;
  font-family: "Oswald";
  font-size: 16px;
  font-style:normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size-adjust: none;
  color: #ffffff;
  text-transform: uppercase;
  display:block;
  padding-top: 10px;
}

.w-agenda1{font-size:10px;position: relative; width: 290px; 
  .w-eventos{background-color: #f6f6f6; 
    a{color:#000;
        .highlight{color:#95368a;} 
        &:hover{color:#666;}
      }
    h3{font-size:13px;padding:0 10px;text-transform:uppercase;border-bottom:1px dashed #ccc;height:22px;line-height:22px;
      
    }
    .slider{position: relative;height:51px;margin:10px 18px ;}
    .slide{position: absolute;}
    .event{ 
      .cnt-cal{display:block;position:relative;width:50px;float:left;}
      .cal{z-index:1;background:url(img/bg-calendar-adm.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#8b8b8c;margin-top:10px;}
      }
      .cnt-cal:hover .calh{display:block}
      .calh{display:none;position:absolute; left:0;top:0;z-index:2;background:url(img/bg-calendar-h.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#AA5EA0;margin-top:10px;}
      }
      .info{float:right;line-height:11px;color:#808080;width:195px;
        h4{font-size:13px;color:#000;

        }
      }
    }
  }
  .foot{font-size:11px;text-align:center;background:#e6e6e7;height:22px;line-height:22px;border-top:1px dashed #ccc;
    a{display:block;color:#aaabad;
      &:hover{background:#bd85b5; color:#fff;height:22px;}
      
    }
  }
  .shadow{background:url(img/sombra2.png) center bottom no-repeat;height:9px;}
  .shadow2{background:url(img/sombra3.png) center bottom no-repeat;height:9px;}
}
 
/*Common*/
.inner{width:960px;position:relative;margin:auto;}
.icon{.back('layout.png');display: inline-block; width: 14px; height: 13px; vertical-align: middle;
  &.i-home{background-position: 0 -370px;}
  &.i-facebook{background-position: 0 -297px; width: 23px; height: 23px; }
  &.i-twitter{background-position: 0 -508px; width: 23px; height: 23px;}
  &.i-arrowdown{background-position: 0 -51px; width: 9px; height: 6px;}
  &.i-find{background-position: 0 -433px; width: 25px; height: 25px;}
  &.i-print{background-position: 0 -180px; width: 12px; height: 12px;}
  &.i-send{background-position: -17px -180px; width: 12px; height: 12px;}
  &.i-eye{background-position: -33px -184px; width: 14px; height: 8px;}
  &.i-play{background-position: -230px -182px; width: 73px; height: 71px;}
}
.btn{background: #666666;border:0;color:#fff;cursor: pointer;

}
.fancyboxVideo{position: relative;display: block;
}
.i-play {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  left: 50%;
  margin-left: -36px;  
}
.menu{.clearfix();
  list-style:none;margin:0;padding:0;
  li{float: left;padding:0;margin:0;}
}
.bgtitle{ 
  .back('bg-breadcrumb.png',repeat);
}
.bg{
  .back('bg-arrows-banner.png'); 
}
.back(@image:'layout.png',@repeat:no-repeat){
  background:url('img/@{image}') 0 0 @repeat; 
}
.b{
  background:url(img/layout.png) 0 0 no-repeat; 
}
.bgpos(@pos: 0 0,@posicon: 0 0 ){
  background-position: @pos;
  .icon{
    background-position: @posicon;
  }
}

.link{background: none 0 0 no-repeat;width:293px;
  font:18px 'Oswald';color:#fff;text-align:center;height:44px;line-height:40px;
  a{color:#fff;text-transform:uppercase;display: block;
  }
  &.l-1{background-image: url(img/bg-btn-large-2.png);}
  &.l-2{background-image: url(img/bg-btn-large-3.png);}
  
  &:hover{.bgpos(0 -45px)}
}

.linkGrande{background: none 0 0 no-repeat;width:293px;
  font:18px 'Oswald';color:#fff;text-align:center;height:70px;line-height:40px;
  a{color:#fff;text-transform:uppercase;display: block;
  }
  &.l-1{background-image: url(img/bg-btn-large-2.png);}
  &.l-2{background-image: url(img/bg-btn-large-3.png);}
  
  &:hover{.bgpos(0 -70px)}
}


.btn-yellow{background: url(img/btn-yellow.png) 0 0 no-repeat;width:204px;padding: 2px 0 9px;font:18px 'Oswald';color:#fff;text-align:center;height:38px;line-height:38px;color:#fff;text-transform:uppercase;display: block;

  &:hover{.bgpos(0 -49px)}
}

.boxes{.clearfix();
  .box{float:left;}
}
.s-controllers{
  .prev, .next{.bg();width:10px;height:12px;top:60px;position: absolute;cursor: pointer;
    &:hover{.opacity(50);} 
  }
  .prev{background-position:0 -76px;left:0;}
  .next{background-position:-16px -76px;right:0;}
}
.m-popup{
  .inner{width:auto;}
}
.posup{z-index:99999;}

.form{margin-top:20px;position:relative;
  label {display:inline-block;width:109px;vertical-align:middle;color:white;font-size:13px;margin-left:5px;line-height:20px;}
  .submit{background: url(img/bg-submit-procesos.png) left 0;display:block;text-indent:-999px;width:103px;height:43px;border:0;cursor:pointer;}
  .submit:hover{background-position: left -50px;}
  .row {padding:2px;background-color:#f19736;width:320px;margin-bottom:10px;
    &.r-1{background-color:#ed6a57;}
    &.r-2{background-color:#879acd;width:445px;}
    .input, .texarea {border:0;font-size:11px;}
    .textarea {width:325px;height:109px;border:0;vertical-align:top;}
    .input{width:203px;height:16px;vertical-align:middle;} 
  }
  .cnt-submit {position:absolute; right:34px;bottom:0;}
}

.w-agenda{font-size:10px;position: relative;
  .w-eventos{background-color: #f6f6f6; 
    a{color:#000;
        .highlight{color:#95368a;} 
        &:hover{color:#666;}
      }
    h3{font-size:13px;padding:0 10px;text-transform:uppercase;border-bottom:1px dashed #ccc;height:22px;line-height:22px;
      
    }
    .slider{position: relative;height:51px;margin:10px 18px ;}
    .slide{position: absolute;}
    .event{ 
      .cnt-cal{display:block;position:relative;width:50px;float:left;}
      .cal{z-index:1;background:url(img/bg-calendar-adm.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#8b8b8c;margin-top:10px;}
      }
      .cnt-cal:hover .calh{display:block}
      .calh{display:none;position:absolute; left:0;top:0;z-index:2;background:url(img/bg-calendar-h.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#AA5EA0;margin-top:10px;}
      }
      .info{float:right;line-height:11px;color:#808080;width:205px;
        h4{font-size:13px;color:#000;

        }
      }
    }
  }
  .foot{font-size:11px;text-align:center;background:#e6e6e7;height:22px;line-height:22px;border-top:1px dashed #ccc;
    a{display:block;color:#aaabad;
      &:hover{background:#bd85b5; color:#fff;height:22px;}
      
    }
  }
  .shadow{background:url(img/sombra2.png) center bottom no-repeat;height:9px;}
  .shadow2{background:url(img/sombra3.png) center bottom no-repeat;height:9px;}
}











































/*Header*/
#header{background: #1570bb  ;height:124px;position: relative;
  .inner{  }
  .logo{position: absolute;top:14px;left:4px;width:258px;background: url(img/logo.png);
    a{display: block;height:57px;text-indent:-99999px;}
  }
  .subnav{font-size:10px;right:-10px;position: absolute;top:10px;
    li{line-height:12px;}
    li:first-child a{border-left:0;}
      a{color:#fff;padding:0 10px;border-left:1px solid #fff;
    }
  }
  .topnav{font-size:11px;color:#b2b1b1;position: absolute;left:210px;top:8px;
    li{float: right;}
    .i-home{vertical-align:baseline;margin-top:2px;}
    a{color:#b2b1b1;display: inline-block;vertical-align: middle;padding:0 14px;}
  }
  .social{position: absolute;right:0;top:7px;color:#bfbfbf;font-size:11px; width: 200px;text-align: right;
    span,a{vertical-align:middle;display: inline-block;
      &.icon{border:1px solid #9e9fa0;}
    }
  }
  .nav{background:#fefefe url(img/bg-layout-gradients.png) 0 -43px; 
    bottom:0px;left:0;z-index:1;position: absolute;width:100%;font-size:12px;
    ul{list-style:none;margin:0;padding: 0px;
      li{float:left;min-width:130px; text-align:center;position: relative;
        &:first-child a{background-position: -100px -100px;}
        a{min-width:114px; background:url(img/bg-layout-gradients.png) 0 -96px no-repeat;color:#808080;display: block;padding:0 8px;line-height:36px;height:36px;
          &:hover{color:#000;}
          &:hover,&.active{background-position:0 0 !important;background-repeat:repeat-x;color:#fff;
            span{background:url(img/trian-menu2.png);width:12px; height:7px;position: absolute;
              margin-left:-6px;left:50%;bottom:0;}
          }
          &:hover{font-weight:normal;}
        }
      }
    }
  }
  .search{position: absolute;right:0;top:50px;
    .input{width:140px;padding:0px 20px 0px 5px;height:18px;font-size:11px;line-height:18px;background-color: #fafbfc;border:0;}
    .button{position:absolute;right:2px;top:1px;border:0;background:url(img/bg-arrows-banner.png) -29px -72px;cursor:pointer;
        width:20px;height:20px;}
  }
  .panel{display:none;}
}
.w-banner{height:338px;

  .w-slider{height:350px;background:url(img/bg-pattern-slider.png) 0 5px;position:relative;
    .slides{height:350px;}
    .slide{position: absolute;left:0;left:0;width:960px;    
    .img{position: absolute;top:20px}
    .info{ color:#fff;font-family:'Oswald';position: relative;left:0;bottom:0;width:960px;
      img{position: absolute;}


















    }
    &.s-left{
      .img{left: 0;}
      .info{
        img{position: absolute;top:20px;right: 15px;}
      }   













    }
    &.s-right{
      .img{right: 0;}
      .info{ position: absolute; top: 35px; left: 15px;}
    } 














    }
    .slider-controllers{position: absolute;top:0;left:0;z-index:9999;width:100%;display: block;
      .prev,.next{position: absolute;top:0px; width:34px;background: none;
        cursor:pointer;height:300px;z-index:99999;overflow: hidden;
        .imgs{position: absolute;top:100px;width:106px;height:62px;
          .slide{position: absolute;}
        }
      }
      div{
        .icon{.bg();width:34px;height:62px;position: absolute;top:100px;}
        &.prev{left:0;
          .imgs{right:34px;}
          .icon{.bgpos(right -106px);right:0;}
        }
        &.next{right:0; 
          .imgs{left:34px;}
          .icon{.bgpos(left -169px);left:0;}
        } 
        &:hover{
          &.prev .icon{.bgpos(right -232px);}
          &.next .icon{.bgpos(0 -295px); }
        }
      }
    }
  } 
}
.w-menu{font-size:11px;text-transform:uppercase;top: -74px; position: absolute;  
  li {position: relative;
    a{.back('bg-layout-gradients.png',repeat);color:#fff;font-weight:bold;display: block;height:37px;text-align:center;min-width:114px;
      line-height:37px;text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);.box-shadow( 0px 0px 5px rgba(0, 0, 0, 0.3) );  
      &.double{width:130px;line-height:11px;padding-top:7px;height:30px;}
      &.link-1{.bgpos(-0 -150px, 0 0)}
      &.link-2{.bgpos(-0 -195px, -36px 0)}
      &.link-3{.bgpos(-0 -240px, -72px 0)}
      &.link-4{.bgpos(-0 -285px, -108px 0)}
      &.link-5{.bgpos(-0 -330px, -144px 0)}
      &.link-6{.bgpos(-0 -375px, -180px 0)}
      &.link-7{.bgpos(-0 -420px, -216px 0)}
      &.link-8{.bgpos(-0 -465px, -252px 0)}
      .icon{position: absolute;width:36px;height:28px;background:url(img/i-buttons.png) 0 0 no-repeat;
        .transition(all 0.3s ease);left:0;top:-0px;z-index:-1;} 
      &:hover{display: block;text-shadow: 0px 1px 5px #000 ;.box-shadow( inset 0px 0px 10px rgba(0, 0, 0, 0.4) );
        .icon{top:-28px;}
      }
    }
  }
}
.w-hightnav{position: absolute;width:100%;z-index:9999;}
.w-breadcrumb{.bgtitle();height:26px;position: relative;top: -26px;
  a{color:#bfc0c1}
  .menu{float:left;font-size:12px;
    a{display: block;background:url(img/sp-breadcrumb.png) center right no-repeat;line-height:26px;
      padding:0 20px 0 10px;
      &:hover{color:#fff;}
    }
  }
  .register{float:right;line-height:26px;margin-right:10px;
    a{color:#bfc0c1;font-size:13px;font-weight:bold;
      &:hover{color:#fff;}
    }
  }
}
/* Inner Modules */
.m-interior{  
  background:url(img/bg-body-interior.png) 0 124px repeat-x;
  zoom: 1;
  &.m-epu,&.m-mod,&.m-carreras,&.m-noti{background-image:url(img/bg-body-interior-grey.png);}
  &.m-descargas,&.m-ex,&.m-social{background-image:url(img/bg-body-interior-gradient.png);} 
  &.m-contacto{background-image:url(img/bg-body-interior-blue.png);} 
  &.m-testix{background-image:url(img/bg-body-interior-pattern.jpg);background-color:#f7f7f7;} 
  &.m-social{
    .slogan{font-size:16px;font-weight:bold;left:360px;color:#a34a97;background:none !important;
      line-height:120%;top:90px;width:400px;}
  }

  .list{ color:#0092d2;
    span{color:#707173;}
    li{margin:10px 0}
  }
  .listado {margin-left: 20px;padding: 0 10px 0 0;
    li {list-style-image:url('img/bg-li.png');
        a{color:#707173;}
    }
    &.l-red li{list-style-image:url('img/bg-li-red.png');}
   }       
  .listado2 {margin:0px 0px 0px 10px;padding-left: 0;
    li {list-style-image:url('img/bg-li.png');
        a{color:#707173;}
    }
   }  
  .w-banner {height:300px;
    .w-slider{background:none;
      .slides{height:300px; 
    .slide{position: absolute;left:0;left:0;width:960px;    
      .img{position: absolute;top:20px}
      .info{ color:#fff;font-family:'Oswald';position: relative;left:0;bottom:0;width:960px;
        img{position: absolute;}
      }
      &.s-left{


























        .img{left: 0;}
        .info{
          img{position: absolute;top:35px;right: 15px;}
        }   
      }
      &.s-right{








        .img{right: 0;}
        .info{ position: absolute; top: 35px; left: 15px;}
      } 
    }         








      }
      .slider-controllers{display: none;}
    }
  }
}
/*************/
/* Carreras */ 
.menu{ 
  .title{
    #gradient > .vertical(#0092d2,#0c5c92); 
    color: #FFFFFF;display: block;font-weight: bold;height: 37px;
    line-height: 37px;min-width: 114px;text-align: center;font-size:17px;
    a{color:#fff;display: block;}
    a:hover{color:#eee;}
    &.calendar{margin-bottom:20px;font-weight: bold;
      #gradient > .vertical(#babbbd,#8c8d8f);
    }
  }
}
.mode(@btn:#e63431,@from:#e63431,@to:#aa2d2a){ 
  .w-slider .slides div.info div{background: @btn !important;} 
  .w-proceso h1{color:@btn;}
  .menu .title{#gradient > .vertical(@from,@to); }
}
.mode-1{
  .mode();
}
.mode-2{ 
  .mode(#babb0f,#d2d700,#a3a01b);
}
.mode-3{ 
  .mode(#ef237e,#ef237e,#ac2261);
}
.mode-4{ 
  .mode(#00a4db,#00a4db,#0085b3);
}
.mode-5{ 
  .mode(#f9a000,#f9a000,#d57d0c);
}
.mode-6{ 
  .mode(#00b0b4,#00b0b4,#009b9f); 
}
.mode-7{ 
  .mode(#663682,#663682,#442f73);
}
.mode-8{ 
  .mode(#663682,#663682,#442f73);
}
/*************/
#footer{background:#4b4b4b;color:#A6A7A9;z-index:9999;position: relative;
    a{color:#a6a7a9;}
    a:hover{color:#fff;}
    h4{margin-bottom:10px;padding:20px 0 5px 0 ;font-size:12px;border-bottom:1px dashed #8c8c8c;}
    ul,li{list-style:none;margin:0;padding:0;}
  .footer-links{padding-top:0px;line-height:17px;padding-bottom:20px; 
  }

  .f-links{ font-size:12px;
    .block{float:left;width:200px;border-left: 1px solid #555;padding-left:20px;
      &:first-child{border:0;padding:0;}
      h3{font-weight:normal;margin:0;font-size:12px;}
      ul{}
      &.last{padding-left:30px;
        a{color:#fff;}
        h3{margin-bottom:20px;font-weight:normal;}
      }
      &.extend{border:1px solid #303030;border-width:0 1px;width:385px;padding:0 40px;min-height:120px;
        li{float:left;width:184px;}
      }
    }
    .seal{background:url(img/i-seal-info.png);width:74px;height:70px;position: absolute;text-indent:-9999px;top:-60px;}
    .form{font-size:11px;
      div{margin-bottom:5px;}
      input{border:0;background:none;margin:0  0;font-size:10px;padding:0 5px;vertical-align:middle;
        &.input{background-color: #fff;height:18px;}
        &.btn{background:url(img/bg-submit-procesos.png) -0 -97px no-repeat;height:19px;width:53px;cursor: pointer;
          &:hover{background-position:0 -121px;}
        } 
      }
      .hr{border-top:1px solid #ccc;width:156px;margin:5px 0;}
    }
    .social{width:164px;height:24px; 
      div{float:left;width:23px;height:24px;
        &.fb{width:85px;}
        a{display: block;text-indent:-9999px;}
      }
      .mg {margin-right:10px;}
          .fb1{background:url(img/icon-fb.png) no-repeat }
      .tw1{/*background:url(img/icon-tw.png) no-repeat */}
      .yt{background:url(img/icon-yotube.png) no-repeat }
      .fl{/*background:url(img/icon-ficler.png) no-repeat */}
    }
  }
  .f-address{background:#1570bb;height:100px;
    .address{color:#fff; line-height:16px;padding-top:15px;font-size: 14px;
      a{color:#fff;}
      .hr{border:1px dashed #ccc;margin:5px 0;}
    }      
  }
}
.w-content{
  background-color: #fff;.clearfix();z-index:9999;
}
.w-proceso{padding: 40px;color:#707173;
  h1{margin-bottom:10px;font-size:27px;line-height:100%;color:#29aae1;}
  h2{margin-bottom:10px;}
  .w-contentinfo{margin-left:280px;text-align:justify;width:605px;line-height:20px;margin-top:-15px;} 
  /*Filas*/
  .fila,.fila2 {border-bottom:1px dashed #bbb5a6;margin-bottom:20px;padding-bottom:20px;z-index:1;}
  .fila2 {position:relative;border-bottom:0px;} 
  &.w-proceso-full{ 
    .w-contentinfo{padding:0; width:auto;}
  }
  a{color:#555;
    &:hover{color:#333;}
  }
  .f-duda{width:600px;position: relative;}
}
.map{ 
  .map-canvas{height:300px;}
  .map-buttons{}
}

/*Table Schedule*/
.t-horario{font-size:12px;
  &.t-programa{ 
    th{.border-radius(3px 0 0 3px);font-size:12px;}
    td{padding:15px;text-align:left; }
  }
  &.t-curricula{color:#58595b;width:90%;
    th{ font:14px 'Oswald';color:#fff;text-transform: uppercase;width: 130px;height: 57px;position: relative;line-height: 120%;background-image: url(img/sep_color_lista.png);background-repeat: no-repeat;background-position: 4px center; 
 
    .sep{width: 8px; height: 57px; position: absolute; right: -22px;top: -20px;}
  }
  th.multi{
    
  }
  th{
    div{display: block;position: relative;}
  }
  
  
    th,td{padding: 7px 20px;}
    td{text-align: left;}
  
   
    tr.odd td{background-color: #efefef}
    tr.even td{background-color: #e6e7e8} 
  
  
  }
  &.t-fechas{  
    .r-span{
      td{height:0px;}
    }
  }
  td,th{padding:5px;text-align:center;line-height:130%;}
  th{padding:5px 0;}
  tbody{
    td{height:35px;
      &.span{padding:0;}
    }
  }
  tfoot{
    th{background:#f3f3f3;padding:10px;}
  }
  /*columns*/
  .c-1{width:110px;}
  .c-2{width:0px;}
  .c-3{width:110px;}
  .c-4{width:110px;}
  .c-5{width:140px;}
  .c-6{width:110px;}
  .c-7{width:170px;}
  .c-8{width:410px;}
  /*colores*/
  .b-1{background-color: #53c0de;color:#fff;}
  .b-2{background-color: #7ccde5;color:#fff;}
  .b-3{background-color: #ec7b80;color:#fff;}
  .b-4{background-color: #e8555a;color:#fff;}
  .b-5{background-color: #fafafa;}
  .b-6{background-color: #f3f3f3;}
  .b-7{background-color: #f99f41;}
  .b-8{background-color: #ef237e;}
  .b-9{background-color: #f14738;}
  .b-10{background-color: #8e8e8e;}
  .b-11{background-color: #d2d700;}
  .b-12{background-color: #a84c9a;}
  .b-13{background-color: #00a4db;}
  .b-14{background-color: #6c3f8f;}
  .b-15{background-color: #06acb2;}
  .b-16{background-color: #f4d500;} 
  /* row span*/
  .r-span{
    td{height:10px;padding:0;}
  }
  .r-double{
    td{height:20px;}
  }
}
.sumilla{margin:10px 0;}
.precio{color:#0092d2;font-size:26px;font-weight:bold;} 
/*Modules*/
.w-home{ padding:20px 10px;
  .main-block{.clearfix();
    .item{width:304px;float: left;margin-left:10px;
      &:first-child{margin-left:0;}
      &:item{margin-left:0;}
      &.w-block{position: relative; 
        img{display: block;}
        a{display: block;color:#fff;}
        strong{margin-left:10px;}
        .title{position: absolute;bottom:0;left:0;width:100%;.bgtitle();height:36px;line-height:36px;font-size:16px;font-weight:bold;}
      }
    }
    .w-social{
      .link{margin:0 5px;}
    }
  }
  .w-news-block{position: relative;margin-top:20px;
    .highlight{color:#f00;}
    .news{
      .events{background:#f6f6f6;min-height:302px;
        .row{position: absolute;margin:5px 0px;}
        .event{width:234px;margin:0 0px;
          .title{height:20px;line-height:20px;padding:0 10px;font-weight:bold;
            border-bottom:1px dashed #ccc;margin-bottom:15px;
          }
          h4{margin-bottom:10px;text-align:center;font-size:13px;}
          .info,.img{margin:0 10px 10px 10px;}
          .info{padding:0 2px;font-size:11px;
            .more{text-align:right;font-size:12px;font-weight:bold;
              a{color:#808080;}
              a:hover{color:#000;}
              .plus{font-size:14px;}
            }
          }
          .video{display: block;position: relative;  
          }
          .img{text-align:center;
            img{border:0;}
          }
        }
      }
      .sep{border-left:1px solid #e0e1e2;height:302px;position: absolute;top:0;left:234px;z-index:999;
        &.s-2{left:469px;}
        &.s-3{left:702px;}
      }
    }
    .s-controllers{
      div{top:140px;z-index:9999;}
    }
    .shadow{background:url(img/bg-shadow-event-box.png) center bottom;height:21px;}
  }
}

.w-contacto{color:#707173;
  .w-contentinfo{margin-left:0px;float:none !important;} 
  .address{margin-bottom:10px;}
  .map{position: relative;}
  .phone{line-height: 100%;color:#0092d2;font-size:31px;font-weight:bold;display:inline-block;vertical-align:middle;margin:20px 0;}
  .sendus{margin-bottom:10px;}
  .map-controls{font-size:10px;position: absolute;bottom:0;right:0;padding: 5px 10px 0 10px;background-color: #fff;
    a{color:#707173;margin-left:5px;}
    .icon{vertical-align:baseline;}
  }
  .row.r-2{background-color: #90d6e6;}
  .form{
    .img{position: absolute;bottom: -40px;right: -385px;}
    .submit{background-position:0 -142px;}
    .submit:hover{background-position:0 -50px;}
  }
}

.w-sociales {
  .block_list {
    .list{border:0 !important;border-left:1px dotted #BBB5A6 !important;
      a{color:#707173;}  
      &.first{border-left:0 !important;}
    }
  }
}

.w-testimonios .w-item.explain .expand_text{font-size:17px;}   
.w-testimonios{
  .w-item-big{position: relative;margin-bottom:20px;
    .img{position: relative;width:450px;
      a{display: block;}
    }
    .info{position: absolute;bottom:5px;right:0;font-size:28px;color:#999;
      font-weight:bold;width:200px;line-height:100%;
      .name{color:#0092d2;}
    }
  }
  .w-item{
    .media{position:relative;}
  }
}
/*Aside*/ 

/*module proceso*/ 
 
.w-aside{width:227px;float: left; position: relative;z-index:1; 
  .shadow{background:url(img/sombra.png) center bottom no-repeat;height:9px;}
  .main-block{display: block; height: auto;.clearfix();} 
  .menu{display: block;font-size:15px;
    
    .lst_menu{
      display: block;
      height: auto;
      overflow: hidden;
      margin: 10px 0 24px 0;
      padding: 0;
      li{line-height:120%;display: block;border-bottom:1px dotted #bbb5a6;width: 225px;float:none;
        a{
          color: #808080;padding: 3px 0 3px 30px; display: block;
          &:hover{color:#000;}
          &.selected{color: #000; font-weight: bold; background:url(img/icon-bullet.png) 4px 5px no-repeat;}
        }
      }
    }
    &.sec1{}
    &.sec2{}
  }
  .w-social{display: block; margin-bottom: 10px;width: 227px;
    .link{ 
      width:227px;
      font:18px 'Oswald';color:#fff;text-align:center;height:45px;line-height:37px;
      a{color:#fff;text-transform:uppercase;height:46px; } 
      a:hover{background:none 0 -50px; }
      &.l-download{font-size:16px;height:67px;line-height:20px;
        background:none;
        a:hover{background:none; }
        &.l-inscribete{height:67px; }
      }
      &.l-folleto{background-image:url(img/bg-btn-normal-2.png);font-size:16px;}
    }
    & .w-ico{
      display: block;
      height: 26px;
      padding: 0 0 8px 0;
      margin: 5px 0 6px 0;
      text-indent: -9999em;
    }
    & .fb{
      background:url("img/bg_social_ico.png") 0 0;
    }
    & .tw{ 
      background:url(img/bg_social_ico.png) 0 -40px;
    } 
  }
  .w-social-ico{
    margin-top: 0px;
  }
  .w-testimonio{
    width: 225px; 
    height: 187px;
    position: relative;
    padding: 0 0 11px 0;
    background:url(img/shadow_aside.png) no-repeat center bottom;
    margin: 0 0 10px;
    a{display: block;color:#fff;}
    strong{font-size:15px;font-weight:bold;}
    .title{padding:10px 5px 10px 10px ;position: absolute;bottom: 2px;left:0;width:210px;
      background:url(img/bg-breadcrumb.png);}
  }
  .w-aside-video{
    .i-play{margin-top: -45px;}
    .title{ font-size:14px ; line-height:18px;
      div{font-size:13px;}
    } 
  }
  
  .w-news-block{ 
    position: relative;
    width: 225px;
    margin-bottom: 10px;
      .highlight{color:#f00;}
      .news{
        .events{background:#f6f6f6; height:240px;
        .row{position: absolute;margin:5px 0px;}
        .event{width:225px;margin:0 0px;float:none;
          .title{color:#000;height:20px;line-height:20px;padding:0 10px;font-weight:bold;border-bottom:1px dashed #ccc;
            margin-bottom:15px;
          }
          h4{margin-bottom:5px;text-align:center;font-size:13px;color:#000;}
          .info,.img{margin:0 0 7px 0;
            img{display: block;margin:auto;}
          }
          .info{padding:0 0;font-size:11px;margin: 0 10px 10px;
          .more{text-align:right;font-size:12px;font-weight:bold;
            a{color:#808080;}
            .plus{font-size:14px;}
          }
          }
          .img{text-align:center;}
        }
        }
        .sep{border-left:1px solid #e0e1e2;height:302px;position: absolute;top:0;left:234px;
        &.s-2{left:469px;}
        &.s-3{left:702px;}
        }
      }
      .s-controllers{
        div{top:140px;z-index:9999;}
      }
    
    
    &.w-egresado-block{
      .events{height:300px;}
    }
    
  }
  
  
  .w-agenda{width:225px;margin: 0 0 10px 0;
    .slider{margin:15px 18px 5px 18px;
      h4{font-size:13px !important;margin-bottom:3px;}
      .info{font-size:9px;width:130px;line-height:10px;}
    }
  }

}
  
.staff{.inner();
  a{display: block;text-indent:-9999px;height:23px;position:absolute;right:10px;bottom:0px;background:url(img/staff.png) no-repeat; width:142px;}
}  

/***********************************************************/
/********************** Module N ***************************/

/*module proceso*/   
.w-proceso {
  .w-contentinfo{position:relative;text-align:justify; line-height:16px;  
     h2{color:#808080;font-size:20px;line-height:20px;
        img{vertical-align:middle;margin-top:-4px;}
        .highlight { color:#ed6a57;font-size:17px; }
        .highlight2 { color:#95368a}
        .highlight3 { color:#f19736}
        .highlight4 { color:#0092d2}
        .highlight5 { color:#d42522; font-size:16px;}
        .highlight6 { color:#707173;}
        .normal {font-size:17px; display:block;margin-right:5px;}
        .normal3 {font-size:15px; display:block;margin-right:5px;}
        .normal6 {font-size:15px; margin-right:25px;}
        .normal4 {font-size:15px; display:block;margin-right:5px;color:#ed6a57;}
        .normal5 {font-size:13px;margin-right:5px;}
        .normal2 {font-size:17px;  }
        .title1{font-size:13px;color:#00c5db;}
        .title2{font-size:13px;color:#828385;}
       }
    .detalle-bk{position:absolute;top:-19px;right:-19px;background:url('img/detalle-bk-1.png')repeat;width:55px;height:93px;}
        .fila-bk {position:relative;padding:20px 20px 10px 20px;
          background:url('img/img-brlaterales-1.png')repeat;width:570px;height:auto;
        h2{ margin:0px 0px 0px 0px;color:#d42522;}   
        ul{  }
        li {list-style-image:url('img/bg-li-red.png');
              a{color:#707173;}
          }
        
        }   
    .sub-fila{width:524px;line-height:46px;margin-bottom:10px;height:46px;
      .col{float:left;width:109px;color:white;text-align:center;background-color:#4FB3D6;
        .c1{background-color:#72C2DE;display:block}
        .c2{background-color:#E26770 ;display:block}
        .c3{background-color:#DB414C;display:block}
      
      }
      .col2{float:left;background-color:#fafafa;width:385px;color:#707173;padding-left:30px;
        .c1{color:#89c4d4;}
        &.f-double{line-height:15px;padding:8px 0 8px 30px;}
      }
           
    }
    .text-1{font-size:16px;}
    .text-3{font-size:13px;}
    .text-4{margin-left:20px;}
    .text-2{font-size:32px;color:#0092d2;}   
    .f-2 {
        h2{
          .highlight { color:#879acd;}
          
          } 
        }
     .f-3 {
        h2{
          .highlight { color:#c7d30b;} 
          } 
        }   
     .f-5 {
        h2{
          .highlight { color:#f19736;} 
          } 
        }
      .f-4 {
        h2{
          .highlight { color:#29aae1;}
          
          }
          .f-duda  {margin-top:20px;position:relative;
            label {display:inline-block;width:109px;vertical-align:middle;color:white;font-size:13px;margin-left:5px;line-height:20px;}
            .cnt-submit {position:absolute; right:34px;bottom:0;}
            .submit{background: url('img/bg-submit-procesos.png') left 0;display:block;text-indent:-999px;width:103px;height:43px;border:0;cursor:pointer;}
            .submit:hover{background-position: left -50px;}
            .row {padding:2px;background-color:#f19736;width:320px;margin-bottom:10px;
             &.r-1{background-color:#ed6a57;}
              &.r-2{background-color:#879acd;width:445px;}
              .input, .texarea {border:0;font-size:11px;}
              .textarea {width:325px;height:109px;border:0;vertical-align:top;}
              .input{width:203px;height:16px;vertical-align:middle;} 
            }
          }
      }  
       .t1 {
            tr{background:#f19736;width:315px;} 
       }
    .opcion {overflow: hidden;
      li {float:left; width:260px;list-style-image:url('img/bg-li.png');}
     }
      
  }
}
.w-preuniversitaria .ofrecido {margin-left: 25px;padding-left: 0;
      li {list-style-image:url('img/bg-li.png');
          a{color:#29aae1;}
      }
     
     }
.w-preuniversitaria{
     .mayor-info{background:url('img/img-preuniversitaria-1.png')no-repeat;width:602px; height:69px;
     text-align:center;line-height:60px;}     
     }
.w-cegresados .w-contentinfo{
    .fila-bk {position:relative;background:url('img/img-brlaterales-1.png')repeat;width:608px;height:auto;margin:0;border:none;
        ul{ }
        }
     .detalle-fondo  {position:absolute; right:-189px;top:150px;}
     .br-inferior{border-bottom:1px dashed #bbb5a6;margin-bottom:20px;}
  }   
.w-cpreparatorio  {
      table{border-collapse:collapse;}
      .tb-cnt{margin-bottom:20px;
        tfoot th{text-align:center;padding:20px ;}
      }
      .detalle-fondo  {position:absolute; right:-175px;top:150px;}
      .size1,.size2,.size3{width:122px;text-align:center; }
      .size2{width:88px;}
      .size3{width:112px;}
      .bg1{background-color:#f1f1f1;}
      .title-td,.title-td1,.title-td2,.title-td4{background-color:#4fb3d6;text-align:center;color:white;width:109px;
          line-height:15px;}
      .title-td1{background-color:#72c2de;}
      .title-td2{background-color:#E26770;}
      .title-td4{background-color:#DB414C;}
      .title-td3,.title-td5{color:#ed6a57; font-size:13px; font-weight:bold;}
      .title-td5{color:#91c8d7;}
      .tb-inf,.tb-inf2,.tb-inf3{width:402px;background-color:#fafafa;line-height:46px;margin-right:10px;}
      .tb-inf2{margin:10px 0px 10px 0px;}
      .tb-inf3{margin:0px 0px 10px 0px;}
      .subfila-2{text-align:center;line-height:4px;}
      .titulo-tb{margin-left:200px;
        .tit-1,.tit-2,.tit-3{float:left;}
        .tit-2{margin-left:74px}
        .tit-3{margin-left:114px}
      }
     .proced-1{width:287px;float:left;} 
     .proced-2{width:287px;padding-left:300px;} 
     .text-proced{padding:10px;}
     .let {color:#f1f1f1;font-size:50px;margin-left:10px;font-weight:bold;}
     .cnt-proced{margin-top:20px;font-size:12px;} 
}   
.w-admselectiva {
    p{margin:0;}
    .size-1{width:606px;}
    .size-1{width:520px;}
    .li{position:relative; margin-bottom:5px;min-height:60px;}
}
.w-admselectiva .w-contentinfo{
    .fila-bk {z-index:2;position:relative;background:url('img/img-brlaterales-1.png')repeat; height:auto;border:none;margin:0;
        ul{ }
        li {list-style-image:url('img/bg-li-red.png');
          a{color:#707173;}
      }
        }
 }
.w-admselectiva .w-contentinfo .img{position:absolute; top:0; right:0;}
.w-cescolares .w-contentinfo{
    
    .detalle-bk{position:absolute;top:-37px;right:19px;background:url('img/detalle-bk-2.png')repeat;width:32px;height:48px;}
}
.w-pensiones{ 
    p{margin-top:0;}
    .bt-spensiones{display:block;float:left;background:url('img/img-bt-spensiones.png') left 0 no-repeat;width:115px;height:121px;text-indent:-99999px;}
    .bt-spensiones:hover{background:url('img/img-bt-spensiones.png') left -121px no-repeat;width:115px;height:121px;}
    .cnt-cdtos{position:relative;.clearfix();height:135px;
      .let,.let3 {display:block;font-size:39px;margin-top:30px;}
      .let2 {display:block;margin:5px 0 -5px;font-size:18px;}
      .let4 {display:block;font-size:15px;margin: -5px 0 0;}
      .let3 {margin-top:15px;}
      .img-p{margin:0;}
      .img-scala{position:absolute; top:0;right:10px;}
      .cp, .cp2{line-height:30px;width:115px;height:115px;float:left;margin-right:5px;text-align:center;
        color:white;font-size:15px;font-weight:bold}
      .cp2{line-height:25px;}
      .c-1{background-color:#f9bd55;}
      .c-2{background-color:#ed6a57;}
      .c-3{background-color:#879acd;}
      .c-4{background-color:#90d6e6;} 
    }
}
.w-pensiones .w-contentinfo h2 {line-height:20px;}
.w-resultadosimulacion .w-contentinfo{margin-left:0px;width:auto;
  td{width:107px;text-align:center;}
}
.w-cextranjero{
  p{margin-top:0;}
  .detalle-fondo  {position:absolute; right:-40px;top:247px;}  
}
.w-simulador, .w-nuevo-usuario .w-contentinfo{margin-left:0px;width:auto;
  p{margin-top:0;}
  .row,.row2,.row3,.row4,.row5,.row6 {position:relative;padding:4px 5px 0px 7px;background-color:#04b9d1;width:292px;height:20px;
    margin-bottom:6px;color:white;.border-radius(3px);
        &.r-1{background-color:#90d6e6;}
        &.r-2{background-color:#0092d2;width:445px;}
        &.r-3{background-color:#f19736;}
        &.r-4{background-color:#f57e65;}
        &.r-5{background-color:#00c5db;}
        &.r-6{background-color:#9bddec;}
        &.r-7{background-color:#95abd6;}
        &.r-8{background-color:#f57e66;}
        &.r-9{background-color:#fdc665;}
        &.r-10{background-color:#7687aa;}
    }
   .row2{width:394px;} 
   .row3{width:250px;position:absolute;right:226px;top:51px;} 
   .row5{width:386px;} 
   .row6{width:354px;height:29px;} 
   .tbl{
  .row3{width:250px;position: static;} 
  }
   
   .row4{margin-bottom:0;}
  .select{border:none;float:right;width:181px;height:15px;font-size:11px;}
  .select1{border:1px solid #d8d9da; width:38px;height:15px;font-size:9px;margin-left:10px;}
  .select2{border:1px solid #d8d9da; width:44px;height:24px;font-size:9px;}
  .col1{float:left; width:292px;}
  .col2{padding-left:355px;}
  .cnt-dfam{margin-left:15px; position:relative;}
  .input,.input4,.input5,.input6{width:109px;height:13px;float:right;border:none;}
  .input1{width:121px;height:17px;}
  .input2{width:143px;height:17px;}
  .input3{width:79px;height:17px;}
  .input4{width:180px;}
  .input5{width:180px;}
  .input6{width:388px;}
  .input7{width:302px;margin-left:15px;height:24px;}
  .bt-rubros{position:absolute;right:-71px; top:0;display:block; border:0;
    background:url('img/bt-verrubros.png') left 0 no-repeat; text-indent:-999px;width:60px;height:24px;}
  .bt-rubros:hover{background:url('img/bt-verrubros.png') left -25px no-repeat; width:60px;height:24px;}
  .bt-agregar{margin:20px 20px 0px 0px;display:inline-block;text-indent:-999px;background:url('img/icon-agregar.png') left 0 no-repeat; width:70px;height:19px;}
  .bt-agregar:hover{background:url('img/icon-agregar.png') left -19px no-repeat; width:70px;height:19px;}
  .bt-quitar{display:inline-block;text-indent:-999px;background:url('img/icon-quitar.png') left 0 no-repeat; width:66px;height:19px;}
  .bt-quitar:hover{background:url('img/icon-quitar.png') left -19px no-repeat; width:70px;height:19px;}  
  .bt-limpiar{border:none;display:inline-block;text-indent:-999px;background:url('img/bt-submit-limpiar.png') left 0 no-repeat; width:103px;height:42px;}
  .bt-limpiar:hover{background:url('img/bt-submit-limpiar.png') left -42px no-repeat; width:103px;height:42px;}
  .bt-simular{margin-left:20px;border:none;display:inline-block;text-indent:-999px;background:url('img/bt-submit-simular.png') left 0 no-repeat; width:103px;height:42px;}
  .bt-simular:hover{background:url('img/bt-submit-simular.png') left -42px no-repeat; width:103px;height:42px;}  
  .bt-submit{margin:20px 0px 0px 0px;text-align:right;}
}
.w-interesado .w-contentinfo{padding-left:0px;width:auto;
  .text-h2{text-align:center; position:relative;}
  .link-regis{position:absolute;top:89px; right:0;}
}
.w-selectiva .w-contentinfo{
    .clic-aqui{float:left;margin:20px 30px 0 50px;}
}
.w-proceso .w-contentinfo{
  .img-clic{float:left}
}
.clic-aqui{margin:20px 30px 0 0px;display:inline-block;text-indent:-9999px;
    background:url('img/img-clic-aqui.png') left 0 no-repeat; width:103px;height:43px;
    &:hover{background:url('img/img-clic-aqui.png') left -43px no-repeat;} 
} 
 

.w-nuevo-usuario .w-contentinfo{
.fila{width:682px;position:relative}
.detail-bg{position:absolute;bottom:107px;right:-76px;}
.detail-bg2{position:absolute;top:-60px;right:-42px;z-index:5;}
.cnt-rows{position:relative;width:410px;}
.cnt-rows2{position:relative;width:670px;}
.cnt-rows3{position:relative;width:374px;}
.cnt-rows4{position:relative;width:573px;}
.obli,.obli2,.obli3,.obli4{position:absolute; right:0px; top:0px;font-size:25px;color:#f8a540;}
.obli2{top:7px;}
.obli3{right:-14px;}
.obli4{right:33px;}
.calendar{line-height:41px;font-weight:bold;background:url('img/bg-calendar-dmg.png') no-repeat;display:block;position:absolute; right:0px; top:0px;font-size:17px;color:#707072;text-align:center;width:32px;height:30px;}
.size1{width:648px;}
.size4{width:556px;}
.size2,.size3{width:131px;height:20px;border:1px solid #dedfe0;}
.size3{height:16px;}
.row5{height:29px;line-height:29px}
.input5,.input6{height:22px;}
.td1{padding:0px 10px 0px 10px;}
.select{height:27px;}
table{text-align:center;}
td{position:relative;}
.bt-buscar{cursor: pointer;text-indent:-999px;background:url('img/bt-buscar-col.png') no-repeat;width:235px;height:44px;border:none;}
.bt-enviar-nv{display:block;cursor: pointer;text-indent:-999px;background:url('img/bg-submit-nuev.png')left -42px;width:103px;height:42px;border:none;}
.bt-enviar-nv:hover{background:url('img/bg-submit-nuev.png')left 0;width:103px;height:42px;}


}
.w-simulador .w-contentinfo{
margin-left:0px;width:auto;
}

/********************** Molule L ***************************/

/*module noticias*/ 
.w-noticias{padding: 40px;
  .w-contentinfo{padding-left:280px;text-align:justify;width:602px;line-height:20px;
    p{margin: 10px 0;}
  }  
  .w-noticias-block{
    display: block;padding: 0px 10px 20px 10px; border-bottom: 1px dotted #bbb5a6;
    .category{display: block; margin: 20px 0 15px 0;color: #f14738;font-size: 13px;}
    .nomg{margin-top:0;}
    .top{height: auto; overflow: hidden; margin: 0 0 15px 0;}
    .info_cal{float: left;
      .cal{}
      .info{   display: block; padding: 0px 0 0 52px;}
      
    }
    .social{float: right; margin: 12px 0 0;
      .text{ color: #A7A7A7;float: left;font-size: 9px;line-height: 10px;margin: 2px 0 0;text-align: right;}
      .social-ico{
        float: right;
        margin: 0 0 0 5px;
        .ico{
          float: left;
          background:url("img/ico_social_noticias.png") center bottom;
          text-indent: -9999em;
          width: 23px;
          height: 23px;
          margin: 0 3px;
          &.fb{ background-position: 0 0;}
          &.tw{background-position: right 0;}
        }
      }
    }
    .detail{margin: 20px 0;}
    .detail, .detail p{color: #828385; font-size: 13px;}
    .img{text-align: center;}
  }
   
   
  
}
/*correccion neo adicionalmente en .info_cal padding... .info{   display: block; padding: 0px 0 0 65px;} */
.cal{background:url("img/bg-calendario-noti.png") no-repeat;font-size:11px;line-height:12px;width:40px;
  float:left;height:37px;color:#fff;font-weight:bold;
  *{display: block;text-align:center;}
  .day{font-size:20px;color:#8b8b8c;margin-top:8px;}
}
/*end correccion neo*/
/*end modulo noticias*/

/*module descargas*/ 
.w-descargas{padding: 40px 20px  40px 40px;
  .w-contentinfo{padding-left:254px;text-align:justify;width:644px;line-height:20px;}  
  .detail{margin: 0 0 30px;}
  .detail p{font-size: 13px;line-height: 16px;}


  .w-download-block{display: block;position: relative;background: #f7f7f7;
    .download-b{height: 324px;
      .download{width:214px;text-align:center;
        .img, .download .title, .info .detail{text-align: center;margin:10px 7px;}
        .img{margin: 10px 7px 5px;}
        .info{text-align: right; margin: 0 7px;}
        .title{font-family:"Myriad Pro", arial; font-weight: bold; margin:5px 7px 5px;height: 30px;}
        .info .detail{font-size: 11px; color: #929293; }
        .info .more a{font-weight: bold;color: #00a4db;}
      }
    }
    .s-controllers div {top: 140px;z-index: 9999;}
    .s-controllers .prev {left: -6px;}
    .s-controllers .next {right: -6px;}

    .shadow {background: url("img/sh_descargas.png") repeat scroll center bottom transparent;height: 15px;}
    .i-download .sep {border-left: 1px solid #e5e6e7;height: 314px;left: 214px; position: absolute;top: 5px;}
    .i-download .sep.s-2 {left: 428px;}
  }
}

/*module agenda*/ 
.w-tagenda{padding: 40px;
  .w-contentinfo{padding-left:280px;text-align:justify;width:602px;line-height:20px;}  

  .w-content-calendar{
    height: auto; overflow: hidden; margin: 0 0 15px 0;
  }
  .w-calendar{
    float: right;
    width: 175px;
    position: relative;
    .s-controllers .prev, .s-controllers .next {
      z-index: 100;
      top: 8px;
    }
  }
  
  .calendar{
    float: right; width: 175px;background: #f5f5f5;color: #464646;
    .top{display: block;height: 30px; line-height: 30px; position: relative;background: #fff;
      .s-controllers div {top: 10px;}
      .month-year{display: block;color: #707173;font-size: 12px;font-weight: bold; text-transform: uppercase;text-align: center;}
    }
    .item{height: 24px; width: 24px; float: left;line-height: 24px;font-weight: bold;font-size: 11px; text-align: center;border-bottom: 1px solid #fff;border-right: 1px solid #fff;}
    .head{
      .nomDay{
        color: #fff; background: #3f7bc1;
      }
    }
    .other-month{
      color: #808080; background: #e6e6e6;
    }
    .selected{
      color: #fff; background: #292929;
    }
  }
  
  
  .w-agenda-block{display: block;padding: 20px 0px 20px 10px; border-bottom: 1px dotted #bbb5a6;
    h3{font-size: 17px; color: #95368a; margin: 0 0 15px 0;}
    .w-agenda-block-l{width: 210px; float: left; margin: 0 10px 0 0;}   
    .w-agenda-block-r{padding-left: 0;display: block;
      .top{height: auto; overflow: hidden; margin: 0 0 15px 0;}
      
      .info_cal{float: left;
        .cal{
          &:hover{
            background-position: -40px 0;
            .day{
              color: #b7b7b7;
            }
          }
        }
        .info{   display: block; padding: 8px 0 0 52px;color: #333;}
        
      }
      /*neo cod (correccion)*/
      .social{float: right; margin: 0 0px 0 0;
        .text{ color: #A7A7A7;float: left;font-size: 9px;line-height: 10px;margin: 2px 0 0;text-align: right;}
        .social-ico{
          float: right;
          margin: 0 0 0 5px;
          .ico{
            float: left;
            
            text-indent: -9999em;
            width: 23px;
            height: 23px;
            margin: 0 3px;
            &.fb{background:url('img/icon-fb-2.png') no-repeat;}
            /*&.tw{background:url('img/icon-tw2.png') no-repeat;}*/
          }
        }
        .link-agenda{float: right;margin: 8px 0 0 0;
           a{
            background:url("img/btn_link_agenda.png") center top;
            /*margin-right:16px; neo cod*/
            height: 26px;
            width: 110px;
            display: block;
            
          }
        }
      }
      .detail p{
        color: #707173; font-size: 13px;line-height: 16px;
      }
      
    }   
  } 
  
  
}
/*end modulo agenda*/


/*modulo sociales*/
.w-sociales{padding: 40px;
  .w-contentinfo{padding-left:258px;text-align:justify;width:624px;line-height:20px;}  

  .banner{width: 623px;height: 229px; background: url("img/banner_sociales.jpg") no-repeat left top; display: block;overflow: hidden;
    .banner_slide{height: 229px;width: 623px;}
  }
  
  
  .block_sociales{
    display: block; 
    margin: 10px 0;
    height: auto;
    overflow: hidden;
    .ico{
      display: block;
      height: 58px;
      float: left;
      margin: 0 15px 0 15px;
      width: 57px;
      background: url("img/ico_sociales_big.png") left top no-repeat;
      &.yt{background-position:  0 0;}
      &.fr{background-position:  -665px 0;margin:0 0 0 0;}/*neo cod - solo quitar un 6 y borrar el margin para habilitar*/
      &.it{background-position:  -130px 0;}
      &.fb{background-position:  -195px 0;} /*neo cod - solo borrar el margin para habilitar*/
      &.tw{background-position:  -2263px 0;margin-right: 0;} /*neo cod - solo quitar un 2 para habilitar*/
    }
  
  }
  
  .banner{margin: 0 0 22px 0;
    .ojito{padding: 0 0 0 25px;background: url("img/ojito.png") left center no-repeat; color: #fff;font-size: 14px;float: left; } 
    .block_sociales{height: 58px; line-height: 58px;float: left;margin: 85px 0 0 10px;
      .ico{margin: 0 10px 0 10px;}
      
      
    }
    .block_list{
      border: 0;
      padding: 2px 0 0;
      .list{
        border: none !important;
        width: 106px;
        margin:0;
    li{
      margin: 9px 0;
    }
      }
    }
  }
  
  
  .block_list{
    padding: 15px 0;
    border-bottom: 1px dotted #bbb5a6;
    border-top: 1px dotted #bbb5a6;
    height: auto;
    overflow: hidden;
    .list{
      border-right: 1px dotted #bbb5a6;
      padding: 0 5px 0 ;
      h3{
        font-size: 15px;
        font-weight: bold;
        color: #808080;
        margin: 0 0 12px 0;
      }
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          display: block;
          margin: 0;
          padding:5px 10px;
          height: auto; overflow: hidden;
          float: left;
          width: 180px;
          border-left:1px dotted #BBB5A6
        }
        .media{
          float: left;
          width: 60px;
          
        }
        .detail{
          padding: 0 0 0 60px;
          display: block;
          text-align: left;
          font-size: 11px;          
          color: #707173;
          line-height: 15px;
      p{margin: 0;}
          
        }
      }
      &.first{padding-left: 0;}
      &.last{padding-right: 0;border: 0;}
    }
  }
  .block_link{
    display: block;
    padding: 15px 0;
    text-align: center;
    .lnkSmartphone{
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      
    }
  }
}
/*end modulo sociales*/


/*modulo testimonio*/
.w-testimonios{padding: 40px 20px 40px 20px;
  .w-contentinfo{padding-left:260px;text-align:justify;width:662px;line-height:20px;}  

  .w-item{width: 208px; height: 219px;padding: 0 0 8px 0;background: #f6f6f6 url("img/sh_item_testimonio.png") left bottom no-repeat;  float: left; margin: 0 9px 10px 0; border-radius:3px;
    .transition(all 0.3s ease);
  
    .media{
      padding: 5px 5px 8px;
      img{display: block;}
    }
    .detail{
      text-align: center;
      width: 208px;
      span{
        color: #92ab22;
      }
    }
    &.last{margin-right: 0;}  
    &.explain{
      width: 406px;
      height: 650px;
      position: relative;
      background: #f6f6f6 url("img/sh_testimonios_explain.png") left bottom no-repeat;
      border-radius: 3px 3px 0 0;
      .arrow_expand{
        background: #f6f6f6 url("img/arrow_expand.jpg") left top no-repeat;width: 13px; height: 13px;display: block;position: absolute; bottom: 10px; left: 200px;
      }
      .expand_text{display: block;}
    }
    blockquote{display: block; height: auto; overflow: hidden;margin: 15px 0;
      p{margin: 0;}
    }
    .bloq_l{background: #f6f6f6 url("img/bloq_l.png") left bottom no-repeat;width: 53px; height: 48px;display: block;margin: 0 5px 0 0;float: left;  }
    .bloq_r{background: #f6f6f6 url("img/bloq_r.png") left bottom no-repeat;width: 53px; height: 48px;display: block;margin: 0 0 0 5px;float: right; }
    .expand_text{
      display: none;
      
      font-size: 19px; color: #808080;line-height: 22px;margin: 25px;
      h3{text-align: right;font-size: 13px;}
      h4{text-align: right;font-size: 13px;color: #92ab22;}
      
    }
  }
}
/*end modulo testimonio*/

/*modulo tour virtual*/
.w-tourvirtual{padding: 40px 20px 40px 40px;
  .w-contentinfo{padding-left:260px;text-align:justify;width:642px;line-height:20px;}  

  .w-item{width: 208px; height: 219px;padding: 0 0 8px 0;background: #f6f6f6 url("img/sh_item_testimonio.png") left bottom no-repeat;  float: left; margin: 0 5px 10px 0; border-radius:3px;
    .media{
      padding: 5px 5px 8px;
      img{display: block;}
    }
    .detail{
      text-align: center;
    }
    &.last{margin-right: 0;}
  }
}
/*end modulo  tour virtual*/




/* modulo  marketing*/
.w-marketing{padding: 40px ;
  .w-contentinfo{padding-left:258px;text-align:justify;width:624px;line-height:20px;}  
  h2{font-size: 18px; color: #e73431; font-weight: bold; margin: 0 0 10px 0;}
  .bloc_graph{display: block;}
  .block_ciclos{
    display: block;
    height: auto;
    overflow: hidden;
    padding: 15px 0;
    ul{list-style: none;margin: 0; padding: 0;
      li{
        height: 46px;
        width: 400px;
        margin: 0 0 10px 0;
        &.r1{background: #fafafa;}
        &.r2{background: #f1f1f1;}
      }
    
    }
    h3{font-size: 12px; color: #7a7a06; font-weight: normal; margin: 0 0 10px 0;padding: 0 0 0 15px;background: url("img/bg_title_ciclo.png") left center no-repeat;}
    .label{width: 110px; height: 46px;line-height: 46px;  font-family: "Oswald";text-transform:uppercase;color: #fff; text-align: center;display: block; float: left;
      &.c1{background: #f29037;}
      &.c2{background: #bbbdbf;}
      &.c3{background: #c7d30b;}
      &.c4{background: #f1cd33;}
      &.c5{background: #e40b6e;}
    }
    .text{
      height: 46px; line-height: 46px; padding: 0 0 0 20px;float: left;color: #707173; font-size: 12px;
      &.multiline{   height: 39px;line-height: 18px;padding: 7px 0 0 20px;}
    }
    &.last{border: none;}
  }
  
}
/*end modulo  marketing*/


/*modulo  marketing text*/
.w-marketing-text{padding: 40px ;
  .w-contentinfo{text-align:justify;line-height:20px;font-size: 13px;color: #707173;}  
  .f-block{
    display: block; 
    height: auto; 
    border-bottom: 1px dashed #bbb5a6;
    overflow: hidden;
    padding: 15px 0;
    h2{font-size: 18px; color: #808080; margin: 0 0 15px 0;}
    h3{font-size: 14px; color: #808080; margin: 0 0 5px 0;}
    &.f-1{}
    &.f-2{
      h2{font-size: 25px; color: #e63431; margin: 0 0 15px 0;}
    }
    &.f-3{}
    &.f-4{}
    ul{
      color: #f00;
      padding: 0 0 0 15px;
      li{
        color: #707173;
      }
    }
  }
  
}
/*modulo interesado up*/
.w-intersado_up{padding: 40px;height: 900px;
  h1{margin-bottom:10px;}
  .w-contentinfo{padding-left:280px;text-align:justify;width:602px;line-height:18px;  }
  &.w-proceso-full{ 
    .w-contentinfo{padding:0; width:auto;}
    .cnt_block{padding: 0 0;}
    .title{color: #0092d2; font-size: 31px; text-align: center;margin: 25px 0 15px;bottom:0;
      position:absolute;line-height: 35px;
      a{color:#0092d2;}
    }
    .flecha{display: none;}
    .w-block-1{ width: 192px; float: left;position: relative;  margin: 0 0 0 186px;
      
      .block_top{float: left;}
    
      .number{color: #f9bd55;font-size:49px;font-weight: bold;padding: 0 10px;position: relative;top: 7px;}
      .box{background: #f9bd55; border-radius: 3px;text-align: center; padding: 20px 10px;color: #fff;
        font-size: 15px; font-weight: bold;}
      .bottom{background: url("img/sh_block_1.png") left top no-repeat; height: 11px; display: block;}
      
      .flecha{background: url("img/block_flecha_1.png") left top no-repeat; height: 58px;width: 291px;left: 190px; bottom: 35px;position:absolute;z-index: 3;}
    }
    .b-registrate{position: absolute;left:190px;top:200px;width:270px;
      h3{ color: #989898;font-size: 12px;font-weight: bold;margin: 0 0 0 0;text-align: center;
        span{ font-size:12px;font-weight: normal; }
      }
    } 
    .info{font-size: 12px;text-align: center;}
    a.button{width: 270px; height: 44px; display: block;background: url("img/layout.png") 0 -560px no-repeat; color: #FFFFFF;font: 18px/40px 'Oswald';height: 44px;text-align: center;
      &:hover{background-position: 0 -133px;}
    }
    .w-block-2{ width: 294px;height: auto; float: right;background: url("img/img_interados_block2.png") 15px top no-repeat;position: relative;margin: 41px 21px 0 85px;
      .number{color: #fff;font-size:49px;font-weight: bold;display: block; text-align: center;padding: 50px 0 36px 0;
        
      }
      .block_top{width: 240px; height: 220px; display: block;margin: 0 0 0 25px;
        h4{padding: 0 35px;color: #fff;font-size:15px;font-weight: bold;text-align: center; }
      }
      .box{background: #f6f6f6; border-radius: 3px;text-align: center; padding: 10px;color: #989898;font-size: 13px; width: 248px; margin: 8px 0 0 30px;
        .inner{
          width: auto;
        }
      }
      .info{margin:0 30px;}
      .bottom{background: url("img/sh_block_2-3.png") left top no-repeat; height: 15px; display: block;margin: 0 0 0 30px;}
      .flecha{background: url("img/block_flecha_2.png") left top no-repeat; height:170px;width:410px;
        left: -364px; top: 148px;position:absolute;z-index: 3;}
    }
    .w-block-3{ width: 278px;height: 375px; float: left;position: absolute;
        background: url("img/img_interados_block3.png") 27px top no-repeat; top:300px;left:00px;
      .number{color: #fff;font-size:49px;font-weight: bold;display: block; text-align: center;padding: 65px 0 25px 0;
        
      }
      .block_top{width: 240px; height: 240px; display: block;margin: 0 0 0 27px;
        h4{padding: 0 35px;color: #fff;font-size:15px;font-weight: bold;text-align: center; }
      }
      h3{
        color: #989898;font-size: 13px;font-weight: bold;margin: 0 0 0 0;text-align: center;
        span{
          color: #ed6a57;font-size:49px;
        }
      }
      .box{background: #f6f6f6; border-radius: 3px;text-align: center; padding: 10px;color: #989898;font-size: 13px; width: 248px; margin: 56px 0 0 0;
        position: relative;
        .pin{background: url("img/pin.png") 0 0 no-repeat;position: absolute;width: 31px; height: 40px;display: block;left: 8px; top: -32px;}
      }
      .bottom{background: url("img/sh_block_2-3.png") left top no-repeat; height: 15px; display: block;margin: 0 0 0 0;}
      .flecha{background: url("img/block_flecha_3.png") left top no-repeat; 
        height: 86px;width:149px;left: 242px;top: 138px;position:absolute;z-index: 3;}
    }
    
    .w-block-4{ width: 192px;position: absolute;left: 390px;top: 450px; 
      .block_top{float: left;}
    
      .number{color: #90d6e6;font-size:49px;font-weight: bold;padding: 0 10px;position: relative;top: 7px;}
      .box{background: #90d6e6; border-radius: 3px;text-align: center; padding: 25px 10px;
          color: #fff;font-size: 17px; font-weight: bold;position: relative; 
        a{color:#fff;}
        .clip{background: url("img/clip.png") 0 0 no-repeat;position: absolute;width: 28px; 
          height: 42px;display: block;top: -31px; right: 5px;}
      }
      .bottom{background: url("img/sh_block_1.png") left top no-repeat; height: 11px; display: block;}
      .flecha{background: url("img/block_flecha_4.png") left top no-repeat; height: 70px;
        width:199px;left: 191px; bottom: -3px;position:absolute;z-index: 3;}
    }
    .w-block-5{ width: 294px;position: absolute;right: 20px; top: 530px;
      .inner{width: 192px;margin: 0 auto;}
      .block_top{float: left;}
    
      .number{color: #f7c260;font-size:49px;font-weight: bold;padding: 0 10px;position: relative;top: 7px;}
      .box{background: #f7c260; border-radius: 3px;text-align: center; padding: 20px 10px;color: #fff;
          font-size: 15px; font-weight: bold;}
      .bottom{background: url("img/sh_block_1.png") left top no-repeat; height: 11px; display: block;}
      
      a.descargas{width: 294px; height: 44px; display: block;background: url("img/layout.png") left -88px no-repeat; color: #FFFFFF;font: 18px/40px 'Oswald';height: 44px;text-align: center;
        &:hover{background-position: 0 -133px;}
      }
      .flecha{background: url("img/block_flecha_5.png") left top no-repeat; 
        height: 80px;width: 296px;left: -238px; bottom: -40px;position:absolute;z-index: 3;}
    }
    
    .w-block-6{ width: 294px;position: absolute;bottom: 0;right: 0;
      .inner{width: 210px;margin: 0 auto;}
      .block_top{float: left;}
    
      .number{color: #95abd6;font-size:49px;font-weight: bold;padding: 0 10px;position: relative;top: 7px;}
      .box{background: #95abd6; border-radius: 3px;text-align: center; padding: 20px 10px;color: #fff;font-size: 17px; font-weight: bold;}
      .bottom{background: url("img/sh_block_1.png") left top no-repeat; height: 11px; display: block;}
      
      a.descargas{width: 294px; height: 44px; display: block;background: url("img/layout.png") left -88px no-repeat; color: #FFFFFF;font: 18px/40px 'Oswald';height: 44px;text-align: center;
        &:hover{background-position: 0 -133px;}
      }
      .flecha{background: url("img/block_flecha_6.png") left top no-repeat; height: 102px;
        width:179px;left: 250px; bottom: -32px;position:absolute;z-index: 3;}
    }
    
    
    .w-block-7{ width: 280px;height: 270px;background: url("img/img_interados_block7.png") 58px top no-repeat;
      position: absolute;top: 600px;left: 200px;
      .number{color: #fff;font-size:49px;font-weight: bold;display: block; text-align: center;padding: 50px 0 36px 0;
        
      }
      .block_top{width: 165px; height: 98px; display: block;margin: 72px 0 0 58px;
        h3{padding: 0 0;color: #fff;font-size:30px;font-weight: bold;text-align: center;margin: 8px 0;}
        h4{padding: 0 0;color: #fff;font-size:12px;font-weight: bold;text-align: center; }
      }
      h3{
        color: #989898;font-size: 12px;font-weight: normal;margin: 0 0 0 0;text-align: center;
        span{
          color: #ed6a57;font-size:49px;
        }
      }
      .box{background: #f6f6f6; border-radius: 3px;text-align: center; padding: 10px;color: #989898;font-size: 13px; width: 248px; margin: 56px 0 0 0;
        position: relative;
        .pin{background: url("img/pin.png") 0 0 no-repeat;position: absolute;width: 31px; height: 40px;display: block;left: 8px; top: -32px;}
      }
      .bottom{background: url("img/sh_block_2-3.png") left top no-repeat; height: 15px; display: block;margin: 0 0 0 0;}
      .flecha{background: url("img/block_flecha_3.png") left top no-repeat; height: 81px;width:185px;left: 274px; bottom: 16px;position:absolute;z-index: 3;}
    }
    
  }
  
}
/*end modulo interesado up*/
/*modulo inscribete*/

/*end modulo inscribete*/
.w-inscribete{padding: 20px ;
  .w-contentinfo{text-align:justify;width:auto;line-height:20px;font-size: 13px;color: #707173;}  

  .w-social{height: auto; overflow: hidden;
    .link{float: left;margin: 0 6px;background:#f67e66;height:40px;position: relative;z-index: 1;
      &.l-1{background: #00a4db; }
    }
  }
  .w-links{
    display: block;
    padding: 15px 0;
    height: auto; overflow: hidden;
    .w-link{float: left;width: 306px;}
    
  }
  .w-m-registrado{
    display:block; height: auto; overflow: hidden;border-bottom: 1px dashed #c7c2b5;margin: 10px 0 0 0;
    h3{ color: #00a4db;font-size: 31px;font-weight: bold;margin: 25px 60px 25px 40px;float: left;}
    
    .w-form{width: 228px; float: left;margin: 15px 45px 0 0;
      fieldset{border: none;padding: 0;
        input.text{width: 218px; margin: 0 0 5px 0;border: 1px solid #cdcfd3;padding:5px;}
      }
    }
  }
  
  
  .w-registrado{
    
    display: block;
    padding: 10px 15px 25px;height: auto;overflow: hidden;
    float: left;width: 166px;
    .text{ color: #707173;display: inline-block;float: left;font-size: 13px;height: 30px;line-height: 30px;}
  }
  
  .sublinks{
    display: block; position: relative;padding: 58px 0 0;
    ul{list-style: none;margin: 0; padding: 0;
      li{display: block; padding: 0 0 10px 114px;position: relative;}
    }
    .b-dashed-h{border-right: 1px dashed #929292;position: absolute; left: 70px; top: 38px; height: 80px;}
    .b-dashed-h-2{border-right: 1px dashed #929292;position: absolute; left: 70px; top: 38px; height: 35px;}
    .b-dashed-v{border-top: 1px dashed #929292;position: absolute; left: 74px; top: 14px; height: 10px;width: 40px;}
  }
  
  .btn-gray{
    background: url("img/btn-gray.png") no-repeat scroll left 0 transparent;
    border: none;
    height: 35px;
    margin-right: 0;
    width: 143px;
    line-height: 30px;  
    font-family: "Oswald";
    text-transform:uppercase;
    color: #fff; 
    text-align: center;
    display: block;
  }
  
  
  .bt-ingresa_aqui{
    background: url("img/bg_ingresar_big.png") no-repeat scroll left 0 transparent;
    border: none;
    display: inline-block;
    height: 51px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 162px;
    float: left;    
  }
  
}

.w-proceso{.clearfix;}
.w-content .w-contentinfo{padding:0;margin:0;float:right;} 