/*module proceso*/ 
.w-ingresos {color:#707173;padding:5px;
  .w-contentinfo{position:relative;margin-left:0px;text-align:justify;width:602px;line-height:16px; 
     h2{color:#808080;font-size:20px;line-height:25px;
          .highlight { color:#ed6a57}
          .highlight2 { color:#95368a}
          .highlight3 { color:#f19736}
          .highlight4 { color:#0092d2}
          .highlight5 { color:#d42522; font-size:16px;}
          .normal {font-size:17px; display:block;margin-right:5px;}
          .normal3 {font-size:15px; display:block;margin-right:5px;}
          .normal6 {font-size:15px; margin-right:5px;}
          .normal4 {font-size:15px; display:block;margin-right:5px;color:#ed6a57;}
          .normal5 {font-size:13px;margin-right:5px;}
          .normal2 {font-size:17px;margin-right:5px; }
       }
  }
}
.w-ingresos .w-contentinfo{margin-left:0px;width:auto;
  input{border:1px solid #dfe0e1;width:63px; height:17px;}
  .input2{border:1px solid #dfe0e1;width:131px; height:17px;}
  .td1{width:254px;
      }
  .t-1,.t-3{background-color:#00c5db;color:white;padding-left:10px;font-weight:bold;}
  .t-3{background-color:#f57e65;}
  .t-2{background-color:#f6f6f6;}
  .bt-limpiar{border:none;display:inline-block;text-indent:-999px;background:url('img/bt-submit-limpiar-ing.png') left 0 no-repeat; width:93px;height:42px;}
  .bt-limpiar:hover{background:url('img/bt-submit-limpiar-ing.png') left -42px no-repeat; width:93px;height:42px;}
  .bt-result{margin-left:20px;border:none;display:inline-block;text-indent:-999px;background:url('img/bt-submit-ingresos.png') left 0 no-repeat; width:92px;height:42px;}
  .bt-result:hover{background:url('img/bt-submit-ingresos.png') left -42px no-repeat; width:92px;height:42px;}  
  .bt-submit{margin:20px 0px 0px 0px;text-align:right;}  
  .fila {width:406px;margin:auto;}

}
