﻿{% extends 'website/base-mod.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-admselectiva">    
    {% include 'website/aside-mod.html' %}  
    <div class="w-contentinfo">
        <div class="fila">
        <span class="text-1">La Universidad del Pacífico busca identificar a quienes destacan en su generación por su potencial intelectual,
        habilidades interpersonales, determinación para el logro y otras cualidades que los perfilan como buenos postulantes 
        y potenciales profesionales de éxito. Para ello cuenta con diferentes modalidades de postulación.
        </span>
        <h2><span class="text-2"></br>Admisión Selectiva</span></h2>
        <h2><span class="normal3">Dirigido a</span></h2>
            <p>
              Estudiantes de 5to de secundaria o egresados de secundaria del 2010 en adelante, en el Perú o en el
              extranjero, ubicados en la mitad superior del cuadro de mérito de la promoción en cada uno de los tres
              últimos años de secundaria.
            </p>
         </div>   
         <div class="fila">
          <h2><span class="normal3">Evaluación</span></h2>
          <p>La evaluación del postulante se realizará sobre la base de los siguientes elementos:
          </p>
            <ul class="listado2">
              <div class="li">
                <div class="size-1"><li><strong>Rendimiento Académico.</strong> Pertenecer a la mitad superior de su promoción en cada uno de los tres últimos años
                  de estudios secundarios. Se tomará en cuenta especialmente el desempeño alcanzado en los cursos de matemáticas 
                  y lenguaje.</li>
                </div>
                <div class="img"><img src="{{ STATIC_URL }}css/img/img-admselectiva-1.png" width="57" height="57" /></div>
              </div>
              <div class="li">
                <div class="size-1"><li><strong>Presentaciones escritas.</strong> Reseña personal: resumen de los aspectos más importantes de su vida, historia 
                  familiar y las razones de su elección vocacional. Ensayo: escrito breve en el que se describa una afición, hobby o interés personal.</li>
                </div>
                <div class="img"><img src="{{ STATIC_URL }}css/img/img-admselectiva-2.png" width="57" height="57" /></div>
              </div>
              <div class="li">
                <div class="size-1"><li><strong>Actividades extracurriculares.</strong> Principales actividades (culturales, deportivas, artísticas o voluntariados) en las 
                  cuales haya participado el postulante en los últimos tres años (dentro y fuera del colegio).</li>
                </div>
                <div class="img"><img src="{{ STATIC_URL }}css/img/img-admselectiva-3.png" width="57" height="57" /></div>
              </div>
              <div class="li">
                <div class="size-1"><li><strong>Referencias.</strong> Dos informes confidenciales de profesores u otras personas de una institución educativa, cultural, 
                  deportiva o religiosa (que conozcan al postulante por un periodo mínimo de un año)</li>
                </div>
                <div class="img"><img src="{{ STATIC_URL }}css/img/img-admselectiva-4.png" width="57" height="57" /></div>
              </div>
               <div class="li">
                <div class="size-1"><li><strong>Desenvolvimiento durante la entrevista.</strong> La entrevista tiene por finalidad conocer diferentes aspectos de la personalidad 
                  del postulante que no podrían ser evaluados en pruebas escritas y que complementan la información presentada en su expediente.</li>
                </div>
                <div class="img"><img src="{{ STATIC_URL }}css/img/img-admselectiva-5.png" width="57" height="57" /></div>
              </div>
            </ul>
         </div>
          <div class="fila">
            <h2><span class="normal3">Restricciones</span></h2>
              <ul class="listado2">
                <li>No haber sido descalificado de alguna de las modalidades de ingreso a la Universidad del Pacífico.</li>
                <li>No haber sido dado de baja en la Universidad del Pacífico ni en cualquier otra universidad por motivos académicos ni disciplinarios.</li>
                <li>No registrar antecedentes policiales.</li>
              </ul>           
          </div>
          <div class="fila">
             

            <table class="t-horario t-fechas">  
              <tbody>
                <tr>
                  <td class="c-7 b-1">Fecha de inscripción </td> 
                  <td class="c-2 span"></td>
                  <td class="c-7 b-2">Presentación escrita </td>
                  <td class="c-2 span"></td>
                  <td class="c-7 b-1">Entrevista</td> 
                </tr>
                <!-- first section -->
                <tr class="r-span">
                  <td colspan="5"></td> 
                </tr>
                <tr>
                  <td class="b-6">Del 16-jul al 15-ago 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-5">Del 16-jul al 18-ago 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-6">Del 21-jul al 28-ago 2012</td> 
                </tr> 
                <tr class="r-span">
                  <td colspan="5"></td> 
                </tr>
                <tr>
                  <td class="b-5">Del 16-ago al 15-set 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-6">Del 13 al 15-set 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-5">Del 18 al 25-set 2012</td> 
                </tr> 
                <tr class="r-span">
                  <td colspan="5"></td> 
                </tr>
                <tr>
                  <td class="b-6">Del 13-set al 17-oct 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-5">Del 18-jul al 20-oct 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-6">Del 23 al 29-oct 2012</td> 
                </tr> 
                <tr class="r-span">
                  <td colspan="5"></td> 
                </tr>
                <tr>
                  <td class="b-5">Del 18-oct al 16-nov 2012</td> 
                  <td class="c-2 span"></td>
                  <td class="b-6">Del 17 al 21-nov 2012 </td> 
                  <td class="c-2 span"></td>
                  <td class="b-5">Del 26 al 30-nov 2012</td> 
                </tr> 
                <tr class="r-span">
                  <td colspan="5"></td> 
                </tr>
                <tfoot>
                  <tr>
                    <th colspan="5">Formalización de ingreso: del 14 al 25-ene 2013</th>
                  </tr>
                </tfoot>
              </tbody>
            </table>  


          </div>
          <div class="fila-bk">
            <div class="detalle-bk"></div>
            <h2><span class="normal3">Nota Importante</span></h2>
            <ul class="listado">
              <li>
                En el caso de haber realizado los estudios secundarios en el extranjero, deberán presentar el certificado de 
                estudios convalidado por el Ministerio de Educación Peruano. Además de las exigencias academicas antes mencionadas, 
                el interesado no debe registrar deuda en el sistema para formalizar su ingreso.​​
              </li>
              <li>
                Los postulantes que hayan realizado sus estudios secundarios en el extranjero, deberán presentar
                su certificado de estudios, traducido oficialmente al español y convalidado por el Ministerio de
                Educación del Perú.
              </li>
              <li>
                Para mayor información acerca de los documentos necesarios para la inscripción ingresa a Prospectos y Formularios.
              </li>
            </ul>
            <p>
              El postulante que se encuentre cursando el 5to año de secundaria será considerado “ingresante”
              y tendrá derecho a una vacante su cumple con los siguientes requisitos:
            </p>
            <ul class="listado">
              <li>
                Aprobar el proceso de evaluación de Admisión Selectiva.
              </li> 
              <li>
                Terminar el año escolar manteniendo el desempeño académico solicitado.
              </li> 
              <li>
                Presentar todos los documentos para formalizar su ingreso.
              </li> 
            </ul>
         </div>
         <div><img src="{{ STATIC_URL }}css/img/img-brinferior-1.png" width="608" height="23" /></div>
    </div>

  </div>
{% endblock %}
