{% extends 'website/base.html' %} 
{% block css %} 
{% endblock %}

{%block moduleclass %}m-noti{% endblock %}

{% block slider %}  
  <div class="slide inner-3">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-10.png" width="600" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        AGENDA ADMISION 
      </div>   
    </div>
  </div> 
{% endblock %}

{% block content %} 
<div class="clearfix w-tagenda main-block-content">    
	{% include 'website/aside-agenda.html' %}  
	<div class="w-contentinfo">
		<div class="w-content-calendar">
			<div class="w-calendar">
				<div class="slider">			
					<div class="calendar calendar_slide">
						<div class="top">					
							<span class="month-year">ABRIL 2012</span>
						</div>
						<div class="content">
							<div class="head">
								<span class="item nomDay">D</span>
								<span class="item nomDay">L</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">J</span>
								<span class="item nomDay">V</span>
								<span class="item nomDay">S</span>
							</div>
							<div class="">
								<span class="item other-month">29</span>
								<span class="item other-month">30</span>
								<span class="item">31</span>
								<span class="item">1</span>
								<span class="item">2</span>
								<span class="item">3</span>
								<span class="item">4</span>
								
								<span class="item">5</span>
								<a href="selectiva.html" class="item selected">6</a>
								<span class="item">7</span>
								<span class="item">8</span>
								<span class="item">9</span>
								<span class="item">10</span>
								<span class="item">11</span>
								
								<span class="item">11</span>
								<span class="item">12</span>
								<span class="item">13</span>
								<span class="item">14</span>
								<span class="item">15</span>
								<a href="#" class="item selected">16</a>
								<span class="item">17</span>
								<span class="item">18</span>
								
								<span class="item">19</span>
								<span class="item">20</span>
								<span class="item">21</span>
								<span class="item">22</span>
								<span class="item">23</span>
								<span class="item">24</span>
								<span class="item">25</span>
								
								<span class="item ">26</span>
								<span class="item">27</span>
								<a href="#" class="item selected">28</a>
								<span class="item">29</span>
								<span class="item other-month">1</span>
								<span class="item other-month">2</span>							
							</div>
						</div>
					</div>
					<div class="calendar calendar_slide">
						<div class="top">					
							<span class="month-year">MAYO 2012</span>
						</div>
						<div class="content">
							<div class="head">
								<span class="item nomDay">D</span>
								<span class="item nomDay">L</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">J</span>
								<span class="item nomDay">V</span>
								<span class="item nomDay">S</span>
							</div>
							<div class="">
								<span class="item other-month">29</span>
								<span class="item other-month">30</span>
								<span class="item">31</span>
								<span class="item">1</span>
								<span class="item">2</span>
								<span class="item">3</span>
								<span class="item">4</span>
								
								<span class="item">5</span>
								<a href="selectiva.html" class="item selected">6</a>
								<span class="item">7</span>
								<span class="item">8</span>
								<span class="item">9</span>
								<span class="item">10</span>
								<span class="item">11</span>
								
								<span class="item">11</span>
								<span class="item">12</span>
								<span class="item">13</span>
								<span class="item">14</span>
								<span class="item">15</span>
								<a href="#" class="item selected">16</a>
								<span class="item">17</span>
								<span class="item">18</span>
								
								<span class="item">19</span>
								<span class="item">20</span>
								<span class="item">21</span>
								<span class="item">22</span>
								<span class="item">23</span>
								<span class="item">24</span>
								<span class="item">25</span>
								
								<span class="item ">26</span>
								<span class="item">27</span>
								<a href="#" class="item selected">28</a>
								<span class="item">29</span>
								<span class="item other-month">1</span>
								<span class="item other-month">2</span>							
							</div>
						</div>
					</div>
					<div class="calendar calendar_slide">
						<div class="top">					
							<span class="month-year">JUNIO 2012</span>
						</div>
						<div class="content">
							<div class="head">
								<span class="item nomDay">D</span>
								<span class="item nomDay">L</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">M</span>
								<span class="item nomDay">J</span>
								<span class="item nomDay">V</span>
								<span class="item nomDay">S</span>
							</div>
							<div class="">
								<span class="item other-month">29</span>
								<span class="item other-month">30</span>
								<span class="item">31</span>
								<span class="item">1</span>
								<span class="item">2</span>
								<span class="item">3</span>
								<span class="item">4</span>
								
								<span class="item">5</span>
								<a href="selectiva.html" class="item selected">6</a>
								<span class="item">7</span>
								<span class="item">8</span>
								<span class="item">9</span>
								<span class="item">10</span>
								<span class="item">11</span>
								
								<span class="item">11</span>
								<span class="item">12</span>
								<span class="item">13</span>
								<span class="item">14</span>
								<span class="item">15</span>
								<a href="#" class="item selected">16</a>
								<span class="item">17</span>
								<span class="item">18</span>
								
								<span class="item">19</span>
								<span class="item">20</span>
								<span class="item">21</span>
								<span class="item">22</span>
								<span class="item">23</span>
								<span class="item">24</span>
								<span class="item">25</span>
								
								<span class="item ">26</span>
								<span class="item">27</span>
								<a href="#" class="item selected">28</a>
								<span class="item">29</span>
								<span class="item other-month">1</span>
								<span class="item other-month">2</span>							
							</div>
						</div>
					</div>
				</div>
				<div class="s-controllers controllers">
					<div class="prev"> </div> 
					<div class="next"> </div> 
				</div> 
			</div>
		</div>
		
		<div class="w-agenda-block">
			<h3>Charla informativa sobre Marketing</h3>
			<div class="w-agenda-block-l">
				<img src="{{STATIC_URL}}css/img/img-agenda.jpg" alt="agenda" />				
			</div>
			<div class="w-agenda-block-r">
				<div class="top">
					<div class="info_cal">
						<div class="cal">
							<div class="month">mar</div>
							<div class="day">15</div>
						</div>
						<div class="info">
							<div class="place">Auditorio B  |  8:00 p.m.</div>
						</div>								
					</div>

					<div class="social">
						<div class="">
							<div class="text">Comparte esta <br/>noticia</div>
							<div class="social-ico">
								<a href="" class="ico fb">Facebook</a> 
								<!--<a href="" class="ico tw">Twitter</a> -->
							</div>
						</div>
						<div class="link-agenda">
							<a href="" class=""></a>
						</div>
					</div>	
				</div>
				<div class="detail">
					<p>Identificarás, desde el punto de vista del marketing, las necesidades del mercado local y global, a 
					la par de las últimas tendencias tecnológicas, económicas y culturales.</p>

					<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas:
					la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
					y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además, 
					recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>
				</div>			
			</div>		
		</div>
		<div class="w-agenda-block">
			<h3>Charla informativa sobre Marketing</h3>
			<div class="w-agenda-block-r">
				<div class="top">
					<div class="info_cal">
						<div class="cal">
							<div class="month">mar</div>
							<div class="day">15</div>
						</div>
						<div class="info">
							<div class="place">Auditorio B  |  8:00 p.m.</div>
						</div>								
					</div>

					<div class="social">
						<div class="">
							<div class="text">Comparte esta <br/>noticia</div>
							<div class="social-ico">
								<a href="" class="ico fb">Facebook</a> 
								<!--<a href="" class="ico tw">Twitter</a> -->
							</div>
						</div>
						<div class="link-agenda">
							<a href="" class=""></a>
						</div>
					</div>	
				</div>
				<div class="detail">
					<p>Identificarás, desde el punto de vista del marketing, las necesidades del mercado local y global, a 
					la par de las últimas tendencias tecnológicas, económicas y culturales.</p>

					<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas:
					la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
					y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además, 
					recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>
				</div>			
			</div>		
		</div>
		<div class="w-agenda-block">
			<h3>Charla informativa sobre Marketing</h3>
			<div class="w-agenda-block-l">
				<img src="{{STATIC_URL}}css/img/img-agenda.jpg" alt="agenda" />				
			</div>
			<div class="w-agenda-block-r">
				<div class="top">
					<div class="info_cal">
						<div class="cal">
							<div class="month">mar</div>
							<div class="day">15</div>
						</div>
						<div class="info">
							<div class="place">Auditorio B  |  8:00 p.m.</div>
						</div>								
					</div>

					<div class="social">
						<div class="">
							<div class="text">Comparte esta <br/>noticia</div>
							<div class="social-ico">
								<a href="" class="ico fb">Facebook</a> 
								<!--<a href="" class="ico tw">Twitter</a> -->
							</div>
						</div>
						<div class="link-agenda">
							<a href="" class=""></a>
						</div>
					</div>	
				</div>
				<div class="detail">
					<p>Identificarás, desde el punto de vista del marketing, las necesidades del mercado local y global, a 
					la par de las últimas tendencias tecnológicas, económicas y culturales.</p>

					<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas:
					la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
					y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además, 
					recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>
				</div>			
			</div>		
		</div>
		
	</div>
</div>
{% endblock %}
