﻿{% extends 'website/aside.html' %} 
{% block title %} 
<h3 class="title">
  <div class="text">
      EPU
  </div>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="cescolares.html" class="selected">Ciclo Ingreso Directo Escolares</a></li>
  <li><a href="cegresados.html">Ciclo de Ingreso Directo Egresados</a></li>
  <li><a href="cpreparatorio.html">Ciclo preparatorio para examen de Admisión</a></li  >
  <li><a href="cnivelacion.html">Nivelación Escolar</a></li>
  <li><a href="cmatematica.html">Taller de Matemáticas</a></li>
  <li><a href="credaccion.html">Taller de Redacción</a></li>
</ul> 
{% endblock %}
{% block interesado %} 
<div class="w-social">
  <div class="link l-folleto">
    <a href="#" class="">DESCARGA FOLLETO DE LA EPU</a>
  </div>  
</div>
<div class="w-social">
  <div class="link">
    <a href="interesado_up.html" class="">¿interesado en la up?</a> 
  </div>  
</div>
{% endblock %}

{% block malla %} 
{% endblock %}
 

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}