﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <a href="testimonios.html" class="text">
      Testimonios
  </a>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="testimonios.html" class="selected">Líderes responsables</a></li>
  <li><a href="testimonios.html">Videos</a></li>
  <li><a href="testimonios_explain.html">Texto</a></li  > 
</ul> 
{% endblock %}

{% block malla %} 
{% endblock %}  

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}