﻿{% extends 'website/aside.html' %} 
{% block title %} 
<h3 class="title">
  <div class="text">
      Modalidades de Ingreso
  </div>
  <div class="shadow"></div>
</h3>
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="admselectiva.html" class="selected">Admisión Selectiva</a></li>
  <li><a href="admselectiva.html">Admisión por Bachillerato</a></li>
  <li><a href="admselectiva.html">Ingreso directo de la Escuela Preuniversitaria</a></li  >
  <li><a href="admselectiva.html">Admisión Regular</a></li>
  <li><a href="admselectiva.html">Traslados</a></li>
  <li><a href="admselectiva.html">Graduados</a></li>
  <li><a href="admselectiva.html">Casos especiales</a></li>
  <li><a href="admselectiva.html">Beca 18</a></li>
</ul> 
{% endblock %}
{% block interesado %}  
<div class="menu">
  <h3 class="title calendar">
    <a class="text" href=""> 
        Calendario de Admisión   
    </a>
    <div class="shadow"></div>
  </h3>  
</div>
<div class="w-social">
  <div class="link l-download l-inscribete">
    <a href="inscribete.html" class="">inscríbete para mayor información</a>
  </div>  
</div>
<div class="w-social">
  <div class="link">
    <a href="interesado_up.html" class="">¿interesado en la up?</a>
  </div>  
</div>
{% endblock %}

{% block malla %} 
{% endblock %}
 

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}