﻿<div class="w-aside">
    <div class="main-block">
      <div class="menu sec1">
        {% block title %}
        <h3 class="title">
          <div class="text">
              Testimonios
          </div>
          <div class="shadow"></div>
        </h3>
        {% endblock %}

        {% block menu %}
        <ul class="lst_menu">
          <li><a href="#">Lideres Responsables</a></li>
          <li><a href="#">En video</a></li>
          <li><a href="#" class="selected">Escritos</a></li>
        </ul> 
        {% endblock %}
      </div>
      
      {% block malla %}
      <div class="w-social">
        <div class="link l-download">
          <a href="#" class="">descarga plan de estudios y malla curricular</a>
        </div>  
      </div>
      {% endblock %}
    
      {% block interesado %}
      <div class="w-social">
        <div class="link">
          <a href="interesado_up.html" class="">¿interesado en la up?</a>
        </div>  
      </div>
      {% endblock %}
      
      {% block agenda %}
      <div class="w-agenda">
        <div class="w-eventos">
        <h3><a href="agenda.html">AGENDA <span class="highlight">ADMISIÓN</span> </a></h3>       
          <div class="events slider"  data-slider="pause">
            <div class="event slide">
                <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
                </div>    
              <div class="info">
                <h4><a href="">Charla <span class="highlight">Informativa</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
              </div> 
              <div class="info">
                <h4><a href="">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
              </div>
              <div class="info">
                <h4><a href="">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
          </div>

          <div class="s-controllers">
            <div class="prev"></div> 
            <div class="next"></div> 
          </div>  
          <div class="foot"> 
            <a href="agenda.html">Ver calendario de admisión completo</a>
          </div> 
        </div>
        <div class="shadow"></div>
      </div>
      {% endblock %}

      {% block egresados %}
      <!--EGRESADOS (Igual que noticias)-->
      <div class="w-news-block w-egresado-block">
        <div class="news">
          <div class="events boxes slider " data-slider="pause">
            <!-- ROWS -->
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">Nuestros </span>
                  <span class="day highlight">Egresados</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="195" height="157" src="static/css/img/img-egresado-1.jpg">
                  </div>
                  <h4>Elsa Olmos</h4>
                  <div class="detail">
                    Estudiar en la UP me ha permitido compartir clases con alumnos de otras carreras y así comprender nuevas formas de enfocar y solucionar problemas.
                  </div>
                </div>
                
              </div>             
            </div>  
            <!-- END ROWS -->
          </div>
          <div class="s-controllers controllers">
            <div class="prev"> </div> 
            <div class="next"> </div> 
          </div> 
        </div> 
        <div class="shadow"></div>
      </div>
      <!--END-->
      {% endblock %}

      {% block noticias %}
      <!--NOTICIAS-->
      <div class="w-news-block">
        <div class="news">
          <div class="events boxes slider " data-slider="pause">
            <!-- ROWS -->
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div> 
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div>
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div>
            <!-- END ROWS -->
          </div>
          <div class="s-controllers controllers">
            <div class="prev"> </div> 
            <div class="next"> </div> 
          </div> 
        </div> 
        <div class="shadow"></div>
      </div>
      <!--END-->
      {% endblock %}
      
      {% block testimonios %}
      <div class="w-testimonio item w-block">
        <a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8">
          <span class="img">
            <img src="{{STATIC_URL}}css/img/img-testimonio-noticias.jpg" alt="" width="225"/>
          </span>
          <span class="title">
            <strong>Testimonios</strong>
          </span>
        </a>
      </div> 
      {% endblock %}
      
      {% block video %}
      <div class="w-testimonio item w-block w-aside-video">
        <a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8">
          <span class="img">
            <img src="{{STATIC_URL}}css/img/img-video.jpg" alt="" width="225" height="186"/>
          </span>
          <span class="icon i-play">
          </span>
          <span class="title">
            <div>Qué hace el marketero de hoy</div>
            <strong>Descubre</strong>
          </span>
        </a>
      </div> 
      {% endblock %}
      
      <div class="w-social  w-social-ico">  
        <a name="fb_share" type="icon_link" class="w-ico fb" target="_blank"
         href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.up.edu.pe%2F" >
        Compartir en Facebook
        </a> 
        <!--
        <a href="" class="w-ico tw">Compartir en Twitter</a> 
        -->
      </div>
    </div>
  </div>