﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <div class="text">
      ¿Dudas?
  </div>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu"> 
  <li><a href="proceso.html" class="selected">Sobre el Proceso de Admisión</a></li>
  <li><a href="selectiva.html">Sobre Admisión Selectiva</a></li>
  <li><a href="preuniversitaria.html">Sobre la Escuela Preuniversitaria</a></li  >
  <li><a href="inscripcion.html">Sobre los Eventos - Inscripción y asistencia</a></li>
  <li><a href="ciclo.html">Sobre el Ciclo nivelatorio o ciclo 0</a></li>
  <li><a href="sobreup.html">Sobre la UP y sus carreras</a></li> 
</ul> 
{% endblock %}

{% block malla %} 
{% endblock %} 

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}