﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <div class="text">
      UP internacional
  </div>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="cextranjero.html" class="selected">Ciclo en el extranjero</a></li>
  <li><a href="cextranjero.html">Profesores visitantes</a></li>
  <li><a href="cextranjero.html">Visitas empresariales</a></li  >
  <li><a href="cextranjero.html">Prácticas en el extranjero</a></li>
  <li><a href="cextranjero.html">Redes</a></li> 
</ul> 
{% endblock %}

{% block malla %} 
{% endblock %}  

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}