﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <a href="marketing_text.html" class="text">
      {{page.title}}
  </a>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu"> 
  <li><a href="marketing.html">Plan de estudios</a></li> 
</ul> 
{% endblock %}
 
{% block malla %}
<div class="w-social">
  <div class="link l-download">
    <a href="#" class="">descarga plan de estudios y malla curricular</a>
  </div>  
</div>
{% endblock %} 

{% block noticias %} 
{% endblock %}

{% block video %} 
{% endblock %} 