﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <div class="text">
      Tour Virtual
  </div>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="tourvirtual.html" class="selected">Tour por Fotos</a></li>
  <li><a href="tourvirtual_videos.html">Tour por Videos</a></li> 
</ul> 
{% endblock %}

{% block interesado %} 
{% endblock %}

{% block malla %} 
{% endblock %}  
 

{% block video %} 
{% endblock %}

{% block egresados %} 
{% endblock %}