﻿{% extends 'website/aside.html' %} 
{% block title %}
<h3 class="title">
  <div class="text">
      Programa Nivelatorio
  </div>
  <div class="shadow"></div>
</h3> 
{% endblock %}
{% block menu %}
<ul class="lst_menu">
  <li><a href="cnivelatorio.html">Seleccionados</a></li>
  <li><a href="cnivelatorio.html">Formalización de tu ingreso</a></li>
  <li><a href="cnivelatorio.html">Exámenes Exonoratorios</a></li>
  <li><a href="cnivelatorio.html">Convalidación por Bachillerato Internacional</a></li>
  <li><a href="cnivelatorio.html">Programa Nivelatorio - Ciclo Cero</a></li>
  <li><a href="cnivelatorio.html">Taller de Inducción a la Vida Universitaria</a></li>
  <li><a href="cnivelatorio.html">Evaluación Sicológica de Ingreso</a></li>
  <li><a href="cnivelatorio.html">Talleres de Herramientas Informáticas</a></li>
  <li><a href="cnivelatorio.html">Matrícula del Semestre Académico 2012-I</a></li> 
</ul> 
{% endblock %}

{% block malla %} 
{% endblock %} 

{% block egresados %} 
{% endblock %}

{% block video %} 
{% endblock %}