{% extends 'website/base.html' %} 

{%block moduleclass %}m-epu{% endblock %}
{% block slider %} 
  <div class="slide inner-4">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-6.png" width="205" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        PENSIONES 
      </div>   
    </div>
  </div>
{% endblock %}

{% block css %} 
{% endblock %}
{% block content %}  
{% endblock %}
