{% extends 'website/base.html' %} 

{%block moduleclass %}m-ex{% endblock %}
{% block slider %}
<div class="slide inner-5">
  <div class="img">
    <img src="{{STATIC_URL}}css/img/img-banner-inner-7.png" width="572" />
  </div>
  <div class="info"> 
    <div class="title ">
      UP INTERNACIONAL 
    </div>   
  </div>
</div> 
{% endblock %}

{% block css %} 
{% endblock %}
{% block content %}  
{% endblock %}
