{% extends 'website/base.html' %} 

{%block moduleclass %}m-mod{% endblock %}
{% block slider %} 
<div class="slide inner-3">
  <div class="img">
    <img src="{{STATIC_URL}}css/img/img-banner-inner-4.png" width="323" />
  </div>
  <div class="info">
    <div class="span">
    </div>
    <div class="title ">
      MODALIDADES 
    </div> 
    <div class="subtitle">
      DE INGRESO
    </div> 
    <div class="span-2">
    </div> 
  </div>
</div> 
{% endblock %}

{% block css %} 
{% endblock %}
{% block content %}  
{% endblock %}
