<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="es-es" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="es-es" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="es-es" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es-es" class="no-js"> <!--<![endif]--><head>
  {% block meta_tags %}
  <meta name="description" content="Default Description" />
    <meta name="keywords" content="bla bla bla" />
    <meta name="robots" content="INDEX,FOLLOW" />
  {% endblock %}
    
  <title>{% block title %}UP Admisión{% endblock %}</title> 
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/base.css"/>  
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox-1.3.4.css"/>  
{% block css %}
{% endblock %}
  <meta charset="utf-8">

{% block js %}
{% endblock %}
{% block scripts_js %}
<script src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/lib/modernizr.custom.2.5.3.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.cycle/2.88/jquery.cycle.all.js" type="text/javascript" charset="utf-8"></script> 
{% endblock %} 
<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28665450-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block scripts_js_module %}{% endblock %}  
<!--[if lt IE 10]>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ieonly.css" type="text/css" media="screen" />
<![endif]-->
</head> 
  <body class="m-{%if home %}home{%else%}interior{% endif %} {%block moduleclass %}{% endblock %} {{popup}}">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=242214362497322";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="wrapper" id="wrapper" >
      <!-- HEADER -->
      {% block header %}
        {% include 'website/header.html' %} 
      {% endblock %}

      {% if not popup %}
      <!-- slider -->
        {% if home %}
        <div class="w-banner">
          <div id="" class="w-slider">
            <div class="inner">
              <div class="slides sliders"> 
                <div class="slide s-left">
				<a href="#">
                  <div class="img">
                    <img src="{{STATIC_URL}}css/img/img-banner-1.png" width="618" />
                  </div>
                  <div class="info">
					<img src="{{STATIC_URL}}css/img/img-banner-text-1.png" />
				  </div>
				 </a> 
                </div>
                <div class="slide s-left">
                  <div class="img">
                    <img src="{{STATIC_URL}}css/img/img-banner-2.png" width="461" />
                  </div>
                  <div class="info">
                    <img src="{{STATIC_URL}}css/img/img-banner-text-1.png" />
                  </div>
                </div>
                <div class="slide s-left">
                  <div class="img">
                    <img src="{{STATIC_URL}}css/img/img-banner-3.png" width="618" />
                  </div>
                  <div class="info">              
                    <img src="{{STATIC_URL}}css/img/img-banner-text-1.png" />
                  </div>
                </div>

              </div>
            </div> 
            <div class="slider-controllers s-controllers">
              <div class="prev">
                <div class="imgs " data-slider="pause">
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-1.jpg" width="106" height="62" />
                  </div>
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-2.jpg" width="106" height="62" />
                  </div>
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-3.jpg" width="106" height="62" />
                  </div>
                </div>
                <div class="icon"></div> 
              </div>
              <div class="next">
                <div class="imgs " data-slider="pause">
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-1.jpg" width="106" height="62" />
                  </div>
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-2.jpg" width="106" height="62" />
                  </div>
                  <div class="slide">
                    <img src="{{STATIC_URL}}css/img/thumbs/img-banner-3.jpg" width="106" height="62" />
                  </div>
                </div>
                <div class="icon"></div>
              </div>
            </div>
          </div><!-- / -->
        </div>
        {% else %}
        <div class="w-banner">
          <div id="" class="w-slider">
            <div class="inner">
              <div class="slides slider"> 
                {% block slider %}
                <div class="slide inner-1">
                  <div class="img">
                    <img src="{{STATIC_URL}}css/img/img-banner-inner-1.png" width="205" />
                  </div>
                  <div class="info">
                    <div class="span">
                    </div>
                    <div class="title ">
                      ¿DUDAS? 
                    </div>  
                    <div class="span-2">
                    </div>
                    <div class="span-3">
                    </div> 
                  </div>
                </div>
                {% endblock %} 
   
              </div>
            </div>  
          </div><!-- / -->
        </div>
        {% endif %}
        <!-- /slider -->
      {% endif %}
       
      {% block mainmenu %}
      {% include 'website/menu.html' %}
      {% endblock %}
      <!-- END -->
      <div class="inner w-content">
      {% block content %}{% endblock %}
      </div> 
    </div> 
    {% block footer %} 
      {% include 'website/footer.html' %} 
    {% endblock %} 

    <script type="text/javascript"> 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-000000-00']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })(); 
    </script> 
  </body>
</html> 