{% extends 'website/base.html' %} 

{%block moduleclass %}m-epu{% endblock %}
{% block slider %}
<div class="slide inner-2">
  <div class="img">
    <img src="{{STATIC_URL}}css/img/img-banner-inner-2.png" width="411" />
  </div>
  <div class="info">
    <div class="span">
    </div>
    <div class="title ">
      ESCUELA <br /> PRE UNIVERSITARIA 
    </div>  
  </div>
</div> 
{% endblock %}

{% block css %} 
{% endblock %}
{% block content %}  
{% endblock %}
