﻿{% extends 'website/base-epu.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cegresados">    
    {% include 'website/aside-epu.html' %}  
    <div class="w-contentinfo">
        <div class="fila">
        <h1>Ciclo Egresados</h1>
        <h2><span class="normal">Dirigido a egresados de secundaria.</span></h2>
        <h2><span class="normal3">Objetivo</span></h2>
            <p>
              Brindar los conocimientos y habilidades cognitivas necesarias para ingresar a la 
              universidad y superar con éxito la  exigente vida académica.
            </p>
         </div>   
         <div class="fila">
          <h2><span class="normal3">Asignaturas</span></h2>
            <ul class="listado">
              <li>Historia</li>
              <li>Actualidad</li>
              <li>Geografía (2 horas semanales)</li>
              <li>​Lenguaje (4 horas semanales)</li>
              <li>​Lectura crítica (4 horas semanales)​​</li>
              <li>​Matemáticas (10 horas semanales)​</li>
            </ul>
            
            
         </div>
         <div class="detalle-fondo"> <img src="{{ STATIC_URL }}css/img/detail-body-1.png"  width="150" height="206"/></div>
         <div class="fila">
          <h2><span class="normal3">Ingreso Directo</span></h2>
          <p>
          El alumno de la Escuela Preuniversitaria obtendrá el ingreso directo a la Universidad 
          del Pacífico  si reúne los siguientes tres requisitos:​
          </p>
            <ul class="listado">
              <li>Aprobar cada asignatura con un minimo de 55% del puntaje total del curso.​</li>
              <li>Acumular un mínimo de 600 puntos de un total de 1,000 durante el desarrollo del programa preuniversitario.​</li>
              <li>Haber cumplido la entrega de toda la documentación requerida para la formalización.​</li>
            </ul>
         </div>
         <div class="fila">
          <h2><span class="normal3">Requisitos</span></h2>
            <ul class="listado">
              <li>Haber egresado de secundaria en el Perú o en el extranjero.​​</li>
              <li>​​No registrar antecedentes policiales (mayores de 18 años de edad)​</li>
            </ul>
         </div>
         <div class="fila">
          <h2><span class="normal3">Documentos necesarios para la matrícula en la Escuela Preuniversitaria:</span></h2>
            <ul class="listado">
              <li>Constancia de pago de los derechos de matrícula y enseñanza.</li>
              <li>Formulario de Admisión  N° 1.</li>
              <li>Partida de nacimiento original o fotocopia legalizada notarialmente.
              </li> 
              <li>
                En el caso de los egresados, deben presentar el certificado original de estudios secundarios (1° a 5°).
              </li>
              <li>
                Los alumnos de la Escuela Preuniversitaria que obtengan el ingreso directo a la universidad y hayan
                alcanzado un promedio igual o superior a 13 (trece), en los cursos de matemáticas o lenguaje, serán
                exonerados de los cursos de nivelación en el área con dicho promedio.
              </li>
            </ul>
         </div>
          <div class="fila">
            <h2>
              <span class="normal4">Ingreso directo egresados 2012-I</span><br>
            </h2>
            <div class="table">
              <div class="sub-fila">
                   <div class="col">Dirigido</div>
                   <div class="col2">Egresados de secundaria</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c1">Duración</span></div>
                   <div class="col2">17 semanas</div>
              </div>
              <div class="sub-fila">
                   <div class="col c1">Matrícula</div>
                   <div class="col2">del 1 de marzo al 1 de abril del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c2">Inicio de ciclo</span></div>
                   <div class="col2">2 de abril del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c3">Fin de ciclo</span></div>
                   <div class="col2">2 de abril del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c2">Horario</span></div>
                   <div class="col2 f-double">
                      De lunes a viernes / 5:20 p.m a 9:00 p.m. <br />
                      De lunes a viernes / 1:20 p.m a 5:00 p.m.
                   </div>
              </div>
            </div>
            <br />
            <br />
            <h2>
              <span class="normal4">Ingreso directo egresados 2012-II</span><br>
            </h2>
            <div class="table">
              <div class="sub-fila">
                   <div class="col">Dirigido</div>
                   <div class="col2">Egresados de secundaria</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c1">Duración</span></div>
                   <div class="col2">18 semanas</div>
              </div>
              <div class="sub-fila">
                   <div class="col c1">Matrícula</div>
                   <div class="col2">del 13 de agosto al 28 de septiembre del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c2">Inicio de ciclo</span></div>
                   <div class="col2">1 de octubre del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c3">Fin de ciclo</span></div>
                   <div class="col2">15 de febrero del 2012</div>
              </div>
              <div class="sub-fila">
                   <div class="col"><span class="c2">Horario</span></div>
                   <div class="col2">
                      De lunes a viernes / 1:20 p.m a 5:00 p.m.
                   </div>
              </div>
            </div>
         </div>


         <div class="fila-bk">
         <div class="detalle-bk"></div>
          <h2><span class="normal3">Nota Importante</span></h2>
              <div class="listado">
                En el caso de haber realizado los estudios secundarios en el extranjero, deberán presentar el certificado de estudios convalidado por el Ministerio de Educación Peruano. Además de las exigencias academicas antes mencionadas, el interesado no debe registrar deuda en el sistema para formalizar su ingreso.​​
             </div>
         </div>
         <div class="br-inferior">
          <img src="{{ STATIC_URL }}css/img/img-brinferior-1.png" width="608" height="23" />
         </div>
    </div>

  </div>
{% endblock %}
