﻿{% extends 'website/base-epu.html' %}  

{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cescolares">    
    {% include 'website/aside-epu.html' %}  

    <div class="w-contentinfo">

        <div class="fila">
        <h1>Ciclo Ingreso Directo Escolares</h2>
        <h2><span class="normal">Dirigido a los alumnos que estén cursando el 5to de secundaria.</span></h2>
        <h2><span class="normal3">Objetivo</span></h2>
            <p>
              Brindar los conocimientos y habilidades cognitivas necesarias para ingresar a la 
              universidad y superar con éxito la  exigente vida académica.
            </p>
         </div>   
         <div class="fila">
          <h2><span class="normal3">Asignaturas</span></h2>
            <ul class="listado">
              <li><a href="#">Historia</a></li>
              <li><a href="#">Actualidad</li></a>
              <li><a href="#">Geografía (2 horas semanales)</a></li>
              <li><a href="#">​Lenguaje (4 horas semanales)</a></li>
              <li><a href="#">​Lectura crítica (4 horas semanales)​​</a></li>
              <li><a href="#">​Matemáticas (10 horas semanales)​</a></li>
            </ul>
            
            
         </div>
         <div class="fila">
          <h2><span class="normal3">Ingreso Directo</span></h2>
          <p>
          El alumno de la Escuela Preuniversitaria obtendrá el ingreso directo a la Universidad 
          del Pacífico  si reúne los siguientes tres requisitos:​
          </p>
            <ul class="listado">
              <li><a href="#">Aprobar cada asignatura con un minimo de 55% del puntaje total del curso.​</a></li>
              <li><a href="#">Acumular un mínimo de 600 puntos de un total de 1,000 durante el desarrollo del programa preuniversitario.​</li></a>
              <li><a href="#">Haber cumplido la entrega de toda la documentación requerida para la formalización.​</a></li>
            </ul>
         </div>
         <div class="fila">
          <h2><span class="normal3">Requisitos</span></h2>
            <ul class="listado">
              <li><a href="#">Cursar el quinto año de secundaria o haber egresado de la mismo, en el Perú o en el extranjero.​</a></li>
              <li><a href="#">​​No registrar antecedentes policiales (mayores de 18 años de edad)​</a>​</li>
            </ul>
         </div>
         <div class="fila">
          <h2><span class="normal3">Documentos necesarios para la matrícula en la Escuela Preuniversitaria:</span></h2>
            <ul class="listado">
              <li>Constancia de pago de los derechos de matrícula y enseñanza.</li>
              <li>Formulario de Admisión  N° 1.</li>
              <li>Partida de nacimiento original o fotocopia legalizada notarialmente, 
                traducida oficialmente al español (si fuera el caso).<br />
                Fotocopia del DNI o carné de extranjería.
              </li> 
              <li>
                Original o fotocopia legalizada notarialmente de la libreta o constancia de notas de 1° a 4° de secundaria y  de los bimestres de 5to de secundaria que se hayan cursado al momento de la inscripción como postulante. En el caso de los egresados, deberán presentar el certificado original de estudios de 1° a 5° de secundaria.
              </li>
            </ul>
         </div>
         
          <div class="fila">
          <h2><span class="normal4">Ingreso directo escolares 2012-II</span><br></h2>
                <div class="sub-fila">
                     <div class="col">Dirigido</div>
                     <div class="col2"><span class="">Alumnos que estén cursando el último año escolar</span></div>
                </div>
                <div class="sub-fila">
                     <div class="col"><span class="c1">Duración</span></div>
                     <div class="col2">18 semanas / 20 horas</div>
                </div>
                <div class="sub-fila">
                     <div class="col c1">Matrícula</div>
                     <div class="col2">13 de agosto al 28 de setiembre del 2012</div>
                </div>
                <div class="sub-fila">
                     <div class="col"><span class="c2">Inicio de ciclo</span></div>
                     <div class="col2">01 de octubre del 2013</div>
                </div>
                <div class="sub-fila">
                     <div class="col"><span class="c3">Inicio de ciclo</span></div>
                     <div class="col2">15 de febrero del 2013</div>
                </div>
                <div class="sub-fila">
                     <div class="col"><span class="c2">Horario</span></div>
                     <div class="col2">De lunes a viernes / 5:20 p.m. - 9:00 p.m.</div>
                </div>
         </div>

          <div class="fila-bk">
            <div class="detalle-bk"></div>
            <h2><span class="normal3">Nota Importante</span></h2>
            <div class="listado">
              En el caso de haber realizado los estudios secundarios en el extranjero, deberán presentar el
              certificado de estudios convalidado por el Ministerio de Educación Peruano. Además de las
              exigencias académicas antes mencionadas, el interesado no debe registrar deuda en el sistema
              para formalizar su ingreso.
            </div>
          </div>
         <div class="br-inferior"><img src="{{ STATIC_URL }}css/img/img-brinferior-1.png" width="608" height="23" /></div>
         
    </div>

  </div>
{% endblock %}
