﻿{% extends 'website/base-ex.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cextranjero">    
    {% include 'website/aside-ex.html' %}  
    <div class="w-contentinfo w-extra-banner-bottom"> 
        <p>Los alumnos de la Universidad del Pacífico tienen la oportunidad de realizar estudios 
           en el extranjero, en la modalidad de intercambio estudiantil. Durante el ciclo de intercambio,
           los estudiantes están exonerados de los pagos por derechos de enseñanza y reserva de matrícula 
           en la Universidad del Pacífico y, en la universidad anfitriona, sólo cubren los gastos 
           correspondientes a la estadía y a los pasajes. Para que los cursos que aprobaron en el extranjero 
           sean convalidados como créditos electivos de la carrera, solo tendrán que abonar a la Universidad 
           del Pacífico el valor en créditos, según la escala de pensiones correspondiente.
        </p> 
        <br />
        <h1>Ciclo en el extranjero</h1>  

        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p>   
        
        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p>   

        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p>   

        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p> 

        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p>  

        <p>
          Los alumnos de la Universidad del Pacífico tienen la posibilidad de estudiar un semestre en cualquiera de 
          las más de 100 universidades con las que se han celebrado convenios y extendido redes de intercambio
          en Alemania, Argentina, Australia, Austria, Bélgica, Brasil, Canadá, Chile, Colombia, Dinamarca, España,
          Estados Unidos, Finlandia, Francia, Holanda, Hungría, Italia, México, Noruega, Nueva Zelanda, Polonia,
          Reino Unido, República Checa, Singapur, Suecia, Suiza y Venezuela.
        </p>      
    </div>

  </div>



  <div class="detalle-fondo"> 
    <img src="{{ STATIC_URL }}css/img/img-detalle-cextranjero-1.png"  width="376" height="339"/>
  </div> 
{% endblock %}
