﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-ciclo">    
    {% include 'website/aside-dudas.html' %}  
    <div class="w-contentinfo">
        <div class="fila">
        <h2><span class="normal2">¿Qué es el ciclo cero,</span> <span class="highlight">puedo exonerarlo?</span></h2>
            <p>
              El ciclo 0 es un ciclo de nivelación de matemáticas, lenguaje e informática.<br />
              Se puede exonerar mediante un examen. 
            </p>
         </div>   
         <div class="fila f-3">
          <h2><span class="normal2">¿Es obligatorio</span> <span class="highlight">llevar el ciclo 0?</span></h2>
            <p>
              No es obligatorio llevar los cursos de nivelación en el verano, pues tienen un costo. 
              Lo que sí es obligatorio es aprobar las asignaturas de nivelación pues constituyen 
              asignaturas oficiales del Plan de Estudios.
            </p>
         </div>
          <div class="fila f-4">
            <h2>
              <span class="normal2">¿Los exámenes exoneratorios</span> 
              <span class="highlight"> tienen costo?</span>
            </h2>
            <p>
             Los exámenes no tienen costo alguno, son gratuitos.</br>
              Para rendirlos solo tienes que inscribirte.
            </p>
          </div>

          <div class="fila">
            <h2><span class="normal2">¿Estoy obligado a rendir</span> 
              <span class="highlight2">los exámenes exoneratorios?</span>
            </h2>
            <p>
             No estás obligado a rendirlos. Los exámenes son una alternativa para aquellos alumnos que deseen 
             convalidar o exonerarse de alguna de las asignaturas de nivelación. Si no los rindes, tienes que 
             decidir si llevas los cursos de nivelación en verano o si los llevas en tu primer ciclo regular.
            </p>
          </div>
          
          <div class="fila f-2">
            <h2>
              <span class="normal2">¿Puedo rendir</span>
              <span class="highlight">solo uno de los exámenes?</span>
            </h2>
            <p>
             Puedes rendir uno, dos o los tres. Tú decides. Eso sí, una vez que los rindes, no los puedes volver a rendir.
            </p> 
           <a href="#"><img src="{{ STATIC_URL }}css/img/img-ciclo-1.png"  border="0" width="602" height="63"/></a> 
         </div>

          <div class="fila f-2">
            <h2>
              <span class="normal">¿Qué pasa si no cumplo con la nota mínima aprobatoria</span>
              <span class="highlight">de los exámenes exoneratorios?</span>
            </h2>
            <p>
              Significaría que no los exoneraste. En ese caso puedes inscribirte en el Programa Nivelatorio 2012 o
              llevarlos en tu primer ciclo regular .
            </p>  
         </div>
         
          <div class="fila f-4">
          <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2>
           
              <form class="form f-duda" method="POST" action="#">
                  <div class="row">
                  <label>Nombre</label><input class="input" type="text" name="nombre"/>
                  </div>
                  <div class="row r-1">
                  <label>Correo</label><input class="input" type="text" name="nombre"/>
                  </div>
                  <div class="row r-2">
                  <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
                  </div>
                 <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
              </form>
            
         </div>
    </div>

  </div>
{% endblock %}
