﻿{% extends 'website/base-epu.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cpreparatorio">    
    {% include 'website/aside-epu.html' %}  
    <div class="w-contentinfo">
          <div class="fila">
            <h1>Taller de Matemáticas</h1>
            <h2>
              <span class="normal">
                Taller de Matemáticas 2012
              </span>
            </h2> 
          </div> 
          <div class="fila">
            <h2><span class="normal3">¿A quiénes se dirige?</span></h2>
            <p>
              A los alumnos que van a postular por Admisión Selectiva, alumnos de quinto de secundaria y 
              público en general.
            </p>    
          </div>   

          <div class="fila">
            <h2><span class="normal3">Objetivos específicos</span></h2>
            <p>
              Brindar las herramientas necesarias para que el alumno alcance el nivel óptimo en nivelación matemática.
            </p>    
            <ul class="listado">
              <li>Formulario de admisión</li>
              <li>Voucher emitido por el banco que certifique el pago del derecho de matrícula y de enseñanza </li> 
            </ul>
          </div>   

          <div class="fila">
            <h2><span class="normal3">Costo del Taller</span></h2>
            <p>
              Precio al contado:
              <span class="precio">S/.650.00</span>
            </p>     
          </div> 

          <div class="fila">
            <h2><span class="normal3">Horario de atención para matrículas e informes</span></h2>
            <p>
              De 9:00 a.m. a 6:00 p.m.
            </p>     
          </div>   

          <div class="fila">
            <h2><span class="normal4">Programa</span></h2>
            <p>
              Los cuatro talleres de Matemáticas cubren la totalidad de los temas del curso de Nivelación Matemática,
              que es el curso introductorio de la universidad y el temario básico del examen de admisión. Mayor
              información en las oficinas de admisión en el horario de atención.
            </p>     
          </div>   
 

          <table class="t-horario t-programa">
            <tbody>
              <tr>
                <th class="b-1 c-7">
                  Taller I
                </th>
                <td class="b-5 c-8">
                  REPASO<br />
                  UNIDAD 1: Lógica Proposicional<br />
                  UNIDAD 2: Conjuntos<br />
                  UNIDAD 3: Magnitudes Proporcionales 
                </td>
              </tr>
              <tr class="r-span double">
                <td colspan="2"></td>
              </tr>
              <tr>
                <th class="b-3">
                  Taller II
                </th>
                <td class="b-6">
                  UNIDAD 4: Conceptos Fundamentales  del Álgebra
                </td>
              </tr>
              <tr class="r-span double">
                <td colspan="2"></td>
              </tr>
              <tr>
                <th class="b-1">
                  Taller III
                </th>
                <td class="b-5">
                  UNIDAD 5: Ecuaciones y sistemas de ecuaciones
                </td>
              </tr>
              <tr class="r-span double">
                <td colspan="2"></td>
              </tr>
              <tr>
                <th class="b-3">
                  Taller IV
                </th>
                <td class="b-6">
                  UNIDAD 6: Logaritmos y Progresiones
              </tr> 
              <tr class="r-span double">
                <td colspan="2"></td>
              </tr>
              <tr>
                <th class="b-3">
                  Taller V
                </th>
                <td class="b-6">
                  UNIDAD 7: Geometría Analítica Básica
              </tr> 
            </tbody>
          </table>    
        
 
        </div> 
    </div> 
{% endblock %}
