﻿{% extends 'website/base-epu.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cpreparatorio">    
    {% include 'website/aside-epu.html' %}  
    <div class="w-contentinfo">
          <div class="fila">
            <h1>Nivelación Escolar</h1>
            <h2>
              <span class="normal">
                Dirigido a los alumnos que han finalizado 3ro y 
                4to desecundaria.
              </span>
            </h2>
            <h2><span class="normal3">Objetivo general</span></h2>
            <p>
              Consolidar y profundizar los conocimientos y habilidades cognitivas necesarias para 
              finalizar la educación secundaria y que son la base de la vida universitaria.
            </p>
          </div> 
          <div class="fila">
            <h2><span class="normal3">Objetivos específicos</span></h2>
            <p>
              Consolidar  y profundizar las siguientes áreas de la educación secundaria:
            </p>
            <ul class="listado">
              <li>Fundamentos de lenguaje</li>
              <li>Actualidad</li>
              <li>Comprensión y capacidad lectora.</li>
              <li>Redacción y argumentación. (Solo para alumnos que han finalizado 3ro de secundaria)</li>
              <li>Historia y Actualidad. (Solo para alumnos que han finalizado 4to de secundaria)​​</li>
              <li>Informática.​</li>
            </ul>   
         </div>
          <div class="fila">
            <h2><span class="normal3">Documentos necesarios para la matrícula 
              en la Escuela Preuniversitaria</span></h2> 
            <ul class="listado">
              <li>Constancia de pago de los derechos de matrícula y enseñanza.</li>
              <li>Ficha de datos personales.</li> 
            </ul>
          </div>  


          <div class="fila">
            <h2><span class="normal4">Asignaturas, horarios y costos</span></h2>  
            <table class="t-horario"> 
              <thead>
                <tr>
                  <th class="c-1">alumno A*</th>
                  <td class="c-2 span"></td>
                  <th class="c-3">alumno B*</th>
                  <th class="c-4">horas por semana</th>
                  <td class="c-2 span"></td>
                  <th class="c-5">horario</th>
                  <td class="c-2 span"></td>
                  <th class="c-6">costo</th>
                </tr>
              </thead>
              <tbody>
                <!-- first section -->
                <tr>
                  <td class="b-1">Matemáticas</td>
                  <td class="span"></td>
                  <td class="b-1">Matemáticas</td>
                  <td class="b-5">6</td>
                  <td rowspan="5" class="span"></td>
                  <td class="b-6" rowspan="5">
                    Lun y Vie<br />
                    9:10 a.m. a 12:50 p.m.
                  </td>
                  <td rowspan="5" class="span"></td>
                  <td class="b-6" rowspan="5">S/. 1230.00</td>
                </tr>
                <tr class="r-span">
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td class="b-2">Lenguaje</td>
                  <td class="span"></td>
                  <td class="b-2">Lenguaje</td>
                  <td class="b-6">4</td>
                </tr> 
                <tr class="r-span">
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td class="b-1">Lectura crítica</td>
                  <td class="span"></td>
                  <td class="b-1">Lectura crítica</td>
                  <td class="b-5">2</td>
                </tr>
                <!-- end -->
                <tr class="r-span r-double">
                  <td colspan="8"></td>
                </tr>
                <!-- second section -->

                <tr>
                  <td class="b-3">Géneros textuales</td>
                  <td class="span"></td>
                  <td class="b-3">Historia y Actualidad del siglo XX</td>
                  <td class="b-6">2</td>
                  <td rowspan="3" class="span"></td>
                  <td class="b-6" rowspan="3">
                    Mar y Jue<br/>
                    9:10 a.m. a 12:50 p.m.
                  </td>
                  <td rowspan="3" class="span"></td>
                  <td class="b-6" rowspan="3">S/. 1230.00</td>
                </tr>
                <tr class="r-span">
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <td class="b-4">Introducción a la informática</td>
                  <td class="span"></td>
                  <td class="b-4">Introducción a la informática</td>
                  <td class="b-5">4</td>
                </tr> 
                <!-- end -->
                <tr class="r-span double">
                  <td colspan="8"></td>
                </tr>
                <!-- third section -->
                <tr>
                  <td class="b-1" colspan="3">Programa completo </td>
                  <td class="b-6">16</td>
                  <td class="span"></td>
                  <td class="b-6" >
                    Mar y Jue<br/>
                    9:10 a.m. a 12:50 p.m.
                  </td>
                  <td class="span"></td>
                  <td class="b-6" >S/. 1230.00</td>
                </tr> 

                <!-- end -->

              </tbody>
            </table> 
            <div class="sumilla">
              <div>
                <strong>alumno A*:</strong> quienes hayan finalizado 3ro de secundaria.
              </div>
              <div>
                <strong>alumno B*:</strong> quienes hayan finalizado 4to de secundaria
              </div>
            </div>     
         </div>

          <div class="fila">
            <h2><span class="normal3">Matrícula 2012</span></h2>
            <div class="subfila-2"> 
              <h2><span class="highlight4">Del 10 de diciembre de 2012 al 4 de enero de 2013</span></h2>
              <p><strong>Lugar:</strong>Oficina de Admisión de la Universidad del Pacífico.</p>
              <p><strong>Horario:</strong>Lunes a viernes de 9:00 a.m. a 6:00 p.m.</p>
            </div>
            <h2>
              <span class="normal6">Duración de clases:</span>
              <span class="normal5">del 7 de enero al 21 de febrero de 2013 </span>
            </h2>  
          </div>
          <div class="fila">
            <h2><span class="normal3">Procedimiento para el pago de los derechos de enseñanza</span></h2>
            El pago lo puede realizar,<strong> a partir del 1 de diciembre de 2012</strong>, según el siguiente procedimiento:
            <div class="cnt-proced">
              <div class="proced-1">
                <div><span class="let">1</span></div>
                <div class="text-proced bg1"> 
                  Acercarse a cualquier agencia a nivel nacional del Scotiabank Perú y anunciar que desea efectuar el pago
                  de los derechos de enseñanza de la Escuela Preuniversitaria de la Universidad del Pacífico bajo el sistema 
                  RECAUDACIÓN AUTOGENERADO (Código 796).
                </div>
              </div>
              <div class="proced-2">
                <div><span class="let">2</span></div>
                <div class="text-proced bg1">
                <strong>Indicar al cajero del Banco el monto a pagar</strong><br />
                Programa parcial: S/.1230.00<br />
                Programa completo: S/. 2230.00<br /><br />
                <strong>No olvides dar los siguientes datos:</strong>
                 <ul class="listado2">
                    <li>Nombres y apellidos completos del postulante (incluyendo las tildes).</li>
                    <li>Fecha de nacimiento del postulante.</li>
                    <li>Teléfono fijo o celular.</li>
                </ul>
                </div>
              </div>
            </div>  
          </div>

          <div class="sumilla">
            El Banco está obligado a proporcionar un voucher como constancia de haberse efectuado el pago, el mismo
            que deberá ser entregado al momento de la matrícula.
          </div>
        </div> 
    </div> 
{% endblock %}
