﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso">
    {% include 'website/aside-nivelatorio.html' %}
    <div class="w-contentinfo">
        <h1>Programa Nivelatorio</h1>
        <div class="fila"> 
          <h3>Información</h3>
          <p>
            Como postulante seleccionado, es importante que te mantengas informado de una serie de actividades que la Universidad ha programado para ti. Entre ellas se encuentran:
          </p> 
          <ul class="listado">
            <li>La formalización de tu ingreso</li>
            <li>Los exámenes exoneratorios</li>
            <li>La convalidación de asignaturas por haber obtenido el Diploma del Bachillerato Internacional</li>
            <li>El Programa Nivelatorio 2012</li>
            <li>El Taller de Inducción a la Vida Universitaria – TIVU</li>
            <li>La Evaluación Sicológica de Ingreso</li>
            <li>El Taller de Herramientas Informáticas</li>
            <li>La matrícula para el primer semestre académico del año 2012</li>  
          </ul>
          <p>
            En esta página podrás encontrar información relativa a los puntos antes mencionados. Es importante que sepas que algunas de las actividades requerirán de un código de usuario y contraseña, los cuales te serán enviados a tu correo electrónico.
          </p> 
          <p>
            Si tienes alguna consulta puedes comunicarte con Patricia Armas al e-mail programa_nivelatorio@up.edu.pe
          </p>
        </div>    

        <div class="fila"> 
          <h3>Preguntas frecuentes</h3> 
          <ol class="list l-basic">
            <li>
              <strong>¿Los exámenes exoneratorios tienen costo?</strong><br />
              <span>
                Los exámenes no tienen costo alguno, son gratuitos.<br />
                Para rendirlos solo tienes que inscribirte.
              </span>
            </li> 
            <li>
              <strong>¿Estoy obligado a rendir los exámenes exoneratorios?</strong><br />
              <span> 
                No estás obligado a rendirlos. Los exámenes son una alternativa para aquellos alumnos que deseen convalidar o exonerarse de alguna de las asignaturas de nivelación. Si no los rindes, tienes que decidir si llevas los cursos de nivelación en verano o si los llevas en tu primer ciclo regular.
              </span>
            </li> 
            <li>
              <strong>¿Puedo rendir sólo uno de los exámenes?</strong><br />
              <span> 
                Puedes rendir uno, dos o los tres. Tú decides. Eso sí, una vez que los rindes, no los puedes volver a rendir ciclo regular.
              </span>
            </li> 
            <li>
              <strong>¿Qué pasa si no cumplo con la nota aprobatoria mínima de los exámenes exoneratorios?</strong><br />
              <span> 
                Significaría que no los exoneraste. En ese caso puedes inscribirte en el Programa Nivelatorio 2012 o llevarlos en tu primer ciclo regular
              </span>
            </li> 
            <li>
              <strong>¿Es obligatorio llevar el Programa Nivelatorio?</strong><br />
              <span> 
                No es obligatorio llevar los cursos de nivelación en el verano, pues tienen un costo. Lo que sí es obligatorio es aprobar las asignaturas de nivelación pues constituyen asignaturas oficiales del Plan de Estudios.
              </span>
            </li> 
            <li>
              <strong>¿Puedo matricularme solo en una de las asignatura que ofrece el Programa Nivelatorio?</strong><br />
              <span> 
                Efectivamente
              </span>
            </li> 
            <li>
              <strong>¿Qué pasa si desapruebo la o las asignaturas que llevé en el Programa Nivelatorio?</strong><br />
              <span> 
                No pasa nada. Salir desaprobado en el Programa Nivelatorio 2012 no se considera en tu record académico oficial. Eso sí, tendrías que llevar las asignaturas desaprobadas, obligatoriamente, en tu primer ciclo regular.
              </span>
            </li> 
            <li>
              <strong>¿Se puede convalidar de alguna forma la asignatura de Nivelación en Informática?</strong><br />
              <span> 
                Las únicas formas de convalidar la asignatura de Nivelación en Informática son a través del examen exoneratorio o llevando la misma en el Programa Nivelatorio 2012.
              </span>
            </li> 
            <li>
              <strong>Las únicas formas de convalidar la asignatura de Nivelación en Informática son a través del 
                examen exoneratorio o llevando la misma en el Programa Nivelatorio 2012.</strong><br />
              <span> 
                Es el Taller de Inducción a la Vida Universitaria. El objetivo del taller es incentivar a los ingresantes a participar activa y responsablemente de la vida universitaria, dándoles a conocer los aspectos académicos y administrativos más relevantes para su desenvolvimiento como estudiantes. 
              </span>
            </li> 
            <li>
              <strong>¿Es obligatorio cursar el TIVU?</strong><br />
              <span> 
                La participación en el TIVU es OBLIGATORIA para todo ingresante a la Universidad del Pacífico cualquiera sea su modalidad de ingreso.
              </span>
            </li> 
            <li>
              <strong>¿Cuál es el costo del TIVU?</strong><br />
              <span> El TIVU es gratuito si se participa de él en las fechas oficiales en las que es programado.<br />
                <br />
                Si por motivos de fuerza mayor (debidamente sustentados) no puedes participar en el TIVU en las fechas oficiales, deberás acercarte a la Dirección de Gestión y Desarrollo del Aprendizaje (oficina E-105) y seguir los procedimientos correspondientes para poder participar en el mismo en la fecha de rezagados (que se lleva a cabo una vez iniciado el primer semestre). En ese caso deberás asumir el costo del taller fijado en S/.100.00 Nuevos Soles.
              </span>
            </li> 
            <li>
              <strong>¿Qué pasa si no me inscribo en el TIVU?</strong><br />
              <span>Si no participas ni en las fechas oficiales ni en la de rezagados no podrás matricularte en un segundo semestre en la universidad. <br />
                <br />
                Deberás participar en el TIVU un semestre después en las fechas que GDA estime convenientes asumiendo el costo del taller fijado en S/.100.00 Nuevos Soles.
              </span>
            </li>  
          </ol> 
        </div>  
    </div>

  </div>
{% endblock %}
