{% extends 'website/base.html' %} 
{%block moduleclass %}m-contacto{% endblock %}
{% block css %} 
{% endblock %} 

{% block slider %}
<div class="slide inner-5">
  <div class="info">
    <div class="span">
    </div>
    <div class="title ">
      CONTÁCTANOS 
    </div>   
  </div>
</div> 
{% endblock %}

{% block js %}
{% autoescape on %}

  <script type="text/javascript">
    //https://maps.google.com/maps?q=universidad+del+pacifico&hl=en&ll=-12.083828,-77.048331&spn=0.006347,0.010568&view=map&cid=3425353354879134277&hq=universidad+del+pacifico&t=m&z=17&iwloc=A
    function initialize() {
      var point = new google.maps.LatLng(-12.083828, -77.048331);
      var myOptions = {
        zoom: 13,
        center: point,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'),
          myOptions);

      var image="static/css/img/map-icon.png";
      var myLatLng = point;
      var beachMarker = new google.maps.Marker({
          position: myLatLng,
          map: map, 
          icon: image
      });
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?sensor=false&' +
          'callback=initialize';
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>

{% endautoescape %}

{% endblock %}
{% block content %}  
<div class="w-proceso w-proceso-full w-contacto">    
  <div class="w-contentinfo"> 
    <div class="fila  ">  
      <h1>Visítanos</h1>   
      <div class="address">Jr. Sánchez Cerro 2141 Jesús María, Lima Perú.</div> 
    </div>
    <div class="row map">
      <div class="map map-canvas" id="map-canvas">
      </div>
      <div class="map-controls">
        <a href="" class="a-print"><span class="icon i-print"></span>Imprimir plano </a>
        <a href=""><span class="icon i-send"></span>Enviar plano por correo </a>
      </div>
    </div>
    <div class="fila ">  
      <form class="form f-duda" method="POST" action="#">
          <div class="callus">Llámanos <span class="phone">(51 1) 2190100  # 2020</span> </div>
          <div class="sendus">O envíanos un correo</div>
          <div class="row">
          <label>Nombre</label><input class="input" type="text" name="nombre"/>
          </div>
          <div class="row r-1">
          <label>Correo</label><input class="input" type="text" name="nombre"/>
          </div>
          <div class="row r-2">
          <label>Mensaje</label><textarea class="textarea" name="nombre"></textarea>
          </div>
          <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-contact-1.png" alt="Contacto" width="233" height="335"/>
          </div>
      </form> 
    </div>
  </div>

</div>
{% endblock %}
