﻿{% extends 'website/base-epu.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cpreparatorio">    
    {% include 'website/aside-epu.html' %}  
    <div class="w-contentinfo">
        <div class="fila">
          <h1>Ciclo Preparatorio para examen de Admisión</h1>
          <h2><span class="normal">Dirigida a alumnos de 5to de secundaria y egresados de secundaria.</span></h2>
          <h2><span class="normal3">Objetivo general</span></h2>
          <p>
            Consolidar y profundizar los conocimientos y habilidades cognitivas 
            necesarias para aprobar el Examen de Admisión de la Universidad del Pacífico 
            y su exigente vida académica.
          </p>
        </div>   
        <div class="fila">
          <h2><span class="normal3">Objetivos específicos</span></h2>
          <p>Consolidar  y profundizar las siguientes áreas de la educación secundaria y de la 
             futura vida universitaria:
          </p>
          <ul class="listado">
            <li>Fundamentos de matemática</li>
            <li>Fundamentos de lenguaje</li>
            <li>Comprensión y capacidad lectora</li>
            <li>Historia</li>
            <li>Geografía​​</li>
            <li>Actualidad​</li>
          </ul>
        </div>
        <div class="detalle-fondo"> 
          <img src="{{ STATIC_URL }}css/img/img-cpreparatorio-1.png"  width="137" height="97"/>
        </div>
        <div class="fila">
            <h2><span class="normal4">Asignaturas, horarios y costos</span></h2>
            <div class="titulo-tb"><div class="tit-1">horas por semana</div><div class="tit-2">horario</div><div class="tit-3">costo</div></div>    
            <table class="tb-cnt">
              <tr>
                <td class="size2 title-td3">Opcion 1</td>
                 <td> <table class="tb-inf"><td class="title-td">Matemáticas</td><td class="size1">13</td><td>L-V: 9:10a.m. a 12:50p.m.</td></table>
                      <table class="tb-inf2"><td class="title-td1">Lenguaje</td><td class="size1 bg1">4</td><td class="bg1">L-V: 9:10a.m. a 12:50p.m.</td></table>
                      <table class="tb-inf"><td class="title-td">Lectura <br>crítica</td><td class="size1">2</td><td>L-V: 9:10a.m. a 12:50p.m.</td></table>
                 </td>
                 <td class="size3 bg1">S/. 2000.00</td>  
               </tr>
            </table>
            <table class="tb-cnt">
              <thead>
                <tr>
                   <td class="size2 title-td5">Opcion 2</td>
                   <td> <table class="tb-inf3"><td class="title-td2">Razonamiento verbal</td><td class="size1">13</td><td>L-V: 9:10a.m. a 12:50p.m.</td></table>
                        <table class="tb-inf"><td class="title-td4">Historia,<br>actualidad, geografía</td><td class="size1">4</td><td>L-V: 9:10a.m. a 12:50p.m.</td></table>
                   </td>
                   <td class="size3 bg1">S/. 2000.00</td>  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="3">25 horas en total</th>
                </tr>
              </tfoot>
            </table>      
         </div>
         <div class="fila">
              <h2><span class="normal3">Matrícula 2012</span></h2>
                <div class="subfila-2"> 
                  <h2><span class="highlight4">Del 14 de noviembre al 28 de diciembre</span></h2>
                  <p><strong>Lugar:</strong>Oficina de Admisión de la Universidad del Pacífico.</p>
                  <p><strong>Horario:</strong>Lunes a viernes de 9:00 a.m. a 6:00 p.m.</p>
                </div>
              <h2><span class="normal6">Duración de clases:</span><span class="normal5">Del 02 de enero al 23 de febrero de 2013.</span></h2>  
         </div>
         <div class="fila">
          <h2><span class="normal3">Procedimiento para el pago de los derechos de enseñanza</span></h2>
          El pago lo puede realizar, a partir del 1 de diciembre de 2012, según el siguiente procedimiento:
          <div class="cnt-proced">
            <div class="proced-1">
              <div><span class="let">1</span></div>
              <div class="text-proced bg1"> Acercarse a cualquier agencia a nivel nacional del Scotiabank Perú y anunciar que desea efectuar el pago
                    de los derechos de enseñanza de la Escuela Preuniversitaria de la Universidad del Pacífico bajo el sistema 
                    RECAUDACIÓN AUTOGENERADO (Código 796).
              </div>
            </div>
            <div class="proced-2">
              <div><span class="let">2</span></div>
              <div class="text-proced bg1">
              <strong>Indicar al cajero del Banco el monto a pagar</strong><br>
              No olvides dar los siguientes datos:
               <ul class="listado2">
                  <li>Nombres y apellidos completos del postulante (incluyendo las tildes).</li>
                  <li>Fecha de nacimiento del postulante.</li>
                  <li>Teléfono fijo o celular.</li>
              </ul>
              </div>
            </div>
          </div>  
         </div>
    </div>

  </div>
{% endblock %}
