﻿{% extends 'website/base-epu.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-cpreparatorio">    
    {% include 'website/aside-epu.html' %}  
    <div class="w-contentinfo">
          <div class="fila">
            <h1>Taller de Redacción</h1>
            <h2>
              <span class="normal">
                Talleres de la Escuela Preuniversitaria de la Universidad del Pacífico
              </span>
            </h2> 
          </div> 
          <div class="fila">
            <h2><span class="normal3">Objetivo General</span></h2>
            <p>
              La Escuela Preuniversitaria de la Universidad del Pacífico tiene como tarea brindar los conocimientos y
              habilidades cognitivas necesarias para ingresar a la universidad y superar con éxito su exigente vida
              académica.
            </p>    
          </div>  
          <div class="fila">
            <h2><span class="normal3">¿A quiénes se dirige?</span></h2>
            <p>
              A los alumnos que van a postular por Admisión Selectiva, alumnos de quinto de secundaria y 
              público en general.
            </p>    
          </div>   

          <div class="fila">
            <h2><span class="normal3">Objetivos específicos</span></h2>
            <p>
              Brindar las herramientas necesarias para que el alumno alcance el nivel óptimo en redacción de ensayos.
            </p>
          </div>   

          <div class="fila">
            <h2><span class="normal3">Documentos necesarios para la matrícula</span></h2>   
            <ul class="listado">
              <li>Formulario de admisión</li>
              <li>Voucher emitido por el banco que certifique el pago del derecho de matrícula y de enseñanza </li> 
            </ul>
          </div>   

          <div class="fila">
            <h2><span class="normal3">Costo del Taller</span></h2>
            <p>
              Precio al contado:
              <span class="precio">S/.470.00</span>
            </p>     
          </div> 

          <div class="fila">
            <h2><span class="normal3">Horario de atención para matrículas e informes</span></h2>
            <p>
              De 9:00 a.m. a 6:00 p.m.
            </p>     
          </div>   

          <div class="fila">
            <h2><span class="normal4">Programa</span></h2>
            <p>
              Los cuatro talleres de Matemáticas cubren la totalidad de los temas del curso de Nivelación Matemática,
              que es el curso introductorio de la universidad y el temario básico del examen de admisión. Mayor
              información en las oficinas de admisión en el horario de atención.
            </p> 

            <table class="t-horario t-programa">
              <tbody>
                <tr>
                  <th class="b-1 c-7">
                    Semana 1
                  </th>
                  <td class="b-5 c-8">
                    Pensamiento y lenguaje: el orden del discurso<br />
                    La organización de la información en el texto<br />
                    Discriminación: ideas principales e ideas secundarias<br />
                    Estructura lógica: orden y contenido de las ideas<br />
                    Introducción. cuerpo y conclusiones<br />
                    Marcadores textuales: variantes para introducir el temas de un texto.
                  </td>
                </tr>
                <tr class="r-span double">
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <th class="b-3">
                    Semana 2
                  </th>
                  <td class="b-6">
                    El ensayo: forma, estructura y contenido<br />
                    Tipos de registro. El registro culto<br />
                    El uso de la tercera persona<br />
                    Marcadores textuales: pasar a un nuevo tema. Ejemplos<br />
                    Marcadores textuales: continuar en el mismo tema. Ejemplos
                  </td>
                </tr>
                <tr class="r-span double">
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <th class="b-1">
                    Semana 3
                  </th>
                  <td class="b-5">
                    La lectura como modelo de redacción<br />
                    Marcas textuales: referencias<br />
                    Marcas textuales: conectores de orden, de distinción, de hincapié,<br />
                    etc.
                  </td>
                </tr>
                <tr class="r-span double">
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <th class="b-3">
                    Semana 4
                  </th>
                  <td class="b-6">
                    Etapas del proceso de redacción;<br />
                    Intelección, invenció, Disposición y Redacción<br />
                    El esquema<br />
                    La definición: núcleo sustantivo y complementos
                </tr> 
              </tbody>
            </table>    
          
          </div>   
 
 
        </div> 
    </div> 
{% endblock %}
