{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{% block slider %}  
  <div class="slide inner-3">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-5.png" width="323" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        MODULO
      </div>   
      <div class="subtitle">
        DE DESCARGAS
      </div>   
    </div>
  </div> 
{% endblock %}

{%block moduleclass %}m-social{% endblock %}
{% block content %}    
<div class="clearfix w-descargas main-block-content"> 
	{% include 'website/aside-descargas.html' %}  	
	<div class="w-contentinfo">
		<div class="detail">
			<p>Descarga todos los folletos de carreras</p>
		</div>
		
		
		
		<div class="w-download-block">
			<div class="i-download">
			  <div class="download-b boxes slider">
			   <!-- ROWS -->
				<div class="row">
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Sección ¿Dudas?</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download-2.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Plan de estudios Negocios Internacionales</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download-3.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Sección ¿Dudas?</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>			  
				</div> 
				<div class="row">
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Sección ¿Dudas?</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download-2.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Sección ¿Dudas?</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>
					<div class="download box">
						<div class="img">
							<img src="{{STATIC_URL}}css/img/img_download-3.jpg" width="198" height="185" alt="Download" />
						</div>
						<div class="title">
							<h3>Sección ¿Dudas?</h3>
						</div>
						<div class="info">					  
							<div class="detail">Descarga el plan para más detalle informativo.</div>
							<div class="more">
								<a href="">
									<span>Descargar </span>
								</a> 
							</div>
						</div>					
					</div>			  
				</div> 
			   <!-- END ROWS -->
			  </div>
			  <div class="sep s-1"></div>
			  <div class="sep s-2"></div>
			  <div class="s-controllers controllers">
				<div class="prev"> 
				</div> 
				<div class="next"> 
				</div> 
			  </div> 
			</div> 
			<div class="shadow">
			</div>
		  </div>
		
		
		
	</div>
</div>
{% endblock %}
