<div id="footer"> 
  <div class="inner">
    <h4><a href="home.html">ADMISIÓN</a></h4> 
  </div> 
  <div class="footer-links">
    <div class="inner">
      <div class="f-links clearfix">
        <div class="block first">
          <h3><a href="proceso.html">¿Dudas?</a></h3> 
          <h3><a href="admselectiva.html">Modalidades de Ingreso</a></h3> 
          <h3><a href="preuniversitaria.html">Escuela Preuniversitaria</a></h3> 
          <h3><a href="pensiones.html">Pensiones</a></h3> 
          <h3><a href="cextranjero.html">UP Internacional</a></h3> 
          <h3><a href="contacto.html">Contáctanos</a></h3> 
        </div>
        <div class="block">
          <h3>Carreras</h3>
          <ul>
            <li><a href="marketing_text.html">Administración</a></li>
            <li><a href="marketing_text.html">Contabilidad</a></li>
            <li><a href="marketing_text.html">Derecho</a></li>
            <li><a href="marketing_text.html">Economía</a></li>
            <li><a href="marketing_text.html">Ingeniería de la Información </a></li> 
            <li><a href="marketing_text.html">Ingeniería Empresarial </a></li>
            <li><a href="marketing_text.html">Marketing </a></li>
            <li><a href="marketing_text.html">Negocios Internacionales </a></li>
          </ul>
        </div>
        <div class="block">
          <h3><a href="tourvirtual.html">Tour Virtual</a></h3> 
          <h3><a href="testimonios.html">Testimonios</a></h3> 
          <h3><a href="sociales.html">Redes sociales</a></h3> 
          <h3><a href="agenda.html">Agenda Admisión</a></h3> 
          <h3><a href="agenda.html">Calendario de Admisión completo</a></h3> 
          <h3><a href="noticias.html">Noticias</a></h3> 
        </div>
        <div class="block">
          <div class="seal"> Recibe Información</div>
          <div class="form">
            <form action="" method="" accept-charset="utf-8">
              <div><input type="text" class="input" placeholder="Tu nombre"/> <input type="submit" class="btn" value=""  /></div>
              <div><input type="text" class="input" placeholder="tucorreo@mail.com"/>  </div>
              <div class="hr"></div>
              <div>¿Quieres conocer más de nosotros?</div>
                  <div class="social">
                  <!-- <div class="tw1 mg"><a href="ingresos.html">Facebook UP Admisión</a></div>-->
                    <div class="fb1 mg">
                      <a href="http://www.facebook.com/postulaup" target="_blank">
                        Facebook UP Admisión
                      </a>
                    </div>
                   <!--  <div class="fl mg"><a href="selectiva.html">Facebook UP Admisión</a></div>-->
                    <div class="yt mg">
                      <a href="http://www.youtube.com/user/UPacificoUP/videos" target="_blank">
                        Facebook UP Admisión
                      </a>
                    </div>                   
               </div>
            </form>
          </div> 
        </div>
      </div>
    </div>
  </div> 

  <!-- Credits -->
  <div class="f-address clearfix">
    <div class="inner"> 
      <div class="address">
        Universidad del Pacífico<br />
        Jr. Sánchez Cerro 2141 Jesús María, Lima Perú // Tel. +51 1 2190100 anexo 2177/2197 <br />
        <div class="hr"></div>
        2012 Universidad del Pacífico, todos los derechos reservados.
      </div> 
    </div>
    <div class="staff">
      <a title="Staff Creativa Web Design" href="http://www.staffcreativa.com">Staff Creativa Web Design</a> 
    </div>
  </div>
  <!-- END -->
</div>