<div id="header">
  <div class="inner">
    <div class="logo">
        <a href="home.html">Universidad del Pacífico </a>
    </div> 
    <div class="subnav">
      <ul class="menu">
        <li><a href="index.html" title="">Inicio   </a></li>
        <li><a href="" title="">Campus virtual   </a></li>
        <li><a href="" title="">Bolsa de trabajo   </a></li>
        <li><a href="" title="">Mapa de sitio   </a></li>
        <li><a href="contacto.html" title="">Contáctenos   </a></li>
        <li><a href="inscribete.html" title="">Registrarse    </a></li>
        <li><a href="" title="">Login    </a></li>
        <li><a href="" title=""><strong>ENGLISH</strong></a></li> 
      </ul><!-- / -->
    </div>
    <div class="search">
      <form action="">
        <input type="text" placeholder="Ingresa tu búsqueda" class="input" />
        <input type="submit" class="button icon abs i-find" value="" />
      </form>
    </div> 
  </div>
  <div class="nav">
    <div class="inner">
      <ul class="menu">
        <li><a href="index.html" title="" class="active">Admisión  <span></span> </a></li>
        <li><a href="proceso.html" title="">¿Dudas?  <span></span> </a></li>
        <li><a href="admselectiva.html" title="">Modalidades de Admisión <span></span>  </a></li>
        <li><a href="cescolares.html" title="">Escuela Preuniversitaria <span></span>  </a></li>
        <li><a href="pensiones.html" title="">Pensiones <span></span>  </a></li>
        <li><a href="cextranjero.html" title="">UP internacional  <span></span>  </a></li>
        <li><a href="contacto.html" title="">Contáctanos  <span></span>  </a></li> 
      </ul><!-- / -->
    </div>
  </div>
</div>
 