{% extends 'website/base.html' %}  

{% block content %} 
<div class="w-home">   
  <!-- END -->
  <div class="main-block">
    <div class="w-tour item w-block">
      <a href="tourvirtual.html">
        <span class="img">
          <img src="{{STATIC_URL}}css/img/img-home-1.jpg" alt="" width="304" height="250" />
        </span>
        <span class="title">
          <strong>Tour virtual</strong>
        </span>
      </a>
    </div>
    <div class="w-testimonio item w-block">
      <a href="testimonios.html">
        <span class="img">
          <img src="{{STATIC_URL}}css/img/img-home-2.jpg" alt="" width="304" height="250" />
        </span>
        <span class="title">
          <strong>Testimonios</strong>
        </span>
      </a>
    </div>
    <div class=" item">
      <div class="w-social">
        <div class="link">
          <a class="" href="inscribete.html">Regístrate</a>
        </div>  
        <div class="link l-1">
          <a class="" href="interesado_up.html">¿interesado en la up?</a>
        </div>  
        <div class="link l-2">
          <a class="" href="sociales.html">REDES SOCIALES</a>
        </div> 
      </div> 
      <div class="w-agenda">

        <div class="w-eventos">
          <h3><a href="agenda.html">AGENDA <span class="highlight">ADMISIÓN</span> </a></h3>

          <div class="events slider" data-slider="pause">
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
                </div>
              <div class="info">
                <h4><a href="agenda.html">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
                </div>
              <div class="info">
                <h4><a href="agenda.html">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
                <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
                </div>               
                <div class="info">
                  <h4><a href="agenda.html">Orientación <span class="highlight">vocacional</span> </a></h4>
                  <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                  <div class="place">Colegio San Agustín  |  10 a.m.</div>
                </div>
            </div>
          </div>

          <div class="s-controllers">
            <div class="prev"> 
            </div> 
            <div class="next"> 
            </div> 
          </div>  
          <div class="foot">
            <a href="agenda.html">ver calendario admisión completo</a>
          </div> 
        </div>
        <div class="shadow2">
        </div>
      </div>
    </div>
  </div>


  <div class="w-news-block">
    <div class="news">
      <div class="events boxes slider"   data-slider="pause">
       <!-- ROWS -->
        <div class="row">
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="img">
              <a href="" title="Bienvenido, cachimbo UP">
                <img src="{{STATIC_URL}}css/img/img-noticias-1.jpg" width="210" height="140" alt="Bienvenido, cachimbo" />
              </a> 
            </div>
            <div class="info">
              <h4>Bienvenido, cachimbo  <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div> 
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="info">
              <h4>Estudiantes de   <span class="highlight">intercambio</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a class="fancyboxVideo" href="http://www.youtube.com/watch?v=5QlqPqIPU0I" title="Bienvenido, cachimbo UP">
                  <span>Ver video </span>
                  <span class="icon i-eye"></span>
                </a>

              </div>
            </div>
            <div class="img">
              <a class="video fancyboxVideo" href="http://www.youtube.com/watch?v=5QlqPqIPU0I">
                <img src="{{STATIC_URL}}css/img/img-noticias-2.jpg" width="210" height="140" alt="Estudiantes de" />
                <span class="v-play icon i-play"></span>
              </a>
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="info">
              <h4>Charla informativa   <span class="highlight">para padres</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span> 
                </a>

              </div>
            </div>
            <div class="img">
              <a href="" title="Bienvenido, cachimbo UP">
                <img src="{{STATIC_URL}}css/img/img-noticias-3.jpg" width="210" height="140" alt="Charla informativa" />
              </a>
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="img">
              <a href="" title="Bienvenido, cachimbo UP">
                <img src="{{STATIC_URL}}css/img/img-noticias-4.jpg" width="210" height="140" alt="Experiencias" />
              </a>
            </div>
            <div class="info">
              <h4>Experiencias   <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span>
                </a>

              </div>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="info">
              <h4>Bienvenido, cachimbo  <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span>
                </a>

              </div>
            </div>
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-noticias-1.jpg" width="210" height="140" alt="Bienvenido, cachimbo" />
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-noticias-2.jpg" width="210" height="140" alt="Bienvenido, cachimbo" />
            </div>
            <div class="info">
              <h4>Bienvenido, cachimbo  <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span>
                </a>

              </div>
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="info">
              <h4>Bienvenido, cachimbo  <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span>
                </a>

              </div>
            </div> 
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-noticias-3.jpg" width="210" height="140" alt="Bienvenido, cachimbo" />
            </div>
          </div>
          <div class="event box">
            <div class="title">
              <span class="month">MARZO </span>
              <span class="day highlight">26</span>
            </div>
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-noticias-4.jpg" width="210" height="140" alt="Bienvenido, cachimbo" />
            </div>
            <div class="info">
              <h4>Bienvenido, cachimbo  <span class="highlight">UP</span> </h4>
              <div class="detail">Este 26 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Este 26 de marzo marzo.</div>
              <div class="more">
                <a href="noticias.html" title="Bienvenido, cachimbo UP">
                  <span>Leer más </span>
                  <span class="plus">+</span>
                </a>

              </div>
            </div>
          </div>
        </div> 
       <!-- END ROWS -->
      </div>
      <div class="sep s-1"></div>
      <div class="sep s-2"></div>
      <div class="sep s-3"></div>
      <div class="s-controllers controllers">
        <div class="prev"> 
        </div> 
        <div class="next"> 
        </div> 
      </div> 
    </div> 
    <div class="shadow">
    </div>
  </div>

</div>
{% endblock %}
