﻿{% extends 'website/base.html' %} 
{% block css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/ingresos.css"/>  
{% endblock %}
{% block content %} 
  <div id="rubros" class="w-proceso w-ingresos">    
    <div class="w-contentinfo">
      <div class="fila">
        <h2><span class="normal6">INGRESOS</span></h2>
        <form>
          <table>
          <tr><td class="td1 t-1">CONCEPTO</td>                 <td class="t-1">PADRE</td>                <td class="t-1">MADRE</td></tr>
          <tr><td class="td1">Sueldos y salarios</td>           <td><input type="text" name="sueldo1"/>   </td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Honorarios profesionales</td> <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Comisiones</td>                   <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Actividad comercial</td>      <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">A cuenta de utilidades</td>       <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Trabajo artesanal o técnico independiente</td><td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Pensión de jubilación y cesantía</td><td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Pensión de alimentos</td>   <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Pensión viudez y/u orfandad</td><td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Alquileres</td>             <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Intereses de depósitos bancarios</td><td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Asignación por gastos de representación</td><td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Asignación por movilidad</td>   <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Gasolina</td>               <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1">Otros</td>                      <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Apoyo Familiar</td>             <td colspan="2" width="130"><input class="input2" type="text" name="sueldo1"/></td></tr>
          <tr><td class="td1"><strong>Total Ingresos S/.</strong></td>             <td colspan="2" width="130"><input class="input2" type="text" name="sueldo1"/></td></tr>
          </table>
        <br>
        <h2><span class="normal6">DESCUENTOS</span></h2>
         <table>
          <tr><td class="td1 t-3">CONCEPTO</td>                 <td class="t-3">PADRE</td>                <td class="t-3">MADRE</td></tr>
          <tr><td class="td1">Impuestos a la Renta</td>           <td><input type="text" name="sueldo1"/>   </td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Aporte a SNP o AFP</td> <td><input type="text" name="sueldo1"/></td><td><input type="text" name="sueldo2"/></td></tr>
          <tr><td class="td1 t-2">Total Descuentos</td>             <td colspan="2" width="130"><input class="input2" type="text" name="sueldo1"/></td></tr>
          <tr><td class="td1"><strong>INGRESO FAMILIAR NETO S/.</strong></td>             <td colspan="2" width="130"><input class="input2" type="text" name="sueldo1"/></td></tr>
          </table>
          <div class="bt-submit"><input class="bt-limpiar" type="submit" value="limpiar"><input class="bt-result" type="submit" value="resultados"></div>
        </form>
      </div>  
    </div>

  </div>
{% endblock %}
