﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
<div class="w-proceso w-inscripcion">    
    {% include 'website/aside-dudas.html' %}   
<div class="w-contentinfo">
    <div class="fila f-2">
    <h2><span class="normal2">¿Es necesario tener DNI para asistir</span> <span class="highlight">a los eventos de la UP?</span></h2>
        <p>
          Para asistir a las actividades realizadas por la universidad es necesario que 
          te inscribas, para lo cual deberás llenar un formulario en el que se solicita 
          el número de tu DNI, al ingresar a la UP te van a solicitar tu DNI recuerda que 
          los menores de edad también deben contar con él y si no lo tienes es importante 
          que inicies el trámite. 
        </p>
        
     </div>   
     <div class="fila">
      <h2><span class="normal2">¿Puedo asistir a los eventos</span> <span class="highlight">con mis padres?</span></h2>
        <p>
          Tus padres pueden asistir a nuestras Charlas, Conferencias y Conversatorios, inclusive 
          tenemos eventos exclusivos para ellos.
        </p>
     </div>
      <div class="fila f-4">
      <h2><span class="normal2">¿Cuando puedo visitar la</span> <span class="highlight">UP?</span></h2>
        <p>
         Los interesados en postular a la UP son bienvenidos a visitarnos, solo debes avisarle al 
         orientador o tutor de tu colegio que nos envíe un correo electrónico con anticipación a:
         <a href="contacto.html">admision@up.edu.pe</a> 
        </p>
        <a href="contacto.html">
          <img src="{{ STATIC_URL }}css/img/img-inscripcion-1.png"  width="602" height="69"/>
        </a>
        
     </div>
      <div class="fila f-3">
      <h2><span class="normal2">¿Me puedo inscribir</span> <span class="highlight">a más de una clase modelo?</span></h2>
       <img src="{{ STATIC_URL }}css/img/img-inscripcion-2.png"  width="602" height="67"/>
        
     </div>
      <div class="fila f-2">
      <h2><span class="normal">¿Las clases modelo pueden ser también para padres</span> <span class="highlight2">o solo para postulantes?</span></h2>
        <p>
        Las clases modelo están dirigidas solo para postulantes.
        </p>
     </div>
     <div class="fila f-2">
      <h2><span class="normal">¿Los temas que tratan en las clases modelo</span> <span class="highlight">son diferentes cada fecha?</span></h2>
        <p>
        Los temas van a depender del profesor que dicte la clase, generalmente son todos diferentes​.
        </p>
     </div>
      <div class="fila f-4">
      <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2>
       
          <form class="form f-duda" method="POST" action="#">
              <div class="row">
              <label>Nombre</label><input class="input" type="text" name="nombre"/>
              </div>
              <div class="row r-1">
              <label>Correo</label><input class="input" type="text" name="nombre"/>
              </div>
              <div class="row r-2">
              <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
              </div>
             <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
          </form>
        
     </div>
</div>

</div>
{% endblock %}
