{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-contacto{% endblock %} 

{% block slider %}
<div class="slide inner-3">
  <div class="info">
    <div class="span">
    </div>
    <div class="title">
      REGÍSTRATE 
    </div>   
  </div>
</div> 
{% endblock %}


{% block content %} 
<div class="clearfix w-inscribete main-block-content">    

	<div class="w-contentinfo ">	
		<div class="">
			<p>Esto es texto simulado. Los alumnos de la Universidad del Pacífico tienen la oportunidad de realizar estudios en el extranjero, en la modalidad de intercambio estudiantil. 
			Durante el ciclo de intercambio, los estudiantes están exonerados de los pagos por derechos de enseñanz.</p>
		</div>
		
		<div class="w-m-registrado">
		
		<h3>Ya estoy registrado</h3>
		
		<div class="w-form"> 
		</div>
		
		<div class="w-registrado">
			
			<a href="interesado_up.html" class="bt-ingresa_aqui">Ingresa aqui</a>
			<a href="#" class="text">¿Olvidaste tu contraseña?</a>
		</div>
		
		
		
		
		</div>
		
		
		<div class="w-links">
			<div class="w-social">
				<div class="w-link">
					<div class="link">
						<a href="nuevo_usuario.html" class="">estoy interesado en la up</a>
					</div> 
					<div class="sublinks">
						<span class="b-dashed-h"></span>
						<ul>
							<li><span class="b-dashed-v"></span>
								<a href="" class="btn-gray">dni</a>						
							</li>
							<li><span class="b-dashed-v"></span>
								<a href="nuevo_usuario.html" class="btn-gray">carné de extranjería</a>						
							</li>				
						</ul>		
					</div>
				</div>
				<div class="w-link">
					<div class="link l-1">
						<a href="interesado_up.html" class="descargas.html">soy padre de familia</a>
					</div> 
					<div class="sublinks">
						<span class="b-dashed-h"></span>
						<ul>
							<li><span class="b-dashed-v"></span>
								<a href="" class="btn-gray">dni</a>						
							</li>
							<li><span class="b-dashed-v"></span>
								<a href="nuevo_usuario.html" class="btn-gray">carné de extranjería</a>						
							</li>				
						</ul>		
					</div>
				</div>
				<div class="w-link">
					<div class="link l-1">
						<a href="" class="">Soy orientador de colegio</a>
					</div> 
					<div class="sublinks">
						<span class="b-dashed-h"></span>
						<ul>
							<li><span class="b-dashed-v"></span>
								<a href="" class="btn-gray">dni</a>						
							</li>
							<li><span class="b-dashed-v"></span>
								<a href="nuevo_usuario.html" class="btn-gray">carné de extranjería</a>						
							</li>				
						</ul>		
					</div>
				</div>		
			</div>	
			
			
		</div>
		
		
		
		
	</div>
	
</div>
{% endblock %}
