{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-contacto{% endblock %} 

{% block slider %}
<div class="slide inner-3">
  <div class="info">
    <div class="span">
    </div>
    <div class="title">
      INTERESADO EN LA UP 
    </div>   
  </div>
</div> 
{% endblock %}


{% block js %}
{% autoescape on %}


{% endautoescape %}

{% endblock %}
{% block content %}  
<div class="w-intersado_up w-proceso-full w-contacto">    
	<div class="w-contentinfo"> 
	
		<p>Si estás interesado en postular a la Universidad revisa estos simples pasos para estar mejor informado.</p>
	
		<div class="clearfix cnt_block">
			<div class="w-block-1">
				<span class="number">1</span>
				<div class="box">
					Regístrate en nuestro portal de admisión
				</div>
				<div class="bottom"></div>
				<span class="flecha"></span>
			</div>	 
			<div class="b-registrate">
				<a href="inscribete.html" class="button registrate">REGÍSTRATE</a>
				<h3>¿Por qué debo registrarme? <br/>
					<span>
					De esta manera podrás asistir a los eventos que
					tenemos preparados para ti. 
					</span>
				</h3>
			</div>
			<div class="w-block-2">
				<div class="block_top">
					<span class="number">2</span>
					<h4>Asiste a las charlas informativas para postulantes</h4>
				</div> 
				<div class="info">Recuerda que también tenemos charlas exclusivas para padres.</div>
				<span class="flecha"></span>
			</div>
			
			<div class="w-block-3">
				<div class="block_top">
					<span class="number">3</span>
					<h4>Escoge tu modalidad de admisión</h4>
				</div>	 
				<span class="flecha"></span>
			</div>
			
			<div class="w-block-4">
				<span class="number">4</span>
				<div class="box">
					<span class="clip"></span>
					<a href="inscribete.html">Preinscríbete</a> 
				</div>
				<div class="bottom"></div>
				<span class="flecha"></span>
			</div>	
			<div class="w-block-5">
				<div class="inner">
					<span class="number">5</span>
					<div class="box">
						Acércate a la Oficina de Admisión a realizar tu inscripción
					</div>
					<div class="bottom"></div>
				</div> 
				<span class="flecha"></span>
			</div> 
			
			
			<div class="w-block-7">
				<div class="block_top">
					
					<h3>¿dudas?</h3>
					<h4>Contáctanos</h4>
				</div>	
				
				<h3>Aparte de la secciones con estos nombres, estamos presentes en múltiples redes sociales para mantenernos comunicados.</h3>
		
			</div>
			
			
			
			
			
		</div>
		<div class="clear"></div>
		<h3 class="title">
			Si tienes alguna duda revisa nuestra sección
			¿Dudas? o <a href="contacto.html">contáctanos.</a>
		</h3>	
	
	
	
	</div>
</div>
{% endblock %}
