{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{% block js %}
{% autoescape on %}


{% endautoescape %}

{% endblock %}
{% block content %}  
<div class="w-intersado_up w-proceso-full w-contacto">    
	<div class="w-contentinfo"> 
		<div class="clearfix cnt_block">
			<div class="w-block-1">
				<span class="number">1</span>
				<div class="box">
					Escoge tu modalidad de admisión
				</div>
				<div class="bottom"></div>
				<span class="flecha"></span>
			</div>	
			
			<div class="w-block-2">
				<div class="block_top">
					<span class="number">1</span>
					<h4>Regístrate en nuestra base de datos dando clic este botón</h4>
				</div>
				<h3><span>¿</span>Por qué debo registrarme<span>?</span></h3>
				<div class="box">					
					De esta manera podrás asistir a los eventos que tenemos preparados para ti.
					Además, puedes descargar los formularios en el momento de la inscripción
					para el examen de admisión.
				</div>
				<div class="bottom"></div>
				<span class="flecha"></span>
			</div>
			
			<div class="w-block-3">
				<div class="block_top">
					<span class="number">3</span>
					<h4>Asiste a las charlas informativas y a las clases modelo</h4>
				</div>				
				<div class="box">
					<span class="pin"></span>
					Recuerda que también tenemos charlas exclusivas para padres.
				</div>
				<div class="bottom"></div>
				<span class="flecha"></span>
			</div>
			
			<div class="w-block-4">
				<span class="number">4</span>
				<div class="box">
					<span class="clip"></span>
					Infórmate sobre los cursos especiales de la EPU
				</div>
				<div class="bottom"></div>
			</div>	
			
			
			<!--div class="w-block-2">
				<span class="number">1</span>
				<div class="box">
					Escoge tu modalidad de admisión
				</div>
			</div>
			<div class="w-block-3">
				<span class="number">1</span>
				<div class="box">
					Escoge tu modalidad de admisión
				</div>
			</div-->
			
		</div>
		<div class="clear"></div>
		<h3 class="title">Si tienes alguna duda revisa nuestra sección ¿Dudas?, escríbenos o llámanos. Tenemos muchas formas de comunicarnos :)</h3>	
	
	
	
	</div>
</div>
{% endblock %}
