﻿{
   "root":{
      "date":"1273636800000",
      "postgrado":{
         "items":{
            "item":[
               {
                  "title":"NUESTRA FILOSOFIA",
                  "content":"<p>\n Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"COMPETITIVIDAD RESPONSABLE",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"DIMENSION INTERNACIONAL",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               }
            ]
         }
      },
      "maestrias":{
         "items":{
            "item":[
               {
                  "title":"MBA",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/gestion_prof_riesgos",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               },
               {
                  "title":"MAESTR\u00cdA EN FINANZAS",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El MBA de la Pac\u00edfico desarrolla en el participante habilidades y competencias gerenciales para formar ejecutivos que posean solidez acad\u00e9mica y visi\u00f3n para el desarrollo de negocios globales, bajo una formaci\u00f3n personalizada y retadora que exija al alumno lograr la condici\u00f3n de ser resistentes al entorno, pero a la vez flexibles al cambio. Es un programa con las siguientes ventajas:\n\n\u2022 Un MBA con \u00e9nfasis en competitividad y responsabilidad social\n\u2022 Balance entre la academia y la empresa\n\u2022 Red alumni de alta reputaci\u00f3n\n\u2022 Sesiones con los m\u00e1s destacados empresarios del pa\u00eds\n\u2022 Opci\u00f3n de doble grado interno\n\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas",
                  "color":"ffffff"
               }
            ]
         }
      },
      "diplomados":{
         "items":{
            "item":[
               {
                  "title":"Diplomado en Gesti\u00f3n Profesional de Riesgos Financieros",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              El diplomado brindar\u00e1 una preparaci\u00f3n especializada en la gesti\u00f3n de riesgos de entidades financieras, de gesti\u00f3n de inversiones o empresas corporativas bajo un enfoque integral se abordar\u00e1n las t\u00e9cnicas y modelos alineados a los est\u00e1ndares actuales para identificar, medir, controlar, mitigar y administrar los riesgos de mercado, liquidez, cr\u00e9dito, operacionales y estrat\u00e9gicos.\n            <\/p>\n            <p>\n              Para mayor informaci\u00f3n del diplomado, ver o descargar el brochure aqu\u00ed:\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/gestion_prof_riesgos"
               },
               {
                  "title":"X Programa en Microfinanzas para Analistas",
                  "media":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/BAN_Banner\/_YLZ4873.jpg",
                  "url":"http:\/\/www.up.edu.pe\/postgrado\/eduejecutiva\/Paginas\/JER\/Detalle.aspx",
                  "content":"<p>\n              Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n            <\/p>\n            <p>\n              Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n            <p>",
                  "brochure":"http:\/\/issuu.com\/epg-udelpacifico\/docs\/programa_microfinanzas_para_analistas"
               }
            ]
         }
      },
      "admision":{
         "items":{
            "item":[
               {
                  "title":"ETAPAS DE EVALUACI\u00d3N",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"DOCUMENTOS REQUERIDOS",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"PREGUNTAS FRECUENTES",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               }
            ]
         }
      },
      "red":{
         "items":{
            "item":[
               {
                  "title":"RED DE MENTORES",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"NET IMPACT",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               }
            ]
         }
      },
      "contacto":{
         "items":{
            "item":[
               {
                  "title":"Servicios Acad\u00e9micos",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"Servicios administrativos",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               },
               {
                  "title":"Soporte Tecnol\u00f3gico",
                  "content":"<p>\n                Las entidades microfinancieras en Am\u00e9rica Latina han tenido un \u00e9xito sin precedentes en la expansi\u00f3n de servicios financieros a las poblaciones m\u00e1s pobres. En la regi\u00f3n, el Per\u00fa es uno de los pa\u00edses pioneros y lidera el ranking mundial como el pa\u00eds con el mejor ambiente para el desarrollo de las microfinanzas, de acuerdo al ranking elaborado por The Economist Intelligence Unit (EIU), el Banco Interamericano de Desarrollo (BID), la Corporaci\u00f3n Andina de Fomento (CAF), y la Corporaci\u00f3n Financiera Internacional (IFC).\n              <\/p>\n              <p>\n                Para asegurar el continuo crecimiento del sector se requiere de un importante recurso: analistas especializados en microfinanzas, que son los profesionales que gestionan la relaci\u00f3n directa con los clientes de entidades microfinancieras. Para dar respuesta a la demanda creciente de gestores de cr\u00e9dito en el sector, la Fundaci\u00f3n Microfinanzas BBVA (FMBBVA), la Universidad Nacional de Educaci\u00f3n a Distancia (UNED) y la Escuela de Postgrado de la Universidad del Pac\u00edfico, han unido esfuerzos y dise\u00f1ado un programa de formaci\u00f3n continua para todas aquellas personas que tengan inquietud por trabajar como gestor de cr\u00e9ditos en una entidad microfinanciera, o que ya est\u00e1n laborando en ellas pero desean mejorar sus t\u00e9cnicas de an\u00e1lisis. Este programa de desarrollo profesional pretende dotar al alumno del conocimiento necesario para desenvolverse en el mundo microfinanciero en el Per\u00fa.\n              <p>"
               }
            ]
         }
      }
   }
}