{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-carreras {{page.class}}{% endblock %}
{% block slider %} 
  <div class="slide s-left">
	<a href="#">
		<div class="img">
		  <img src="{{STATIC_URL}}css/img/img-banner-inner-3.png" width="323" />
		</div>
		<div class="info">
			<img class=""src="{{STATIC_URL}}css/img/img-banner-inner-text-3.png" />  
		</div>
	</a>
  </div> 
{% endblock %}

{% block content %} 
<div class="clearfix w-marketing main-block-content">    

	{% include 'website/aside-carreras.html' %}  

	<div class="w-contentinfo">
		<h2>Distribución de áreas en la carrera</h2>
		<div class="bloc_graph">
			<img src="{{STATIC_URL}}css/img/img_bargraph.jpg" alt="sociales" />		
		</div>
		<div class="block_ciclos">
			<h3>Ciclo 0</h3>
			<table class="t-horario t-curricula">
				<tr class="even">
					<th class="b-7">
						Economía
					</th>
					<td>
					Nivelación en Matemáticas<br/>Nivelación en Informática
					</td>
				</tr>
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-10"> 
						Humanidades
					</th>
					<td>
						Nivelación en Lenguaje
					</td>
				</tr> 
			</table> 
		</div> 
		<div class="block_ciclos">
			<h3>Ciclo 1</h3>
			<table class="t-horario t-curricula">
				<tr class="even">
					<th class="b-7">
						Economía
					</th>
					<td>
					Matemáticas I
					</td>
				</tr>
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-11"> 
							Administración
					</th>
					<td>
						Introducción a los Negocios
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="even">
					<th class="b-10"> 
							Humanidades
					</th>
					<td>
						Lenguaje I
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-16 multi"> 
							Ciencias Sociales y Políticas
					</th>
					<td>
						Sicología
					</td>
				</tr>
			</table> 
		</div> 
		<div class="block_ciclos">
			<h3>Ciclo 2</h3>
			<table class="t-horario t-curricula">
				<tr class="even">
					<th class="b-8">
						Contabilidad
					</th>
					<td>
					Contabilidad Financiera I
					</td>
				</tr>
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-7">
						
						Economía
					</th>
					<td>
						Matemáticas II <br/> Economía General I
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="even">
					<th class="b-10"> 						
							Humanidades
					</th>
					<td>
						Filosofía </br> Lenguaje II
					</td>
				</tr>				
			</table> 
		</div> 
		<div class="block_ciclos">
			<h3>Ciclo 3</h3>
			<table class="t-horario t-curricula">
				<tr class="even">
					<th class="b-11"> 
							Administración
					</th>
					<td>
						Gerencia
					</td>

				</tr>
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-8">
						Contabilidad
					</th>
					<td>
						Contabilidad Financiera II 
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="even">
					<th class="b-7">
						Economía
					</th>
					<td>
						Estadística Aplicada I <br/> Economía General II
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>				
				<tr class="odd">
					<th class="b-16 multi"> 
							Ciencias Sociales y Políticas
					</th>
					<td>
						Sociología
					</td>
				</tr>				
			</table> 
		</div>
		
		
		<div class="block_ciclos">
			<h3>Ciclo 7</h3>
			<table class="t-horario t-curricula">
				<tr class="even">
					<th class="b-11"> 
							Administración
					</th>
					<td>
						Gerencia
					</td>

				</tr>
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="odd">
					<th class="b-8">
						Contabilidad
					</th>
					<td>
						Contabilidad Financiera II 
					</td>
				</tr> 
				<tr class="r-span">
					<td colspan="2"></td>
				</tr>
				<tr class="even">
					<th class="b-13">
						Derecho
					</th>
					<td>	
						Gestión de la Cadena de Abastecimiento <br/>
						Gestión de Personas <br/>
						Gestión Internacional de Empresas
					</td>
				</tr>			
			</table> 
		</div>
		
		
		
		
		
	</div>
	
</div>
{% endblock %}
