{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-carreras {{page.class}}{% endblock %}
{% block slider %} 
  <div class="slide s-right">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-3.png" width="323" />
    </div>
    <div class="info">
		<img class=""src="{{STATIC_URL}}css/img/img-banner-inner-text-3.png" />  
    </div>
  </div> 
{% endblock %} 
      
{% block content %} 
<div class="w-proceso clearfix w-marketing-text main-block-content">    

	{% include 'website/aside-carreras.html' %}  

	<div class="w-contentinfo">
		<h1>{{page.title}}</h1> 
		
		<div class="fila">
			<p>Marketeros que planean estratégicamente_</p>
			<div>
				<img alt="" title="" src="{{ STATIC_URL }}css/img/img_marketing_text1.jpg" width="601" height="169" />
			</div>
		</div>

		<div class="fila">
			<h3>¿Cuál es la función del marketero?</h3>
			<p>
				Busca optimizar la gestión comercial de una organización: análisis del entorno, desarrollo de estrategias
				comerciales vinculadas con la estrategia organizacional y constante atención a las necesidades del
				cliente.<br />
				Te formarás como un estratega capaz de innovar creando valor en la sociedad además de asumir los retos
				actuales del marketing con una visión de futuro. Desarrollarás una vocación de servicio, estando
				preparado para entender el comportamiento de la sociedad, y serás capaz de diseñar planes y estrategias
				de mercadotecnia sólidas y fiables.
			</p>
		</div>

		<div class="fila">
			<h3>¿Qué pérfil debe tener el marketero de la UP?</h3>
			<p>
				Poseerá una formación integral basada en la excelencia académica, la ética y el desarrollo de
				competencias innovadoras. Será un especialista en marketing estratégico y visión de negocio, gracias al
				pensamiento crítico y las competencias en gestión de empresas. Tendrá versatilidad para poder trabajar
				en las distintas áreas del marketing y en diferentes industrias.
			</p>
		</div>

		<div class="fila">
			<h3>Descubre las habilidades de un Marketero aquí: </h3>
			<p>
				<a href="http://www.youtube.com/watch?v=5QlqPqIPU0I" class="fancyboxVideo">
					<img src="{{ STATIC_URL }}css/img/img_marketing_video.jpg" alt="" width="576" height="317" />
					<span class="icon i-play">
					</span>
				</a>
			</p>
		</div>

		<div class="fila">
			<h3>¿Qué fortalezas te ofrece la carrera de marketing en la UP?</h3>
			<ul class="listado l-red">
				<li>Estratega preparado para innovar, creando valor agregado.</li>
				<li>Vocación de servicio.</li>
				<li>Será capaz de asumir los retos actuales del marketing con visión de  futuro.</li>
				<li>Capacidad de elaborar estrategias de marketing con visión de corto, mediano y largo plazo.</li>
				<li>Comprensión del entorno globalizado.</li>
				<li>Sólida formación analítica para la toma de decisiones.</li> 
			</ul>
		</div>

		<div class="fila">
			<h3>¿Qué competencias tendrás como estudiante?</h3>
			<p> 
				<img src="{{ STATIC_URL }}css/img/img_marketing_competencias.png" alt="" width="603" height="114" /> 
			</p>
		</div>
		
		<ul class="listado l-red">
			<li>Estratega preparado para innovar, creando valor agregado.</li>
			<li>Vocación de servicio.</li>
			<li>Será capaz de asumir los retos actuales del marketing con visión de  futuro.</li>
			<li>Capacidad de elaborar estrategias de marketing con visión de corto, mediano y largo plazo.</li>
			<li>Comprensión del entorno globalizado.</li>
			<li>Sólida formación analítica para la toma de decisiones.</li> 
		</ul>
	</div>
	
</div>
{% endblock %}
