{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-noti{% endblock %}

{% block slider %}  
  <div class="slide inner-2">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-8.png" width="242" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        NOTICIAS 
      </div>   
    </div>
  </div> 
{% endblock %}

{% block content %} 
<div class="clearfix w-noticias main-block-content">    

	{% include 'website/aside-noti.html' %}  

	<div class="w-contentinfo">
		<div class="w-noticias-block">
			<h3 class="category nomg">Experiencias UP</h3>
			<div class="top">
				<div class="info_cal">
					<div class="cal">
						<div class="month">mar</div>
						<div class="day">15</div>
					</div>
					<div class="info">
						<div class="place">Edificio principal</div>
						<div class="hour">8:00 p.m.</div>
					</div>								
				</div>	
				<div class="social">
					<div class="text">Comparte esta <br/>noticia</div>
					<div class="social-ico">
						<a href="" class="ico fb">Facebook</a> 
					<!--	<a href="" class="ico tw">Twitter</a> -->
					</div>		
				</div>	
			</div>
			<div class="detail">
				<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas: la responsabilidad social.</p>
			</div>
			<div class="img"> 
		        <a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8"> 
		            <img src="http://img.youtube.com/vi/ngBcErY-XXE/0.jpg" alt=""  width="480" height="360" /> 
					<span class="icon i-play">
					</span>
		        </a>
			</div>
		</div>
		<div class="w-noticias-block">
			<h3 class="category">Charla informativa para padres</h3>
			<div class="top">
				<div class="info_cal">
					<div class="cal">
						<div class="month">mar</div>
						<div class="day">15</div>
					</div>
					<div class="info">
						<div class="place">Edificio principal de la Universidad del Pacífico Lima</div>
						<div class="hour">8:00 p.m.</div>
					</div>								
				</div>	
				<div class="social">
					<div class="text">Comparte esta <br/>noticia</div>
					<div class="social-ico">
						<a href="" class="ico fb">Facebook</a> 
					<!--	<a href="" class="ico tw">Twitter</a> -->
					</div>		
				</div>	
			</div>
			<div class="detail">
				<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas: 
				la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
				y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además, 
				recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>
			</div>
			<div class="img">
				<img src="{{STATIC_URL}}css/img/img-noticias-2.png" alt=""/>
			</div>
		</div>
		<div class="w-noticias-block">
			<h3 class="category">Experiencias UP</h3>
			<div class="top">
				<div class="info_cal">
					<div class="cal">
						<div class="month">mar</div>
						<div class="day">15</div>
					</div>
					<div class="info">
						<div class="place">Edificio principal</div>
						<div class="hour">8:00 p.m.</div>
					</div>								
				</div>	
				<div class="social">
					<div class="text">Comparte esta <br/>noticia</div>
					<div class="social-ico">
						<a href="" class="ico fb">Facebook</a> 
					<!--	<a href="" class="ico tw">Twitter</a> -->
					</div>		
				</div>	
			</div>
			<div class="detail">
				<p>Identificarás, desde el punto de vista del marketing, las necesidades del mercado local y global, 
				a la par de las últimas tendencias tecnológicas, económicas y culturales.</p>

				<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas: 
				la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
				y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además,
				recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>

				<p>Identificarás, desde el punto de vista del marketing, las necesidades del mercado local y global,
				a la par de las últimas tendencias tecnológicas, económicas y culturales.</p>

				<p>Te formarás en un marketing enfocado al cuidado del ser humano basado en una de nuestras fortalezas:
				la responsabilidad social. Así, desarrollarás una vocación de servicio y estarás preparado para entender
				y dominar el comportamiento de la sociedad con gran capacidad analítica, principios y valores. Además, 
				recibirás una sólida formación que te permitirá dominar los negocios y acentuar tu carácter emprendedor.</p>		
			</div>
			<div class="img">
				<img src="{{STATIC_URL}}css/img/img-noticias-3.png" alt=""/>
			</div>
		</div>	
	</div>
	
</div>
{% endblock %}
