﻿{% extends 'website/base.html' %} 
{% block css %} 
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/ingresos.css"/>  
{% endblock %} 


{% block slider %}  
  <div class="slide inner-1">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-1.png" width="205" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        Nuevo Usuario 
      </div>  
      <div class="span-2">
      </div>
      <div class="span-3">
      </div> 
    </div>
  </div>
{% endblock %}

{% block content %} 
  <div class="w-proceso w-nuevo-usuario">    
    <div class="w-contentinfo">
      <div class="detail-bg2"><img src="{{ STATIC_URL }}css/img/codigo_qr.png" width="197" height="219" /></div>
         <form>
        <div class="fila">         
          <h2><span class="title2">Información Personal</span></h2>
           <div class="cnt-rows">   
            <div class="row5 r-5">
              <div><label>Nombre</label><input class="input5" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-6">
              <div><label>Segundo Nombre</label><input class="input5" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows2">   
            <div class="row5 r-5 size1">
              <div><label>Apellidos (Ingrese aquí sus dos apellidos)</label><input class="input6" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
        </div>
        <div class="fila">         
          <h2><span class="title2">Información de Direcciones</span></h2>
           <div class="cnt-rows">   
            <div class="row5 r-5">
              <div><label>Tipo de dirección</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows2">   
            <div class="row5 r-6 size1">
              <div><label>Dirección domicilio</label><input class="input6" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>          
           <div class="cnt-rows">   
            <div class="row5 r-5">
              <div><label>País</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-6">
              <div><label>Departamento</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div> 
           <div class="cnt-rows">   
            <div class="row5 r-6">
              <div><label>Distrito</label><input class="input5" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
        </div>
        <div class="fila">         
          <h2><span class="title2">Información de Contacto</span></h2>
           <div class="cnt-rows">   
            <div class="row5 r-7">
              <div><label>Correo-e</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           
          <h2><span class="title2">Teléfonos</span></h2> 
          <table>
            <tr><td>Tipo de teléfono<span class="obli2">*</span></td><td class="td1">Teléfono<span class="obli2">*</span></td><td>País<span class="obli2">*</span></td></tr>
            <tr><td><select class="size2" name="telefono"><option value="">Celular</option><option >Fijo</option></select></td><td class="td1"><input class="size3" type="text" name="name" /></td><td><select class="size2" name="telefono"><option value="">Perú</option><option >Argentina</option></select></td>
            </tr>
          </table>
          
        <div><a class="bt-agregar bt-agregar-1 " href="#">agregar</a><a class="bt-quitar" href="#">quitar</a></div>  
        </div>  
        <div class="fila">         
          <h2><span class="title2">Elige todas las carreras de tus interés</span></h2>
           <div class="cnt-rows">   
            <div class="row5 r-8">
              <div><label>Carreras</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
        <div><a class="bt-agregar bt-agregar-1 " href="#">agregar</a><a class="bt-quitar" href="#">quitar</a></div>  
        </div> 
        <div class="fila">         
          <h2><span class="title2">Información demográfica</span></h2>
           <div class="cnt-rows">   
            <div class="row6 r-9">
              <div><label>Fecha de nacimiento</label><select id="motivo_1" class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli4">*</span>
            <span class="calendar">17</span>
           </div>
          <table>
            <tr><td><select class="size2" name="telefono"><option value="">Sexo</option><option >Masculino</option><option >Femenino</option></select><span class="obli3">*</span></td>
            </tr>
          </table>
        </div>    
        <div class="fila">         
          <h2><span class="title2">Documento de Identidad</span></h2>
           <div class="cnt-rows3">   
            <div class="row6 r-6">
              <div><label>Carné de extranjería</label><input class="input5" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
        </div>    
        <div class="fila">         
          <h2><span class="title2">Información de tu colegio</span></h2>
           <div class="cnt-rows">   
            <div class="row5 r-7">
              <div><label>Año de estudio</label><select class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows4">   
            <div class="size4">
              <form>
              <tr><td><input type="submit" value="buscar" class="bt-buscar"  /></td><td><input type="text" name="colegio" class="input7" /></td></tr>
              
              </form>
              
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-7">
              <div><label>País</label><select class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-10">
              <div><label>Departamento</label><select class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-7">
              <div><label>Provincia</label><select class="select" name="motivo_1"><option value="">(Seleccionar)</option><option value="A">Calle</option><option value="E">Jr.</option><option value="H">Av.</option></select></div>
            </div>
            <span class="obli">*</span>
           </div>
           <div class="cnt-rows">   
            <div class="row5 r-10">
              <div><label>Distrito</label><input class="input5" type="text" name="name" /></div>
            </div>
            <span class="obli">*</span>
           </div>
        </div>
        <div class="fila2">         
         <p> 
         Importante: Al enviar este formulario acepto recibir información sobre las carreras profesionales y eventos de la Universidad del Pacífico.
         </p>
         <div><input type="submit" value="enviar" class="bt-enviar-nv"/></div>
         </form>
        </div>        
        <div class="detail-bg"><img src="{{ STATIC_URL }}css/img/bg-nuevo-user.png" width="239" height="340" /></div>
    </div>

  </div>
{% endblock %}
