﻿{% extends 'website/base-pensiones.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-pensiones">    
    {% include 'website/aside-pensiones.html' %}  
    <div class="w-contentinfo">
        <div class="fila">
            <p>La Universidad del Pacífico cuenta con un sistema de pensiones escalonadas en las que se ubica al estudiante según la situación económica familiar y no únicamente según el colegio de procedencia .
            </p>
            <p>El proceso de asignación de escala de pago, se inicia al ingresar a la Universidad del Pacífico, asignándole una de las siguientes escalas vigentes al 2011:​​
            </p>
        </div>    
        <div class="fila">
            <h2><span class="normal3">Valor de crédito según escalas</span><br></h2>
            <div class="cnt-cdtos">
            <div class="cp c-1"><span class="let">A</span>S/. 376.00</div>
            <div class="cp c-2"><span class="let">B</span>S/. 505.00</div>
            <div class="cp c-3"><span class="let">C</span>S/. 658.00</div>
            <div class="cp c-4"><span class="let">D</span>S/. 843.00</div>
            <div class=""><a href="simulador.html" class="bt-spensiones">SIMULADOR DE PENSIONES</a></div>
            </div>
            <p>Durante cada ciclo se realiza el pago de cinco cuotas, cuyo valor corresponde a los 
                créditos en los que se matricula el alumno. 
            </p>
            <p>En el primer ciclo, Servicios Académicos determina el número de créditos en los que se 
                matricula el alumno. A partir del segundo ciclo, tienen la opción de regular dicho número, y 
                consecuentemente el valor de las cuotas. La escala de pago puede ser evaluada a solicitud de los 
                responsables económicos en caso de necesidad.​​
            </p>
         </div>
         <div class="fila">
            <h2><span class="highlight5">Preguntas frecuentes</span></h2>
            <h2><span class="normal5">¿Al  ingresar todos los alumnos pagan la escala D?</span></h2> 
            <p>No, la asignación de la escala de pago en la Universidad del Pacífico es un proceso individual, para 
              cada alumno, en el que se solicita información socioeconómica para asignar una escala de pago, 
              de acuerdo con la situación particular, desde el primer ciclo de estudios. La escala D corresponde 
              al valor de los estudios en la Universidad del Pacífico y las escalas A, B o C corresponden a 
              descuentos asignados siguiendo un proceso de evaluación individual.
            </p>
             <h2><span class="normal5">¿Qué puedo hacer si no estoy en condiciones de pagar la escala de pago asignada?</span></h2> 
            <p>Al ser seleccionado se asigna una escala de pago provisional de acuerdo con la primera información presentada por la 
                familia.  Si no está en condiciones de pagar, esta escala puede ser revisada. Para ello, debe comunicarlo a la Unidad 
                de Pensiones para adelantar la evaluación de la escala final que incluye la visita domiciliaria.
            </p>
            <h2><span class="normal5">¿Qué sucede si en algún momento de la carrera no podemos afrontar los pagos por  problemas económicos?</span></h2> 
            <p>Ante cambios en la situación socioeconómica familiar, la escala de pagos se puede revisar en cualquier momento de los estudios.
              Para ello, pueden acudir  a las oficinas de la Unidad de Pensiones para realizar  el trámite respectivo.
            </p> 
            <h2><span class="normal5">¿Puedo omitir el proceso de asignación de escala de pago?</span></h2> 
            <p>Sí,  quienes estén en condiciones de asumir el valor de los estudios (escala D), no necesitan 
            seguir el proceso de presentación de documentos socioeconómicos, evaluación y visita domiciliaria.
            </p> 
            <h2><span class="normal5">¿Cómo calculo el monto de los pagos conociendo mi escala?</span></h2> 
            <p>A cada escala le corresponde un valor por crédito distinto. El valor del crédito se multiplica 
                por el número de créditos matriculados. Así se conoce el valor del semestre. El pago se realiza  
                en cinco cuotas cada 30 días, aproximadamente. Por ejemplo, para 20 créditos regulares con el valor 
                vigente al año 2010, el valor por crédito y la cuota promedio, de acuerdo con cada una de las escalas,  
                son las siguientes:
            </p> 
            <div class="cnt-cdtos">
                <div class="cp2 c-1"><span class="let3">A</span><span class="let2">S/. 376.00</span><img src="{{ STATIC_URL }}css/img/icon-flechita.png"  width="11" height="12"/><span class="let4">S/. 1523.00</span></div>
                <div class="cp2 c-2"><span class="let3">B</span><span class="let2">S/. 505.00</span><img src="{{ STATIC_URL }}css/img/icon-flechita.png"  width="11" height="12"/><span class="let4">S/. 2045.00</span></div>
                <div class="cp2 c-3"><span class="let3">C</span><span class="let2">S/. 658.00</span><img src="{{ STATIC_URL }}css/img/icon-flechita.png"  width="11" height="12"/><span class="let4">S/. 2665.00</span></div>
                <div class="cp2 c-4"><span class="let3">D</span><span class="let2">S/. 843.00</span><img src="{{ STATIC_URL }}css/img/icon-flechita.png"  width="11" height="12"/><span class="let4">S/. 3414.00</span></div>
                <div class="img-scala"><img src="{{ STATIC_URL }}css/img/img-escala.png"  width="133" height="115"/></div>
            </div>
         </div>
    </div>

  </div>
{% endblock %}
