﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %}  
<div class="w-proceso w-preuniversitaria">    
  {% include 'website/aside-dudas.html' %}  
  <div class="w-contentinfo">
    <div class="fila f-4">
      <h2>
        <span class="normal2">Escuela Preuniversitaria</span> 
        <span class="highlight">
          <img src="{{ STATIC_URL }}css/img/flechita-preuniversitaria.png" width="26" height="23"/> EPU
        </span>
      </h2>
      <h2><span class="normal2">¿Qué ofrece la</span> <span class="highlight">EPU?</span></h2>
      <ul class="ofrecido">
          <li><a href="cescolares.html">Ciclo de Ingreso Directo para Escolares</a></li>
          <li><a href="cegresados.html">Ciclo de Ingreso directo para Egresados</a></li>
          <li><a href="cpreparatorio.html">Ciclo de preparación para examen de admisión regular</a></li>
          <li><a href="cnivelacion.html">Ciclo de nivelación escolar</a></li>
          <li><a href="credaccion.html">Taller de redacción​</a></li>
          <li><a href="cmatematicas.html">Taller de matemáticas</a></li>
      </ul> 
    </div>   
    <div class="fila f-3">
      <h2><span class="normal2">¿Existe talleres para</span> <span class="highlight">redactar ensayos?</span></h2>
      <p>
        La EPU ofrece talleres de redacción los cuales brindan los conocimientos fundamentales y las habilidades necesarias para redactar un ensayo universitario.
      </p>
        <div class="mayor-info">
        Para Mayor informaciòn da clic en "taller de redacciòn" en la respuesta anterior        
        </div>
    
    </div> 
    <div class="fila f-4">
      <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2> 
      <form class="form f-duda" method="POST" action="#">
        <div class="row">
          <label>Nombre</label><input class="input" type="text" name="nombre"/>
        </div>
        <div class="row r-1">
          <label>Correo</label><input class="input" type="text" name="nombre"/>
        </div>
        <div class="row r-2">
          <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
        </div>
        <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
      </form>
    </div>  
  </div>
</div>
{% endblock %}
