﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso">
    {% include 'website/aside-dudas.html' %}
    <div class="w-contentinfo">
        <h1>Proceso de Admisión</h1>
        <div class="fila f-1">
          <h2>
            <span class="normal">¿Por qué dicen que la UP tiene una formación</span> 
            <span class="highlight">diferente a la de otras instituciones?</span>
          </h2>
            <p>
              La formación de la UP se caracteriza por ser integral, no capacitamos a nuestros alumnos sino que los formamos como verdaderos profesionales preparándolos para un mundo desafiante, plural y competitivo.<br />
              En la UP se enseña a nuestros alumnos que sus decisiones no solo tendrán un impacto económico sino también social y ambiental dentro de la empresa y la comunidad.<br />
              Nuestros alumnos se caracterizan por ser estudiantes con vocación de servicio hacia la sociedad y están preparados para desenvolverse en el mercado local y extranjero.<br />
              Gracias a esta formación es que nuestros egresados son agentes de cambio que contribuyen al desarrollo global y del país, gracias a sus conocimientos y liderazgo.
            </p>
          <p>
              <img src="{{ STATIC_URL }}css/img/img-proce-admin-1.jpg"  width="593" height="231"/>
          </p>
         </div>   
         <div class="fila f-2">
          <h2><span class="normal">¿Cómo</span> <span class="highlight">postular a la UP?</span></h2>
            <p>
              La UP busca identificar a quienes destacan por su potencial intelectual, habilidades interpersonales, 
              determinación para el logro y otras cualidades que los perfilan como buenos postulantes y potenciales 
              profesionales de éxito. Para ello cuenta con diferentes modalidades de postulación:
            </p>
            <ul class="opcion postulacion">
              <li><a href="admselectiva.html">Admisión Selectiva</a></li>
              <li><a href="">Ingreso directo de la Escuela Preuniversitaria</a></li>
              <li><a href="">Beca 18</a> </li>
              <li><a href="">Traslados</a></li>
              <li><a href="">Admisión por Bachillerato</a></li> 
              <li><a href="">Graduados</a> </li>
              <li><a href="">Admisión Regular </a></li>
              <li><a href="">Casos especiales </a></li>
            </ul>
            
            
         </div>
          <div class="fila f-3">
          <h2><span class="normal">¿Cuándo inicia el</span> <span class="highlight">proceso de admisión 2013?</span></h2>
            <p>
             El Concurso de Admisión 2013 comienza a mediados de Julio del 2012 con las inscripciones para las modalidades de Admisión Selectiva y Admisión por Bachillerato.
            </p>
            
           <img src="{{ STATIC_URL }}css/img/img-proce-admin-2.png"  width="602" height="86"/>
            
         </div>
          <div class="fila f-4">
          <h2><span class="normal">¿A qué hora atiende</span> <span class="highlight">la oficina de admisión?</span></h2>
            <p>
             De lunes a viernes de 9:00 a. m. a 6 p.m. (horario corrido)
             Para contactarte con la Oficina de Admisión puedes llamarnos al 2190130 / 219 0100 anexos 2177/ 2197/ 2359 o escribirnos al correo admision@up.edu.pe
            </p>
            
           <img src="{{ STATIC_URL }}css/img/img-proce-admin-3.png"  width="602" height="147"/>
            
         </div>

          <div class="fila f-2">
            <h2>
              <span class="normal">¿Es necesario que vaya personalmente a recoger </span> 
              <span class="highlight">los formularios y prospectos para postular?</span>
            </h2>
            <p>
             Los formularios para postular a la UP los puedes recoger en la Oficina de Admisión o los puedes descargar desde la página web.
             En caso desees venir personalmente es obligatorio presentar el DNI (del postulante)
            La dirección es Jr. Sánchez Cerro 2141, Jesús María
            </p>
            <div>
              <img class="img-clic" src="{{ STATIC_URL }}css/img/img-proce-admin-4.png"  
                width="420" height="76"/>
              <a class="clic-aqui" href="inscribete.html">Clic Aqui</a>
            </div>
          </div>

          <div class="fila f-3">
            <h2>
              <span class="normal1">¿Dónde descargo </span> 
              <span class="highlight">el prospecto y los formularios?</span>
            </h2>
            <p>
             Para mayor información acerca de los documentos necesarios para la inscripción ingresa a nuestro 
             módulo de admisión regístrate y descarga el prospecto.
            </p> 
          </div> 

          <div class="fila f-4">
            <h2>
              <span class="normal1">¿Me tengo que inscribir personalmente </span> 
              <span class="highlight">o puede ir mi papá?</span>
            </h2>
            <p>
             La inscripción y formalización del ingreso debe ser realizada por el postulante personalmente pues hay que tomar la foto para tu carné de postulante.
            </p> 
          </div>
          
          <div class="fila">
            <h2>
              <span class="normal1">¿Qué temas vienen</span> 
              <span class="highlight">en el examen de admisión regular?</span>
            </h2>
            <p>
             Los temas del examen regular se encuentran en el prospecto, que puedes descargarlos en el siguiente botón.
            </p> 
            <div>
              <a href="">
                <img src="{{ STATIC_URL }}css/img/img-selectiva-15.png"  
                  width="605" height="45"/>
              </a>
            </div>
          </div>

          <div class="fila f-4">
            <h2>
              <span class="normal1">¿Se puede ingresar </span> 
              <span class="highlight">a la UP a mediados de año?</span>
            </h2>
            <p>
             La UP ofrece un solo concurso de admisión al año para todas las modalidades de postulación. Adicionalmente, ofrece una admisión permanente que está dirigida solo a los cónyuges y a los hijos de diplomáticos, admisión por bachillerato, traslados, graduados y reingresantes, cuya inscripción se realiza en el mes de julio. 
            </p> 
          </div>

          <div class="fila f-3">
            <h2>
              <span class="normal1">¿Qué pasa si postulo a una carrera </span> 
              <span class="highlight">y luego decido cambiarme?</span>
            </h2>
            <p>
             Los cambios se pueden realizar sin costo siempre y cuando se realice antes de la formalización de ingreso. Más adelante, el trámite si tiene un costo.
            </p> 
          </div>

          <div class="fila f-4">
            <h2>
              <span class="normal1">¿Qué necesito para</span> 
              <span class="highlight">para trasladarme a la UP?</span>
            </h2>
            <p>
             Para postular por Traslado debes tener un mínimo de 36 créditos aprobados, o haber aprobado dos ciclos completos y no haber sido dado de baja por motivos disciplinarios y académicos. Luego de tu inscripción como postulante, pasarás por una entrevista personal, el mismo que evaluará tu expediente académico. En caso de ser admitido, la facultad se encargará de evaluar la convalidación de cursos.

            </p> 
            <div>
              <a href="">
                <img class="img-clic" src="{{ STATIC_URL }}css/img/img-selectiva-16.png"  
                  width="605" height="45"/>
              </a>
            </div>
          </div>

          <div class="fila f-4">
            <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2> 
            <form class="form f-duda" method="POST" action="#">
                <div class="row">
                <label>Nombre</label><input class="input" type="text" name="nombre"/>
                </div>
                <div class="row r-1">
                <label>Correo</label><input class="input" type="text" name="nombre"/>
                </div>
                <div class="row r-2">
                <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
                </div>
               <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
            </form> 
         </div>
    </div>

  </div>
{% endblock %}
