﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso w-resultadosimulacion">    
    <div class="w-contentinfo">
        <div class="fila">
        <h2><span class="highlight4">Resultado de la simulación</span></h2>
          <table>
          <tr><td><strong>Escala de pago</strong></td><td><strong>Monto</strong></td><td><strong>Valor de crédito</strong></td></tr>
          <tr><td>Escala de pago</td><td>1504.0</td><td>376.0</td></tr>
          </table>
          <p>*El monto simulado es el monto a pagar en cada una de las 5 boletas emitidas durantes 
              un ciclo académico. Depende del número de créditos en los que se matricula el alumno y 
              del valor del crédito asignado. En la simulación se obtiene valores para un alumno en 20 créditos.
              Si la información declarada no se ajusta a la realidad, el resultado no será correcto.
          </p>
         </div>  
    </div>

  </div>
{% endblock %}
