﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %}  
<div class="w-proceso w-selectiva">   
  {% include 'website/aside-dudas.html' %}
  <div class="w-contentinfo">
      <h1>Admisión Selectiva</h1>

        <div class="fila">
          <h2><span class="normal2">¿Qué necesito para postular</span> 
              <span class="highlight2"> por Admisión Selectiva?</span>
          </h2>
          <p>
            El requisito más importante para postular por esta modalidad es pertenecer a la mitad superior de tu
            promoción durante 3ero, 4to y 5to de secundaria.
          </p>
          <a href="">
            <img src="{{ STATIC_URL }}css/img/img-selectiva-6.png"  width="600" height="70"/>
          </a>
        </div> 

        <div class="fila f-2">
          <h2>
            <span class="normal2">¿Qué significa</span>
            <span class="highlight">mitad superior de mi promoción?</span>
          </h2>
          <p>
            Si tu promoción es de 100 alumnos, debes estar ubicado dentro de los primeros 50 puestos.
          </p>
          <img src="{{ STATIC_URL }}css/img/img-selectiva-7.png"  width="602" height="138"/>  
        </div>

        <div class="fila f-4">
          <h2>
            <span class="normal">¿La admisión selectiva</span>
            <span class="highlight">también contempla quinto de secundaria?</span>
          </h2>
          <p>
            Si, la admisión selectiva considera 3ero, 4to y 5to de secundaria <br />
            Al momento de inscribirte debes estar seguro que terminarás el año perteneciendo a la mitad superior de
            tu promoción, de lo contrario la vacante es anulada.
          </p>
          <img src="{{ STATIC_URL }}css/img/img-selectiva-8.png"  width="600" height="46"/>  
        </div>

        <div class="fila">
          <h2>
            <span class="normal">¿Qué características</span>
            <span class="highlight">debe tener el ensayo y la reseña?</span>
          </h2> 
          <img src="{{ STATIC_URL }}css/img/img-selectiva-9.png"  width="600" height="61"/>  
        </div>

        <div class="fila f-2">
          <h2>
            <span class="normal">¿La presentación del ensayo y la reseña</span>
            <span class="highlight">es el mismo día de la entrevista o antes?</span>
          </h2> 
          <p>
            Todos los documentos deben ser entregados al momento de la inscripción, ese mismo día te asignan la
            fecha y hora para tu entrevista.
          </p> 
        </div> 

        <div class="fila f-3">
          <h2>
            <span class="normal">¿El ensayo y la reseña</span>
            <span class="highlight">pueden ser escritos en inglés u otro idioma?</span>
          </h2> 
          <p>
            No, el ensayo y la reseña deben ser escritos en español.
          </p> 
          <img src="{{ STATIC_URL }}css/img/img-selectiva-10.jpg"  width="593" height="230"/>  
        </div>

        <div class="fila">
          <h2>
            <span class="normal2">¿En el ensayo</span>
            <span class="highlight2">a  qué se refiere indicar referencias?</span>
          </h2> 
          <p>
            Si estás usando una frase o dato que le pertenece a alguna persona o institución debes indicar la fuente.
          </p> 
          <img src="{{ STATIC_URL }}css/img/img-selectiva-11.png"  width="600" height="80"/>  
        </div>

        <div class="fila f-2">
          <h2>
            <span class="normal2">¿Qué significa confirmación</span>
            <span class="highlight">de actividades extracurriculares?</span>
          </h2> 
          <p>
            Si el postulante ha realizado alguna actividad deportiva, artística o voluntariado en los últimos tres años
            (dentro y fuera del colegio), deberá presentar algún documento (certificado, constancia, entre otros)
            sustentatorio de la realización de dicha actividad.
          </p>  
        </div>

        <div class="fila f-4">
          <h2>
            <span class="normal2">¿Qué son los</span>
            <span class="highlight">informes confidenciales?</span>
          </h2> 
          <p>
            Son informes que deben realizar dos profesores u otras personas de una institución educativa, cultural,
            deportiva o religiosa (que conozca al postulante mínimo un año). 
          </p> 
          <img src="{{ STATIC_URL }}css/img/img-selectiva-12.png"  width="600" height="71"/>  
        </div>

        <div class="fila">
          <h2>
            <span class="normal">¿Qué pasa si no tengo todos los certificados</span>
            <span class="highlight">de mis actividades extracurriculares?</span>
          </h2>  
          <img src="{{ STATIC_URL }}css/img/img-selectiva-13.png"  width="605" height="70"/>  
        </div>

        <div class="fila f-2">
          <h2>
            <span class="normal2">¿Cómo presento</span>
            <span class="highlight">mis papeles para la inscripción?</span>
          </h2> 
          <p>
            En un folder simple.
          </p>   
        </div>

        <div class="fila f-3">
          <h2>
            <span class="normal2">¿Cuándo me informan</span>
            <span class="highlight">la fecha de mi entrevista?</span>
          </h2> 
          <p>
            Al momento que te inscribes.
          </p>   
        </div>

        <div class="fila f-2">
          <h2>
            <span class="normal">¿En qué consiste la entrevista para postulantes por Admisión Selectiva,
              Admisión por Bachillerato, Cónyuges e hijos de diplomáticos y</span>
            <span class="highlight2">funcionarios internacionales, Traslados y Graduados?</span>
          </h2> 
          <p>
            La entrevista buscará explorar diversos aspectos de la personalidad del postulante, así como su orientación
            al logro de objetivos, su facilidad para interrelacionarse y su grado de motivación para la carrera escogida.
            Para esta entrevista no es necesario ningún tipo de preparación especial. La vestimenta debe ser formal.
          </p>   
        </div>
          
        <div class="fila f-2">
          <h2>
            <span class="normal2">¿Cuándo se saben</span>
            <span class="highlight">los resultados de las entrevistas?</span>
          </h2>  
          <img src="{{ STATIC_URL }}css/img/img-selectiva-14.png"  width="600" height="92"/>  
        </div> 

        <div class="fila f-4">
          <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2> 
          <form class="form f-duda" method="POST" action="#">
              <div class="row">
              <label>Nombre</label><input class="input" type="text" name="nombre"/>
              </div>
              <div class="row r-1">
              <label>Correo</label><input class="input" type="text" name="nombre"/>
              </div>
              <div class="row r-2">
              <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
              </div>
             <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
          </form> 
       </div>
  </div>

</div>
{% endblock %}
