﻿{% extends 'website/base.html' %} 
{% block css %} 
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/ingresos.css"/>  
{% endblock %} 

{% block content %} 
  <div class="w-proceso w-simulador">    
    <div class="w-contentinfo">
        <div class="fila">
          <p>Este es un simulador que permitirá conocer de manera aproximada la escala de pago que correspondería 
             al postulante una vez que este sea admitido en la Universidad del Pacífico. La escala que emita este 
             simulador será mas cercana a la que le asigne la Universidad cuanto más veraz sea la información que proporcione.
          </p>
          <p>* Los datos declarados deben corresponder al (los) responsable(s) económico(s) del postulante. 
          </p>
         </div>  
         <form method="get" action="resultadosimulacion.html">
         <div class="fila">
          <h2><span class="normal3">1. Datos familiares</span></h2>
            <div class="cnt-dfam"> 
               <div class="col1">
               <h2><span class="normal5">Padre o responsable</span></h2>           
               <div class="row">
                        <label>Profesion</label>
                        <select name="s_prof_padre" size="1" onchange="procSelProfPadre()" class="select">
                          <option value="">(Seleccionar)</option>
                          <option value="003">Abogado</option>
                          <option value="012">Administrador</option>
                          <option value="010">Arquitecto</option>
                          <option value="013">Asesor</option>
                          <option value="014">Cesante/Jubilado</option>
                          <option value="015">Comerciante</option>
                          <option value="002">Contador</option>
                          <option value="018">Desempleado</option>
                          <option value="019">Discapacitado</option>
                          <option value="009">Economista</option>
                          <option value="001">Ejército del Perú</option>
                          <option value="016">Empresario</option>
                          <option value="007">Enfermera</option>
                          <option value="020">Fallecido</option>
                          <option value="004">Fuerza Aérea</option>
                          <option value="006">Ingeniero</option>
                          <option value="005">Marina de Guerra</option>
                          <option value="008">Medico</option>
                          <option value="021">Odontólogo</option>
                          <option value="022">Otros</option>
                          <option value="023">Policia Nacional del Perú</option>
                          <option value="011">Profesor</option>
                          <option value="024">Su casa</option>
                          <option value="017">Taxista</option> 
                       </select>
               </div>
                 <div class="row r-1">
                        <label>Indicar rango</label>
                        <select name="s_rang_padre" size="1" disabled="disabled" class="select">
                           <option value="">(Seleccionar)</option>
                        </select>
                 </div>
               </div>
               <div class="col2">
               <h2><span class="normal5">Madre o responsable</span></h2>           
               <div class="row">
                        <label>Profesion</label> 
                        <select name="s_prof_madre" size="1" onchange="procSelProfMadre()" class="select">
                          <option value="">(Seleccionar)</option>
                          <option value="003">Abogado</option>
                          <option value="012">Administrador</option>
                          <option value="010">Arquitecto</option>
                          <option value="013">Asesor</option>
                          <option value="014">Cesante/Jubilado</option>
                          <option value="015">Comerciante</option>
                          <option value="002">Contador</option>
                          <option value="018">Desempleado</option>
                          <option value="019">Discapacitado</option>
                          <option value="009">Economista</option>
                          <option value="001">Ejército del Perú</option>
                          <option value="016">Empresario</option>
                          <option value="007">Enfermera</option>
                          <option value="020">Fallecido</option>
                          <option value="004">Fuerza Aérea</option>
                          <option value="006">Ingeniero</option>
                          <option value="005">Marina de Guerra</option>
                          <option value="008">Medico</option>
                          <option value="021">Odontólogo</option>
                          <option value="022">Otros</option>
                          <option value="023">Policia Nacional del Perú</option>
                          <option value="011">Profesor</option>
                          <option value="024">Su casa</option>
                          <option value="017">Taxista</option> 
                       </select>
                 </div>
                 <div class="row r-1">
                    <label>Indicar rango</label> 
                    <select name="s_rang_padre" size="1" disabled="disabled" class="select">
                      <option value="">(Seleccionar)</option>
                    </select>
                 </div>
               </div>
               <strong>Número de hijos dependientes de los padres</strong> 
                <select name="s_nro_hijos" size="1" class="select1" >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select> 
            </div>
            
         </div> 
        <div class="fila">         
          <h2><span class="normal3">2. Ingresos familiares</span></h2>
           <div class="cnt-dfam">   
            <p>* Deducidos sólo los descuentos de ley: Impuesto a la Renta y AFP
            </p>
            <div class="row2 r-2">
              <div><label>Ingreso Familiar Neto (Total mensual S/.)</label> 
                <input class="input entrada" size="10" name="i_ing_fam_neto" id="i_ing_fam_neto" type="text">
              </div>
              <div><a class="bt-rubros fancybox" href="/ingresos_popup.html">Ver rubros</a></div>
              <div>
                  <input class="bt-rubros fancybox" name="b_categ" value="&nbsp;&nbsp;" 
                    onclick="abrirAnexo1()" type="button">
              </div>
            </div>
            
           </div>
        </div>
         <div class="fila tbl">         
          <h2><span class="normal3">3.Carga Educativa Familiar</span></h2>
          <div class="cnt-dfam">   
            <p>* Solo considerar lo que corresponde a educación superior y escolar. No tomar en cuenta al postulante.
            </p>
            <div>
              <div>
                <table id="tbl_cargaeducativa">
          				<tr>
                    <td><label>Parentesco</label></td>
                    <td><label>Pensión Regular (S/.)</label></td>
                    <td><label>% Beca</label></td>
                  </tr>
          				<tr class="">
          					<td> 
                      <input name="i_ing_fam_neto" id="i_ing_fam_neto"  class="input1 entrada" type="text" />
                    </td>
          					<td> 
                      <input class="input2" size="22" name="penregular_1" id="penregular_1" type="text" />
                    </td>
          					<td>
                      <input class="input3" name="i_por_beca_1" id="i_por_beca_1"  type="text" /> 
                    </td>
          					<td>
                        <div class="row3 r-3">
                          <label>Motivo</label> 
                          <select name="s_mot_beca_1" id="s_mot_beca_1" size="1" class="select">
                            <option value="">(Seleccionar)</option>
                            <option value="A">Académico</option>
                            <option value="E">Económico</option>
                            <option value="H">Hijo de trabajador</option>
                          </select>
                        </div>
                    </td>
          				</tr> 
                </table>
              </div> 
            </div>
            <div class="buttons">
              <input id="addCEF" class="btn b-plus" name="b_add_cef" value=" + " onclick="addCEF()" type="button" />
              <label for="addCEF">agregar</label>
              <input id="delCEF" class="btn b-minus" name="b_del_cef" value=" - " onclick="delCEF()" type="button">
              <label for="delCEF">quitar</label> 
            </div>
          </div>
        </div>
        <div class="fila">         
          <h2><span class="normal3">4. Patrimonio Familiar</span></h2>
          <div class="cnt-dfam">   
          <h2><span class="normal5">4.1 Predios (propios o en proceso de compra)</span></h2>      
               <div class="text-4">
                   Rústico: Considerar terreno agrícola, terreno baldío y establo<br>
                   Semirústico: Considerar casa de playa<br>
                   Urbano: Considerar casa, departamente, local comercial.
               </div>
               <!--
              <div class="row3 r-3"><label>Motivo</label><input class="input4" type="text" name="motivo"/></div>
              -->
            </div>
        </div>
        <div class="fila">         
          <div class="cnt-dfam">   
              <table>
                <tr>
                  <td>
                    <strong>Vivienda familiar</strong>
                  </td>
                  <td>
                    <label>Nº</label>
                  </td>
                  <td>
                    <label>Valor Comercial (S/.)</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row4 r-4">
                      <label>Tipo</label> 
                      <select name="s_tip_viv_fam" size="1" class="select">
                         <option value="">(Seleccionar)</option>
                         <option value="S">Semirústico</option>
                         <option value="R">Rústico</option>
                         <option value="U">Urbano</option>
                      </select>
                    </div>
                  </td>
                  <td> 
                    <select class="select2" name="s_nro_viv_fam" size="1">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                  </td>
                  <td>
                    <input class="input2" type="text" name="i_val_com_fam" /> 
                  </td>
                </tr>
              </table> 
              <br />
              <table>
                <tr>
                  <td><strong>Otros predios</strong></td>
                  <td><label>Nº</label></td>
                  <td><label>Valor Comercial (S/.)</label></td>
                </tr>
                <tr>
                  <td>Rústico</td>
                  <td> 
                    <select class="select2" name="s_nro_prop_rus_otro" size="1">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                  </td>
                  <td>
                    <input class="input2" size="22" name="i_val_com_rus_otro" type="text" /> 
                  </td>
                </tr>
                <tr>
                  <td>Semirústico</td>
                  <td>
                    <select class="select2" name="s_nro_prop_semi_rus_otro" size="1">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                  </td>
                  <td> 
                    <input class="input2" size="22" name="i_val_com_semi_rus_otro" type="text"> 
                  </td>
                </tr>
                <tr>
                  <td>Urbano</td>
                  <td> 
                    <select class="select2" name="s_nro_prop_urb_otro" size="1">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                  </td>
                  <td> 
                    <input class="input2" size="22" name="i_val_com_urb_otro" type="text" />
                  </td>
                </tr>
              </table> 
          </div>
        </div>
        <div class="fila">         
          <h2><span class="normal3">5. Viajes aéreos al exterior por turismo o vacaciones (en los últimos 2 años)</span></h2>
          <div class="cnt-dfam">   
              <table>
                <tr>
                  <td></td>
                  <td><label>Nº</label></td>
                  <td><label>Inversión total (S/.)</label></td>
                </tr>
                <tr>
				          <td>
                    <div class="row4 r-5">
                      <label>Tipo</label>
                      <select id="cb_tipo_1" name="cb_tipo_1" class="select">
                        <option value="">(Seleccionar)</option>
                        <option value="004">Asia</option>
                        <option value="005">Australia</option>
                        <option value="002">Europa</option>
                        <option value="003">Latino America</option>
                        <option value="001">Norte America</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <select id="cb_nro_1" name="cb_nro_1"class="select2">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </td>
		              <td>
                    <input id="inversion_1" class="input2" type="text" name="inversion_1"/>
                  </td>
                </tr>
              </table>     
              <div class="buttons">
                <input id="addViaje" class="btn b-plus" name="b_add_cef" value=" + " onclick="addViaje()" type="button" />
                <label for="addViaje">agregar</label>
                <input id="delViaje" class="btn b-minus" name="b_del_cef" value=" - " onclick="delViaje()" type="button">
                <label for="delViaje">quitar</label> 
              </div>
          </div>
            <div class="bt-submit">
              <input class="bt-limpiar" name="b_reset" value="&nbsp;Limpiar&nbsp;" type="reset" /> 
              <input class="bt-simular" name="b_sumitir" value="&nbsp;Simular&nbsp;" type="submit" />
            </div>
        </div>
         </form>
    </div>

  </div>
{% endblock %}
