<!-- slider -->
{% if home %}
<div class="w-banner">
  <div id="" class="w-slider">
    <div class="inner">
      <div class="slides sliders"> 
        <div class="slide type-1">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-1.png" width="618" />
          </div>
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              CHARLA 
            </div> 
            <div class="subtitle">
              INFORMATIVA
            </div> 
            <div class="dates">
              13 ABRIL
            </div>
            <div class="more">
              ENTERATE<br/>MÁS
            </div>
          </div>
        </div>
        <div class="slide type-2">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-2.png" width="461" />
          </div>
          <div class="info">
            <div class="span1"></div>
            <div class="span2"></div>
            <div class="span3"></div>
            <div class="title ">
              LA UP 
            </div> 
            <div class="subtitle">
              EN EL MUNDO
            </div>             
            <div class="more">
             <a href="">CLIC AQUÍ</a>
            </div>
          </div>
        </div>
        <div class="slide type-3">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-3.png" width="618" />
          </div>
          <div class="info">
			
            <div class="span1"></div>
            <div class="span2"></div>
            <div class="span3"></div>
            <div class="title ">
              CLASE 
            </div> 
            <div class="subtitle">
              MODELO
            </div> 
            <div class="dates">
              25 DE ABRIL
            </div>
            <div class="more">
              <a href="">MÁS INFO <br/>AQUÍ</a>
            </div>
          </div>
        </div>

      </div>
    </div> 
    <div class="slider-controllers s-controllers">
      <div class="prev">
        <div class="imgs " data-slider="pause">
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-1.jpg" width="106" height="62" />
          </div>
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-2.jpg" width="106" height="62" />
          </div>
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-3.jpg" width="106" height="62" />
          </div>
        </div>
        <div class="icon"></div> 
      </div>
      <div class="next">
        <div class="imgs " data-slider="pause">
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-1.jpg" width="106" height="62" />
          </div>
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-2.jpg" width="106" height="62" />
          </div>
          <div class="slide">
            <img src="{{STATIC_URL}}css/img/thumbs/img-banner-3.jpg" width="106" height="62" />
          </div>
        </div>
        <div class="icon"></div>
      </div>
    </div>
  </div><!-- / -->
</div>
{% else %}
<div class="w-banner">
  <div id="" class="w-slider">
    <div class="inner">
      <div class="slides slider"> 

        <div class="slide inner-1">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-1.png" width="205" />
          </div>
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              ¿DUDAS? 
            </div>  
            <div class="span-2">
            </div>
            <div class="span-3">
            </div> 
          </div>
        </div> 

        <div class="slide inner-2">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-2.png" width="411" />
          </div>
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              ESCUELA <br /> PRE UNIVERSITARIA 
            </div>  
          </div>
        </div> 

        <div class="slide inner-3">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-4.png" width="323" />
          </div>
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              MODALIDADES 
            </div> 
            <div class="subtitle">
              DE INGRESO
            </div> 
            <div class="span-2">
            </div> 
          </div>
        </div> 

        <div class="slide inner-4">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-6.png" width="205" />
          </div>
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              PENSIONES 
            </div>   
          </div>
        </div> 

        <div class="slide inner-5">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-7.png" width="572" />
          </div>
          <div class="info"> 
            <div class="title ">
              UP INTERNACIONAL 
            </div>   
          </div>
        </div>  

        <div class="slide inner-4">
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              CONTÁCTANOS 
            </div>   
          </div>
        </div> 

        <div class="slide inner-4">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-inner-3.png" width="323" />
          </div>
          <div class="info">
             <img src="{{STATIC_URL}}css/img/img-banner-inner-text-3.png" />
          </div>
        </div> 

        <div class="slide inner-4"> 
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              TESTIMONIOS 
            </div>   
          </div>
        </div> 

        <div class="slide inner-5"> 
          <div class="info"> 
            <div class="title ">
              REGÍSTRATE 
            </div>   
          </div>
        </div>  

        <div class="slide inner-4"> 
          <div class="info">
            <div class="span">
            </div>
            <div class="title ">
              NUEVO USUARIO 
            </div>   
          </div>
        </div> 

        <div class="slide inner-5"> 
          <div class="info"> 
            <div class="title ">
              ¿INTERESADO EN LA UP?
            </div>   
          </div>
        </div> 

        <div class="slide inner-6"> 
          <div class="info"> 
            <div class="title ">
              MODULO
            </div>   
            <div class="subtitle">
              DE DESCARGAS
            </div> 
          </div>
        </div> 

      </div>
    </div>  
  </div><!-- / -->
</div>
{% endif %}
<!-- /slider -->
 