﻿{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
  <div class="w-proceso">
    {% include 'website/aside-dudas.html' %}
    <div class="w-contentinfo">
        <h1>Proceso de Admisión</h1>

        <div class="fila ">
          <h2>
            <span class="normal1">¿Qué es el</span> 
            <span class="highlight2">TIVU?</span>
          </h2>
            <p>
              Es el Taller de Inducción a la Vida Universitaria. El objetivo del taller es incentivar a los ingresantes a participar activa y responsablemente de la vida universitaria, dándoles a conocer los aspectos académicos y administrativos más relevantes para su desenvolvimiento como estudiantes. 
            </p>
          <p>
              <img src="{{ STATIC_URL }}css/img/img-dudas-carreras-1.png"  width="605" height="65"/>
          </p>
        </div>  

        <div class="fila f-2">
          <h2>
            <span class="normal1">¿Qué es el</span> 
            <span class="highlight">Consorcio de Universidades?</span>
          </h2>
          <p>
            El Consorcio de Universidades es una asociación civil sin fines de lucro conformada por cuatro universidades: Pontificia Universidad Católica del Perú, Universidad Peruana Cayetano Heredia, Universidad del Pacífico y Universidad de Lima<br />
            El objetivo del Consorcio de Universidades, desde su creación en junio de 1996, es unir los esfuerzos individuales y potenciar la actuación conjunta de dichas universidades a favor del desarrollo integral del Perú. 
          </p>
          <p>
            <a href="http://www.consorcio.edu.pe/">
              <img src="{{ STATIC_URL }}css/img/img-dudas-carreras-2.png"  width="605" height="60"/>
            </a>
          </p>
        </div>    

        <div class="fila f-4">
          <h2>
            <span class="normal">¿Qué actvidades paraacadémicas</span> 
            <span class="highlight">se realizan en la UP?</span>
          </h2>
          <p>
            Las actividades paraacadémicas son cursos que complementan la formación de nuestros alumnos para fomentar la diversidad y la formación integral. Estas actividades pueden ser artísticas, culturales y deportivas; y todos los alumnos deben realizarlas durante su carrera universitaria.
          </p> 
        </div>    

        <div class="fila">
          <h2>
            <span class="normal">¿La Universidad del Pacífico</span> 
            <span class="highlight">tiene convenios con universidades extranjeras?</span>
          </h2>
          <p>
            Haz click aquí para ver información acerca de los convenios de la Universidad del Pacífico con universidades extranjeras.
          </p> 
          <p>
            <a href="cextranjero.html">
              <img src="{{ STATIC_URL }}css/img/img-dudas-carreras-3.png"  width="605" height="60"/>
            </a>
          </p>
        </div>  

        <div class="fila f-2">
          <h2>
            <span class="normal1">¿Cuántas vacantes</span> 
            <span class="highlight">hay por carrera en cada modalidad?</span>
          </h2>
          <p>
            En la UP no tenemos un límite de vacantes por carrera
          </p> 
          <p>
              <img src="{{ STATIC_URL }}css/img/img-dudas-carreras-4.png"  width="605" height="60"/>
          </p>
        </div> 

        <div class="fila f-2">
          <h2>
            <span class="normal1">Cuando uno termina la carrera con qué sale</span> 
            <span class="highlight">¿título, especialización, bachiller?</span>
          </h2>
          <p>
            Al terminar la carrera el egresado sale con Bachiller y puede iniciar el trámite para el título profesional, para recibir este título debes haber seguido un curso o presentado un trabajo, no es directo. 
          </p>  
        </div> 

        <div class="fila ">
          <h2>
            <span class="normal">Resuelve tus dudas sobre nuestras carreras</span> 
            <span class="highlight2">y descarga la malla curricular</span>
          </h2> 
          <p>
            <a href="administracion_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-1.png" alt="Administración"  width="65" height="60" />
            </a>
            <a href="contabilidad_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-2.png" alt="Contabilida" width="65" height="60" />
            </a>
            <a href="derecho_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-3.png" alt="Derecho" width="65" height="60" />
            </a>
            <a href="economia_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-4.png" alt="Economía" width="65" height="60" />
            </a>
            <a href="ing-informacion_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-5.png" alt="Ingeniería de la Información" 
                width="65" height="60" />
            </a>
            <a href="ing-empresarial_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-6.png" alt="Ingeniería Empresarial" width="65" height="60" />
            </a>
            <a href="marketing_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-7.png" alt="Marketing" width="65" height="60" />
            </a>
            <a href="negocios_text.html">
              <img src="{{ STATIC_URL }}css/img/ico-carreras-8.png" alt="Negocios Internationales" width="65" height="60" />
            </a>
          </p>
        </div>    

          <div class="fila f-4">
            <h2><span class="highlight">¿Tienes alguna otra duda? Escríbenos aquí</span></h2> 
            <form class="form f-duda" method="POST" action="#">
                <div class="row">
                <label>Nombre</label><input class="input" type="text" name="nombre"/>
                </div>
                <div class="row r-1">
                <label>Correo</label><input class="input" type="text" name="nombre"/>
                </div>
                <div class="row r-2">
                <label>Nombre</label><textarea class="textarea" name="nombre"></textarea>
                </div>
               <div class="cnt-submit"><input class="submit" type="submit" value="Enviar"></div>
            </form> 
         </div>
    </div>

  </div>
{% endblock %}
