{% extends 'website/base.html' %} 
{% block css %}
{% endblock %} 

{%block moduleclass %}m-social{% endblock %}

{% block slider %}  
  <div class="slide inner-3">
    <div class="img"> 
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        REDES SOCIALES 
      </div> 
      <div class="slogan">
      	Explora nuestro mundo digital
				y contribuye con nuestro contenido
      </div>  
    </div>
  </div> 
{% endblock %}

{% block content %} 
<div class="clearfix w-sociales main-block-content">    

	<div class="w-aside"> 
		<div class="fb-like-box" data-href="https://www.facebook.com/pages/Universidad-del-Pac%C3%ADfico/160314300696099" data-width="240" data-show-faces="false" data-stream="true" data-header="false"></div>
  </div>

	<div class="w-contentinfo">
		<!-- BANNER -->
		<div class="banner ">
			<div class="banner_slide">
				<a href="#"><img src="{{STATIC_URL}}css/img/banner_sociales_2.jpg" alt="testimonio" /></a>
			</div> 
			<div class="banner_slide">
				<a href="#"><img src="{{STATIC_URL}}css/img/banner_sociales_2.jpg" alt="testimonio" /></a>
			</div>
		</div>
		<!-- END -->
		<div class="block_sociales">
			<a href="#" class="ico yt"></a> 
			<a href="#" class="ico fb"></a> 
		</div>
		
		<div class="block_list block_list_last">
			<div class="list first">
				<h3>Últimos videos</h3>
				<ul>
					
				</ul>
			</div> 
			
		</div> 
		
	</div>
	
</div>
{% endblock %}
