{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{%block moduleclass %}m-mod{% endblock %}

{% block slider %}  
  <div class="slide inner-4"> 
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        TESTIMONIOS 
      </div>   
    </div>
  </div>  
{% endblock %}

{% block content %} 
<div class="clearfix w-testimonios main-block-content">    

	{% include 'website/aside-testimonios.html' %}  

	<div class="w-contentinfo">

		<!-- big video -->
		<div class="w-item-big">
			<div class="img">
				<a href="">
					<img src="{{STATIC_URL}}css/img/img-testimonio-video-big.jpg" width="450" height="247" />
					<span class="v-play icon i-play"></span>	
				</a>
			</div>
			<div class="info">
				<div class="name">
					Azucena Gutierrez
				</div>
				<div class="">
					Disfruta
				</div>
			</div>
		</div>
		<!-- end -->

		<div class="w-item">
			<div class="media">
				<a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8" >
					<img src="{{STATIC_URL}}css/img/lider-naidi_1.jpg" alt="testimonio" />	
					<span class="v-play icon i-play"></span>			
				</a>
			</div>
			<div class="detail">
				<h3>Gonzalo Begazo</h3>
			</div>
		</div> 
		<div class="w-item">
			<div class="media">
				<a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8" >
					<img src="{{STATIC_URL}}css/img/lider-augusto_1.jpg" alt="testimonio" />	
					<span class="v-play icon i-play"></span>						
				</a>
			</div>
			<div class="detail">
				<h3>Gonzalo Begazo</h3>
			</div>
		</div> 
		<div class="w-item">
			<div class="media">
				<a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8" >
					<img src="{{STATIC_URL}}css/img/lider-azucena_1.jpg" alt="testimonio" />	
					<span class="v-play icon i-play"></span>						
				</a>
			</div>
			<div class="detail">
				<h3>Gonzalo Begazo</h3>
			</div>
		</div> 
		<div class="w-item">
			<div class="media">
				<a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8" >
					<img src="{{STATIC_URL}}css/img/lider-luis estrada_1.jpg" alt="testimonio" />		
					<span class="v-play icon i-play"></span>					
				</a>
			</div>
			<div class="detail">
				<h3>Gonzalo Begazo</h3>
			</div>
		</div> 
		<div class="w-item">
			<div class="media">
				<a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8" >
					<img src="{{STATIC_URL}}css/img/lider-naidi_1.jpg" alt="testimonio" />		
					<span class="v-play icon i-play"></span>					
				</a>
			</div>
			<div class="detail">
				<h3>Gonzalo Begazo</h3>
			</div>
		</div> 
		
	</div>
	
</div>
{% endblock %}
