{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}
{% block content %} 
<div class="clearfix w-testimonios w-explain main-block-content">    

	{% include 'website/aside-testimonios.html' %}  

	<div class="w-contentinfo">
		<div class="">
          <a class="btn-yellow" href="interesado_up.html">OTROS TESTIMONIOS</a>
        </div>
	
	
		<div class="w-item ">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
		<div class="w-item">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
		<div class="w-item">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
		<div class="w-item">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
		<div class="w-item">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
		<div class="w-item">
			<div class="media">
				<img src="{{STATIC_URL}}css/img/img_testimonios_explain.jpg" alt="testimonio" />				
			</div>
			<div class="detail">
				<h3>Patricia <span>Lozada</span></h3>
			</div>
			<div class="expand_text">
				<blockquote>
						<span class="bloq_l"></span>
						<p>Escogí la Escuela de Postgrado de
						la Universidad del Pacífico porque forma parte de una entidad educativa de indudable prestigio,
						con sólidos valores éticos y que posee una formación académica acorde con los lineamientos que
						un profesional debe llevar a la práctica. La Maestría en Administración de Empresas ha contribuido
						decididamente a que desarrolle un enfoque integral para las labores
						que desempeño.	</p>				
						<span class="bloq_r"></span>			
				</blockquote>
				
				<h3>GERENTE DE CAPITAL HUMANO</h3>
				<h4>MONTANA S.A.</h4>
			</div>
			<a href="#" class="arrow_expand"></a>
		</div>
	</div>
	
</div>
{% endblock %}
