{% extends 'website/base.html' %} 
{% block css %}
{% endblock %}

{% block slider %} 
  <div class="slide inner-4">
    <div class="img">
      <img src="{{STATIC_URL}}css/img/img-banner-inner-3.png" width="323" />
    </div>
    <div class="info">
      <div class="span">
      </div>
      <div class="title ">
        Tour Virtual
      </div>   
    </div>
  </div> 
{% endblock %}

{% block content %} 
<div class="clearfix w-tourvirtual main-block-content">    

	{% include 'website/aside-tour.html' %}  

	<div class="w-contentinfo">
		<div class="w-item">
			<div class="media">
				<a href="http://www.youtube.com/watch?v=L3aeyrdrNv8" class="fancyboxVideo" > 
					<img src="{{STATIC_URL}}css/img/img_tourvirtual.jpg" alt="testimonio" /> 
					<span class="icon i-play">
					</span>
				</a>
			</div>
			<div class="detail">
				<h3>Salones de clases</h3>
			</div>
		</div>
		<div class="w-item">
			<div class="media">
				<a href="http://www.youtube.com/watch?v=L3aeyrdrNv8" class="fancyboxVideo" > 
					<img src="{{STATIC_URL}}css/img/img_tourvirtual.jpg" alt="testimonio" /> 
					<span class="icon i-play">
					</span>
				</a>
			</div>
			<div class="detail">
				<h3>Salones de clases</h3>
			</div>
		</div>
		<div class="w-item last">
			<div class="media">
				<a href="http://www.youtube.com/watch?v=L3aeyrdrNv8" class="fancyboxVideo" > 
					<img src="{{STATIC_URL}}css/img/img_tourvirtual.jpg" alt="testimonio" /> 
					<span class="icon i-play">
					</span>
				</a>
			</div>
			<div class="detail">
				<h3>Salones de clases</h3>
			</div>
		</div>
		<div class="w-item">
			<div class="media">
				<a href="http://www.youtube.com/watch?v=L3aeyrdrNv8" class="fancyboxVideo" > 
					<img src="{{STATIC_URL}}css/img/img_tourvirtual.jpg" alt="testimonio" /> 
					<span class="icon i-play">
					</span>
				</a>
			</div>
			<div class="detail">
				<h3>Salones de clases</h3>
			</div>
		</div> 
	</div>
	
</div>
{% endblock %}
