
<div class="inner clearfix">
  <div class="w-hightnav"> 
    <div class="carreras abs w-menu">
      <ul id="menu" class="menu">
        <li><a href="administracion_text.html" title="" class="link-1">Administración <span class="icon"></span></a></li>
        <li><a href="contabilidad_text.html" title="" class="link-2">Contabilidad <span class="icon"></span></a></li>
        <li><a href="derecho_text.html" title="" class="link-4">Derecho <span class="icon"></span></a></li>
        <li><a href="economia_text.html" title="" class="link-3">Economía <span class="icon"></span></a></li>
        <li><a href="ing-informacion_text.html" title="" class="double link-8">Ingeniería de la Información <span class="icon"></span></a></li> 
        <li><a href="ing-empresarial_text.html" title="" class="double link-7">Ingeniería Empresaríal <span class="icon"></span></a></li>
        <li><a href="marketing_text.html" title="" class="link-5">Marketing <span class="icon"></span></a></li>
        <li><a href="negocios_text.html" title="" class="double link-6">Negocios Internacionales <span class="icon"></span></a></li>
      </ul> 
    </div> 

    <div id="breadcrumb" class="w-breadcrumb abs">
      <div class="bread">
        <ul class="menu">
          <li><a href="" title="">Admisión</a></li> 
          
          <li><a href="" title="">Dudas</a></li>
          <li><a href="proceso.html" title="">Proceso de Admisión</a></li>
          
        </ul><!-- / -->
      </div> 
      
      <div class="register">
        <a href="inscribete.html" >Regístrate</a>
      </div> 
      
    </div>
  </div>  
</div> 