﻿﻿<div class="w-aside">
    <div class="main-block">
      <div class="menu sec1">
        
<h3 class="title">
  <div class="text">
      Tour Virtual
  </div>
  <div class="shadow"></div>
</h3> 


        
<ul class="lst_menu">
  <li><a href="tourvirtual.html" class="selected">Tour por Fotos</a></li>
  <li><a href="tourvirtual_videos.html">Tour por Videos</a></li> 
</ul> 

      </div>
      
       

    
       

      
      
      <div class="w-agenda">
        <div class="w-eventos">
        <h3><a href="agenda.html">AGENDA <span class="highlight">ADMISIÓN</span> </a></h3>       
          <div class="events slider"  data-slider="pause">
            <div class="event slide">
                <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
                </div>    
              <div class="info">
                <h4><a href="">Charla <span class="highlight">Informativa</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
              </div> 
              <div class="info">
                <h4><a href="">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
            <div class="event slide">
              <div class="cnt-cal">
                  <div class="cal">
                    <div class="month">mar</div>
                    <div class="day">15</div>
                  </div>
                  <div class="calh">
                        <div class="month">mar</div>
                        <div class="day">15</div>
                  </div>
              </div>
              <div class="info">
                <h4><a href="">Orientación <span class="highlight">vocacional</span> </a></h4>
                <div class="detail">Infórmate de las modalidades de ingreso que te ofrecemos.</div>
                <div class="place">Colegio San Agustín  |  10 a.m.</div>
              </div>
            </div>
          </div>

          <div class="s-controllers">
            <div class="prev"></div> 
            <div class="next"></div> 
          </div>  
          <div class="foot"> 
            <a href="agenda.html">Ver calendario de admisión completo</a>
          </div> 
        </div>
        <div class="shadow"></div>
      </div>
      

       


      
      <!--NOTICIAS-->
      <div class="w-news-block">
        <div class="news">
          <div class="events boxes slider " data-slider="pause">
            <!-- ROWS -->
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="---static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div> 
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="---static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div>
            <div class="row">
              <div class="event box">
                <div class="title">
                  <span class="month">MARZO </span>
                  <span class="day highlight">26</span>
                </div>
                <div class="info">
                  <div class="img">
                    <img width="205" height="92" src="---static/css/img/img-evento-aside.jpg">
                  </div>
                  <h4>Experiencias <span class="highlight">UP</span> </h4>
                  <div class="detail">Este 30 de marzo dimos la bienvenida a 100 orgullosos cachimbos. Los nuevos estudiantes disfrutaron de un divertido día con conciertos y juegos. Revisa las fotos aquí.</div>
                </div>
                
              </div>             
            </div>
            <!-- END ROWS -->
          </div>
          <div class="s-controllers controllers">
            <div class="prev"> </div> 
            <div class="next"> </div> 
          </div> 
        </div> 
        <div class="shadow"></div>
      </div>
      <!--END-->
      
      
      
      <div class="w-testimonio item w-block">
        <a class="fancyboxVideo" href="http://www.youtube.com/watch?v=L3aeyrdrNv8">
          <span class="img">
            <img src="---static/css/img/img-testimonio-noticias.jpg" alt="" width="225"/>
          </span>
          <span class="title">
            <strong>Testimonios</strong>
          </span>
        </a>
      </div> 
      
      
       

      
      <div class="w-social  w-social-ico">  
        <a name="fb_share" type="icon_link" class="w-ico fb" target="_blank"
         href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.up.edu.pe%2F" >
        Compartir en Facebook
        </a> 
        <!--
        <a href="" class="w-ico tw">Compartir en Twitter</a> 
        -->
      </div>
    </div>
  </div>